@using System.ComponentModel.DataAnnotations
@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel
@{
    var reportingYear = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.AccountingDate.Year);
    ViewBag.Title = $"{Model.OrganisationName} gender pay gap data for {reportingYear} reporting year - GOV.UK";
    ViewBag.pageDescription = $"View gender pay gap data for {Model.OrganisationName} for {reportingYear} reporting year and compare with other organisations";
    ViewBag.ogTitle = ViewBag.Title;
    ViewBag.ogType = "business.gender_pay_gap";
    ViewBag.pageClass = "employer-report-page";


    string employerIdentifier = Model.EncryptedOrganisationId;
    var viewModel = new AddRemoveButtonViewModel {OrganisationIdEncrypted = Model.EncryptedOrganisationId, OrganisationName = Model.LatestOrganisationName};
}

<partial name="~/Views/Compare/ComparisonBasket.cshtml" model="ViewBag.BasketViewModel"/>
<div class="grid-row">
    <div style="margin-top: 15px;">
        <partial name="/Views/Components/EnforcementChangesMessage.cshtml"/>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <a class="link-back" href="@(Url.Action("Employer", new {employerIdentifier}))">View all reports for this employer</a>
        <h1 class="heading-large">
            <div id="OrganisationName">
                @Model.LatestOrganisationName
            </div>
            <div>
                @ReportingYearsHelper.FormatYearAsReportingPeriod(Model.AccountingDate.Year, "/") Gender pay gap report
            </div>
        </h1>

        <div class="govuk-grid-row">
            <span>
                <partial name="EmployerDetails/Parts/_ReportStatusBadge" model="new ReportStatusBadgeViewModel {IsLateSubmission = Model.IsLateSubmission, IsVoluntarySubmission = Model.IsVoluntarySubmission}"/>
            </span>
            <partial name="~/Views/Compare/AddRemoveEmployer.cshtml" model="viewModel"/>
        </div>

    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <dl class="metadata employer-report-metadata">
            <div>
                <dt class="metadata-text-label">Registered address:</dt>
                <dd class="metadata-text-value">
                    @if (Model.Address != null)
                    {
                        @Model.Address
                    }
                    else
                    {
                        <span>-</span>
                    }
                </dd>
            </div>
            <div>
                <dt class="metadata-text-label">Nature of business (SIC):</dt>
                <dd class="metadata-text-value">
                    @if (Model.Sector != null)
                    {
                        @Model.Sector
                    }
                    else
                    {
                        <span>-</span>
                    }
                </dd>
            </div>
            <div>
                <dt class="metadata-text-label">Snapshot date:</dt>
                <dd class="metadata-text-value">@Model.AccountingDate.ToString("d MMMM yyyy")</dd>
            </div>
            <div>
                <dt class="metadata-text-label">Employee headcount:</dt>
                <dd class="metadata-text-value">
                    @string.Format("{0}{1}", Model.OrganisationSize.GetAttribute<DisplayAttribute>().Name, Model.OrganisationSize != OrganisationSizes.NotProvided ? " employees" : "")
                </dd>
            </div>
            @if (Model.SectorType == SectorTypes.Private)
            {
                <div>
                    <dt class="metadata-text-label">Person responsible:</dt>
                    <dd class="metadata-text-value">
                        <span>@Model.FirstName @Model.LastName (@Model.JobTitle)</span>
                    </dd>
                </div>
            }

        </dl>
        <div>
            <dt class="visually-hidden">More options</dt>
            <dd>
                <div style="margin-top:30px">
                    @if (UriSanitiser.IsValidHttpOrHttpsLink(Model.CompanyLinkToGPGInfo))
                    {
                        <a href="@Model.CompanyLinkToGPGInfo" rel="external noopener" target="_blank">
                            What this employer says about their gender pay gap <span class="visually-hidden">(opens in a new window)</span>
                        </a>
                    }
                    else
                    {
                        <span>This employer has not provided extra information on their gender pay gap</span>
                    }
                </div>
            </dd>
        </div>
        <hr class="column-two-thirds"/>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <partial name="EmployerDetails/HourlyRate/HourlyRateSection" model="Model"/>
        <partial name="EmployerDetails/Quartiles/QuartilesSection" model="Model"/>
        <partial name="EmployerDetails/BonusPay/BonusPaySection" model="Model"/>
    </div>
    @await Html.PartialAsync("/Views/Submit/RelatedContent.cshtml")
</div>

@section Scripts {
    <script>

        (function () {
            "use strict";

            new GOVUK.Ajaxify({
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error';
                }
            });

        }());

    </script>
}
