@using System.ComponentModel.DataAnnotations
@using GenderPayGap.Core
@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel
@{
    ViewBag.Title = $"{Model.OrganisationName} gender pay gap data for {Model.AccountingDate.Year}-{(Model.AccountingDate.Year + 1).ToTwoDigitYear()} reporting year - GOV.UK";
    ViewBag.pageDescription = $"View gender pay gap data for {Model.OrganisationName} for {Model.AccountingDate.Year}-{(Model.AccountingDate.Year + 1).ToTwoDigitYear()} reporting year and compare with other organisations";
    ViewBag.ogTitle = ViewBag.Title;
    ViewBag.ogType = "business.gender_pay_gap";
    ViewBag.pageClass = "employer-report-page";


    string employerIdentifier = Model.EncryptedOrganisationId;
    var viewModel = new AddRemoveButtonViewModel {OrganisationIdEncrypted = Model.EncryptedOrganisationId, OrganisationName = Model.LatestOrganisationName};
}

<partial name="~/Views/Compare/ComparisonBasket.cshtml" model="ViewBag.BasketViewModel"/>
<div class="grid-row">
    <div style="margin-top: 15px;"> 
        <partial name="/Views/Components/CovidMessage.cshtml"/> 
    </div> 
</div>
<div class="grid-row">
    <div class="column-full">
        <a class="link-back" href="@(Url.Action("Employer", new {employerIdentifier}))">View all reports for this employer</a>
        <h1 class="heading-large">
            <div id="OrganisationName" class="heading-secondary">
                @Model.LatestOrganisationName
            </div>
            <div>
                Gender pay gap report
            </div>
        </h1>

        <div class="govuk-grid-row">
            <span>
                <partial name="EmployerDetails/Parts/_ReportStatusBadge" model="new ReportStatusBadgeViewModel { IsLateSubmission = Model.IsLateSubmission, IsVoluntarySubmission = Model.IsVoluntarySubmission }"/>
            </span>
            <partial name="~/Views/Compare/AddRemoveEmployer.cshtml" model="viewModel"/>
        </div>

    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <dl class="metadata employer-report-metadata">
            <div>
                <dt class="metadata-text-label">Snapshot date</dt>
                <dd class="metadata-text-value">@Model.AccountingDate.ToString("d MMMM yyyy")</dd>
            </div>
            <div>
                <dt class="metadata-text-label">Employer size</dt>
                <dd class="metadata-text-value">
                    @string.Format("{0}{1}", Model.OrganisationSize.GetAttribute<DisplayAttribute>().Name, Model.OrganisationSize != OrganisationSizes.NotProvided ? " employees" : "")
                </dd>
            </div>
            @if (Model.OrganisationSector == OrganisationSectors.Private)
            {
                <div>
                    <dt class="metadata-text-label">Person responsible</dt>
                    <dd class="metadata-text-value">
                        <span>@Model.FirstName @Model.LastName</span><br/><span>(@Model.JobTitle)</span>
                    </dd>
                </div>
            }
            <div>
                <dt class="visually-hidden">More options</dt>
                <dd>
                    <div style="margin: 10px auto;">
                        <a rel="track" data-track-category="Related Link Clicked" target="_blank" href="/public/assets/pdf/understand-your-gender-pay-gap.pdf">Potential causes of the gender pay gap<span class="visually-hidden">(opens in a new window)</span></a>
                    </div>
                    <div style="margin: 10px auto;">
                        <a rel="track" data-track-category="Related Link Clicked" href="/actions-to-close-the-gap">How can employers close the gap</a>
                    </div>
                    @if (UriSanitiser.IsValidHttpOrHttpsLink(Model.CompanyLinkToGPGInfo))
                    {
                        try // This try-catch is here because of a bug in AnchorTagHelper
                        {
                            <div style="margin: 10px auto;">
                                <a href="@Model.CompanyLinkToGPGInfo" rel="external noopener" target="_blank">
                                    What this employer says about their gender pay gap <span class="visually-hidden">(opens in a new window)</span>
                                </a>
                            </div>
                        }
                        catch (ArgumentException)
                        {
                            <div style="margin: 10px auto;">
                                What this employer says about their gender pay gap is available at this website:<br/>
                                @(Model.CompanyLinkToGPGInfo)
                            </div>
                        }
                    }
                    else
                    {
                        <span>This employer has not provided extra information on their gender pay gap</span>
                    }
                </dd>
            </div>
        </dl>

        <hr>
    </div>
</div>

<partial name="EmployerDetails/HourlyRate/HourlyRateSection" model="Model"/>

<partial name="EmployerDetails/Quartiles/QuartilesSection" model="Model"/>

<partial name="EmployerDetails/BonusPay/BonusPaySection" model="Model"/>

<hr style="border: 1px solid black; background: black;"/>
<partial name="~/Views/Viewing/Launchpad/Parts/ServiceSurveyIntroAndLink.cshtml"/>

@section Scripts {
    <script>

        (function () {
            "use strict";

            GOVUK.details.addDetailsPolyfill();

            new GOVUK.Ajaxify({
                onError: function (errorCode, error, errorThrown) {
                    window.location.href = '/error/1146';
                }
            });

        }());

    </script>
}