@model GenderPayGap.WebUI.Models.Viewing.VerticalBarChartModel
@{
    decimal femalePercentage = Math.Max(Math.Round(Math.Min(Model.Female, 100m)), 1m);
    decimal malePercentage = Math.Max(Math.Round(Math.Min(Model.Male, 100m)), 1m);
}

<figure id="@Model.Id" class="govuk-chart-vert">
    <div class="govuk-chart-vert__head">
        @if (Model.FemaleIsLower)
        {
            <div class="govuk-chart-vert__delta" data-chart-value="@Model.DeltaMonetisation" data-chart-text="less">
                <span class="govuk-chart-vert__arrow govuk-chart-vert__arrow--down"></span>
            </div>
        }
        else
        {
            <div class="govuk-chart-vert__delta" data-chart-value="@Model.DeltaMonetisation" data-chart-text="more">
                <span class="govuk-chart-vert__arrow govuk-chart-vert__arrow--up"></span>
            </div>
        }
        <div class="govuk-chart-vert__delta" data-chart-text=""></div>
    </div>
    <div class="govuk-chart-vert__body">
        <div class="govuk-chart-vert__bar govuk-chart-vert__bar--women" style="height: @(femalePercentage)%;"></div>
        <div class="govuk-chart-vert__bar govuk-chart-vert__bar--men" style="height: @(malePercentage)%;"></div>
    </div>
    <div class="govuk-chart-vert__foot">
        <div class="govuk-chart-vert__caption govuk-chart-vert__caption--women" data-chart-text="@Model.FemaleMonetisation"></div>
        <div class="govuk-chart-vert__caption govuk-chart-vert__caption--men" data-chart-text="@Model.MaleMonetisation"></div>
    </div>
</figure>