@model GenderPayGap.Database.UserOrganisation

@{
    ViewBag.Title = "Registration approved - Gender pay gap reporting service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Registration approved
            </h1>
        </div>
        
        <p class="govuk-body">
            You have <b>approved</b>
            <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})"
               class="govuk-link">
                @(Model.User.Fullname)</a>
            to report on behalf of
            <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})"
               class="govuk-link">
                @(Model.Organisation.OrganisationName)
            </a>
        </p>

        <h2 class="govuk-heading-m">
            What happens next
        </h2>
        <p class="govuk-body">
            We’ve sent
            @(Model.User.Fullname)
            an email confirming they can report on behalf of
            @(Model.Organisation.OrganisationName).
        </p>
        
        <p class="govuk-body">
            <a href="@Url.Action("PendingRegistrations", "AdminPendingRegistrations")"
               class="govuk-link">
                Return to Pending Registrations
            </a>
        </p>

    </div>
</div>
