@using Newtonsoft.Json
@using GenderPayGap.Core
@using GenderPayGap.Core.Classes
@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Models.ManageOrganisations
@using GenderPayGap.WebUI.Models.Shared
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.ManageOrganisations.AllOrganisationReportsViewModel

@{
    ViewBag.Title = "View all your employers reports - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
    var organisation = Model.Organisation;
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = "All reports"
            },
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            All reports
            <br>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
    </div>
    @{
        var desktopHeader = new List<TableCellViewModel>
        {
            new TableCellViewModel
            {
                Text = "Snapshot date",
                Colspan = 1
            },
            new TableCellViewModel
            {
                Text = "Reporting requirement",
                Colspan = 1
            },
            new TableCellViewModel
            {
                Text = "Report status",
                Colspan = 1
            },
            new TableCellViewModel
            {
                Text = " ",
                Colspan = 1
            }
        };
        

        var yearsForSelectComponent = new List<string>();
        var allDesktopRows = new List<TableRowViewModel>();
        var allMobileRows = new List<TableRowViewModel>();
        var allReports = Model.GetOrganisationDetailsForYears();
        foreach (var report in allReports)
        {
            allDesktopRows.Add(GenerateDesktopRow(report));
            allMobileRows.Add(GenerateMobileRow(report));
        }

        TableRowViewModel GenerateDesktopRow(AllOrganisationReportsForYearViewModel report)
        {
            yearsForSelectComponent.Add(@organisation.SectorType.GetAccountingStartDate(report.ReportingYear).ToString("dd/MM/yyyy"));
            var newRow = new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new TableCellViewModel
                    {
                        Html = @<text>
                                   <span class="yearTextForFiltering">@organisation.SectorType.GetAccountingStartDate(report.ReportingYear).ToString("dd/MM/yyyy")</span>
                                </text>,
                        Classes = "govuk-!-font-weight-bold"
                    },
                    new TableCellViewModel
                    {
                        Html = @<text>
                                   <div>
                                       @report.GetRequiredToReportOrNotText()
                                   </div>
                                   @if (report.CanChangeScope())
                                   {
                                       <div>
                                           <a href="@Url.Action("ChangeOrganisationScope", "Scope", new {encryptedOrganisationId, reportingYear = report.ReportingYear})" class="govuk-link">
                                               Think this is wrong?<span class="govuk-visually-hidden"> scope for year @report.GetFormattedYearText()</span>
                                           </a>
                                       </div>
                                   }
                                </text>
                    },
                    new TableCellViewModel
                    {
                        Html = @<text>
                                   @{ await Html.RenderPartialAsync("_ReportStatusBadge",
                                          new ReportStatusBadgeViewModel
                                          {
                                              Desktop = true,
                                              DateText = report.GetReportingDeadline().ToString("d MMMM yyyy"),
                                              ReportStatus = report.GetReportBadge()
                                          }); 
                                   }
                                </text>
                    },
                    new TableCellViewModel
                    {
                        Html = @<text>
                                   <a loadtest-id="create-report-@report.ReportingYear" class="govuk-link"
                                      href="@Url.Action("ReportOverview", "ReportOverview", new {encryptedOrganisationId, reportingYear = report.ReportingYear, canTriggerLateSubmissionWarning = true})">
                                       @report.GetReportLinkText()
                                   </a>
                                </text>
                    },
                }
            };
            return newRow;
        }
        TableRowViewModel GenerateMobileRow(AllOrganisationReportsForYearViewModel report)
        {
            var newRow = new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new TableCellViewModel
                    {
                        Html = @<text>
                                   <span class="govuk-!-font-weight-bold ">
                                       Snapshot date: @organisation.SectorType.GetAccountingStartDate(report.ReportingYear).ToString("dd/MM/yyyy")
                                   <span class="yearTextForFiltering" style="visibility: hidden">@organisation.SectorType.GetAccountingStartDate(report.ReportingYear).ToString("dd/MM/yyyy")</span>
                                   </span>
                                    <div>
                                        @report.GetRequiredToReportOrNotText()
                                    </div>
                                    @if (report.CanChangeScope())
                                    {
                                        <div class="govuk-!-margin-top-1">
                                            <a href="@Url.Action("ChangeOrganisationScope", "Scope", new {encryptedOrganisationId, reportingYear = report.ReportingYear})" class="govuk-link">
                                                Think this is wrong?<span class="govuk-visually-hidden"> scope for year @report.GetFormattedYearText()</span>
                                            </a>
                                        </div>
                                    }
                                    @{ await Html.RenderPartialAsync("_ReportStatusBadge",
                                           new ReportStatusBadgeViewModel
                                           {
                                               Desktop = false,
                                               DateText = report.GetReportingDeadline().ToString("d MMMM yyyy"),
                                               ReportStatus = report.GetReportBadge(),
                                               MobileClasses = "govuk-!-margin-top-5 govuk-!-margin-bottom-3"
                                           }); 
                                    }
                                    <br/>
                                    <a loadtest-id="create-report-@report.ReportingYear" class="govuk-link"
                                       href="@Url.Action("ReportOverview", "ReportOverview", new {encryptedOrganisationId, reportingYear = report.ReportingYear, canTriggerLateSubmissionWarning = true})">
                                        @report.GetReportLinkText()
                                    </a>
                                </text>,
                        Classes = "govuk-!-padding-bottom-8"
                    }
                }
            };
            return newRow;
        }
        
        var dateJoinedRow = new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new TableCellViewModel
                {
                    Html = @<text>
                               @await Html.GovUkHint(
                                   new HintViewModel
                                   {
                                       Text = "Employer joined Gender Pay Gap service on " + @Model.Organisation.Created.ToString("dd/MM/yyyy"),
                                       Classes = "govuk-!-margin-top-4 govuk-!-text-align-centre"
                                   })
                            </text>,
                    Colspan = 4
                }
            }
        };
        
        var indexOfCompanyJoined = organisation.GetRecentReports(Global.ShowReportYearCount).ToList().FindIndex(report => Model.Organisation.Created > ReportingYearsHelper.GetDeadlineForAccountingDate(report.AccountingDate));
        if(indexOfCompanyJoined >= 0)
        {
            allMobileRows.Insert(indexOfCompanyJoined, dateJoinedRow);
            allDesktopRows.Insert(indexOfCompanyJoined, dateJoinedRow);
        }
        else
        {
            allMobileRows.Add(dateJoinedRow);
            allDesktopRows.Add(dateJoinedRow);
        }
        
        var currentPage = Model.CurrentPage ?? 1;
        var entriesPerPage = Model.EntriesPerPage ?? 10;
        var startIndex = (currentPage - 1) * entriesPerPage;
        var endIndex = startIndex + entriesPerPage > allDesktopRows.Count ? allDesktopRows.Count : startIndex + entriesPerPage;
                
        var desktopDisplayRows = new List<TableRowViewModel>();
        var mobileDisplayRows = new List<TableRowViewModel>();
                    
        for (int i = startIndex; i < endIndex; i++)
        {
            mobileDisplayRows.Add(allMobileRows[i]);
            desktopDisplayRows.Add(allDesktopRows[i]);
        }
    }
    <div class="govuk-grid-column-full" id="filteringArea">
        <input type="hidden" id="selectOptionsFromReports"
               value=@JsonConvert.SerializeObject(yearsForSelectComponent)>
    </div>
    <div class="govuk-grid-column-full">
    
    @await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = desktopHeader,
            Rows = desktopDisplayRows,
            Classes = "gpg-govuk-hideOnMobile govuk-grid-column-full"
        })

    @await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>(),
            Rows = mobileDisplayRows,
            Classes = "gpg-govuk-hideOnDesktop govuk-grid-column-full"
        })
    
    @{
        var nextLink = new PaginationLinkViewModel()
        {
            Text = "Next page",
            LabelText = $"{Model.CurrentPage + 1} of {Model.TotalPages}",
            Href = Url.Action("AllOrganisationReportsGet", new {encryptedOrganisationId, page = Model.CurrentPage + 1})
        };
    
        var previousLink = new PaginationLinkViewModel()
        {
            Text = "Previous page",
            LabelText = $"{Model.CurrentPage - 1} of {Model.TotalPages}",
            Href = Url.Action("AllOrganisationReportsGet", new {encryptedOrganisationId, page = Model.CurrentPage - 1})
        };
    
        if (Model.TotalPages < 2 || Model.CurrentPage == Model.TotalPages)
            nextLink = null;
        if (Model.CurrentPage < 2)
            previousLink = null;
    }
    @await Html.GovUkPagination(new PaginationViewModel()
        {
            Next = nextLink,
            Previous = previousLink,
        })
    </div>
</div>

<script>
    var parentForSelect = document.getElementById("filteringArea");
    
    var selectLabel = document.createElement("label");
    selectLabel.className = "govuk-label";
    selectLabel.for = "yearFilter";
    selectLabel.textContent = "Filter for a snapshot date";
    
    var elements = document.getElementsByClassName("yearTextForFiltering");
    
    var selectList = document.createElement("select");
    selectList.className = "govuk-select govuk-!-margin-bottom-3";
    selectList.id = "filterYearSelect";
    selectList.addEventListener("change",function (e){
        for (var i = 0; i < elements.length; i++){
            var tableRow = elements[i].closest("tr");
            tableRow.hidden = true;
            
            if (elements[i].innerHTML.includes(e.target.value) || e.target.value === "Show All"){
                tableRow.hidden = false;
            }
        }
    }) 
   
    parentForSelect.appendChild(selectLabel);
    parentForSelect.appendChild(selectList);

    var showAll = document.createElement("option");
    showAll.value = "Show All";
    showAll.text = "Show All";
    showAll.selected = true;
    selectList.appendChild(showAll);
    
    var arrayOfYears = JSON.parse(document.getElementById("selectOptionsFromReports").value);
    for (var i = 0; i < arrayOfYears.length; i++){
         var option = document.createElement("option");
         option.value = arrayOfYears[i];
         option.text = arrayOfYears[i];
         selectList.appendChild(option);
    }
</script>



