@using GenderPayGap.Database
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.ManageOrganisations.ManageOrganisationsViewModel

@{
    ViewBag.Title = "Manage your employer - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        await Html.RenderPartialAsync("../Components/Navigation/AccountTabs");
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Add or select an employer you're reporting for
        </h1>
        
        <p class="govuk-body">
            Add or select an employer so you can:
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>enter gender pay gap information and save a draft for publication at a later date</li>
            <li>report your gender pay gap information</li>
            <li>change whether your employer is required to report for each reporting year</li>
        </ul>
        
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Employer name</th>
                    <th scope="col" class="govuk-table__header">Registration status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (UserOrganisation userOrganisation in Model.UserOrganisations)
                {
                    string encryptedOrganisationId = Encryption.EncryptQuerystring(userOrganisation.OrganisationId.ToString());

                    <tr class="govuk-table__row">
                        @if (userOrganisation.IsAwaitingActivationPIN())
                        {
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="@Url.Action("EnterPinGet", "AddOrganisationEnterPin", new {organisationId = userOrganisation.OrganisationId})">
                                    @(userOrganisation.Organisation.OrganisationName.ToUpper())
                                </a>
                            </td>
                            <td class="govuk-table__cell">
                                Awaiting activation PIN
                            </td>    
                        } else if (userOrganisation.IsAwaitingRegistrationApproval())
                        {
                            <td class="govuk-table__cell">
                                @(userOrganisation.Organisation.OrganisationName.ToUpper())
                            </td>
                            <td class="govuk-table__cell">
                                Awaiting registration approval
                            </td>    
                        }
                        else
                        {
                            <td class="govuk-table__cell">
                                <a class="govuk-link" loadtest-id="organisation-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})">
                                    @(userOrganisation.Organisation.OrganisationName.ToUpper())
                                </a>
                            </td>
                            <td class="govuk-table__cell">
                                Registration complete
                            </td>    
                        }
                    </tr>
                }
            </tbody>
        </table>
        
        @(await Html.GovUkButton(new ButtonViewModel
        {
            Text = "Add employer",
            Classes = "govuk-!-margin-bottom-8",
            Href = Url.Action("ChooseSector", "AddOrganisationChooseSector")
        }))
        
        @if (!Model.UserOrganisations.Any())
        {
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                Need to close your account?
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-8 govuk-!-width-two-thirds">
                If you created an account by mistake
                or are no longer responsible for reporting gender pay gap data
                you can close your account in <a href="@Url.Action("ManageAccountGet", "ManageAccount")">manage account</a>.
            </p>
        }

    </div>
</div>
