@using GenderPayGap.Core
@using GenderPayGap.WebUI.Models.ManageOrganisations
@model GenderPayGap.WebUI.Models.ManageOrganisations.ManageOrganisationViewModel

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Year</th>
            <th scope="col" class="govuk-table__header">Reporting requirement</th>
            <th scope="col" class="govuk-table__header">Report status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @{
            foreach (ManageOrganisationDetailsForYearViewModel detailsForYear in Model.GetOrganisationDetailsForYears())
            {
                string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">
                        @detailsForYear.GetFormattedYearText()
                    </td>
                    
                    <td class="govuk-table__cell">
                        <div>
                            @detailsForYear.GetRequiredToReportOrNotText()
                            
                            @{
                                var reportingDeadlineText = detailsForYear.GetByReportingDeadlineText();
                            }
                            
                            @if (reportingDeadlineText != null)
                            {
                                <br/>
                                @reportingDeadlineText
                            }
                        </div>
                        @if (detailsForYear.CanChangeScope()) 
                        {
                            <div>
                                <a href="@Url.Action("ChangeOrganisationScope", "Scope", new { encryptedOrganisationId = encryptedOrganisationId, reportingYear = detailsForYear.ReportingYear })">
                                    Change<span class="govuk-visually-hidden"> scope for year @detailsForYear.GetFormattedYearText()</span>
                                </a>
                            </div>
                        }
                    </td>
                    
                    <td class="govuk-table__cell">
                        <div>
                            @detailsForYear.GetReportStatusText()
                        </div>
                        <div>
                            @if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.NewReportingJourney))
                            {
                                <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0"
                                   loadtest-id="create-report-@detailsForYear.ReportingYear"
                                   href="@Url.Action("ReportOverview", "ReportOverview", new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = detailsForYear.ReportingYear})">
                                    @detailsForYear.GetReportButtonText()
                                </a>
                            }
                            else
                            {
                                var encryptedRequestParam = Encryption.EncryptAsParams(Model.Organisation.OrganisationId.ToString(), detailsForYear.ReportingYear.ToString(), detailsForYear.DoesReturnOrDraftReturnExistForYear().ToString());

                                <a role="button"
                                   href="@Url.Action("ReportForOrganisation", "Organisation", new {request = encryptedRequestParam})"
                                   class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0"
                                   loadtest-id="create-report-@detailsForYear.ReportingYear">
                                    @detailsForYear.GetReportButtonText()
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>