@using GenderPayGap.Core.Classes
@using GenderPayGap.WebUI.Models.Organisation
@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.Organisation.OrganisationReportsViewModel

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Year</th>
            <th scope="col" class="govuk-table__header">Reporting requirement</th>
            <th scope="col" class="govuk-table__header">Report status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @{
            foreach (KeyValuePair<int, OrganisationScopeForYear> scopeForYear in Model.OrganisationScopesByYear)
            {
                int reportingYear = scopeForYear.Key;
                OrganisationScopeForYear organisationScopeForYear = scopeForYear.Value;

                string formattedYearText = $"{reportingYear}/{(reportingYear + 1).ToTwoDigitYear()}";
                
                DateTime snapshotDate = organisationScopeForYear.GetSnapshotDate();
                DateTime deadline = snapshotDate.AddYears(1).AddDays(-1);
                    
                string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.OrganisationId.ToString());
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">
                        @formattedYearText
                    </td>
                    
                    <td class="govuk-table__cell">
                        <div>
                            @organisationScopeForYear.GetScopeVariantText()
                            
                            @{
                                var reportingDeadlineText = organisationScopeForYear.GetByReportingDeadlineText(deadline);
                            }
                            
                            @if (reportingDeadlineText != null)
                            {
                                <br/>
                                @reportingDeadlineText
                            }
                        </div>
                        @if (organisationScopeForYear.CanChangeScope()) 
                        {
                            <div>
                                <a href="@(Url.Action("ChangeOrganisationScope", "Scope", new { encryptedOrganisationId = encryptedOrganisationId, reportingYear = reportingYear }))">
                                    Change<span class="govuk-visually-hidden"> scope for year @formattedYearText</span>
                                </a>
                            </div>
                        }
                    </td>
                    
                    <td class="govuk-table__cell">
                        <div>
                            @organisationScopeForYear.GetReportStatusText()
                        </div>
                        <div>
                            @if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.NewReportingJourney))
                            {
                                <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" href="@Url.Action("ReportOverview", "ReportOverview",
                                                                  new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = reportingYear})">
                                    @organisationScopeForYear.GetReportButtonText()
                                </a>
                            }
                            else
                            {
                                var encryptedRequestParam = Encryption.EncryptAsParams(Model.OrganisationId.ToString(), reportingYear.ToString(), organisationScopeForYear.IsAnyReportAvailable().ToString());
                                
                                <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" href="@Url.Action("ReportForOrganisation", "Organisation", new {request = encryptedRequestParam})">
                                    @organisationScopeForYear.GetReportButtonText()
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>