@using GenderPayGap.WebUI.Models.ManageOrganisations
@using GenderPayGap.Core.Helpers
@model GenderPayGap.WebUI.Models.ManageOrganisations.ManageOrganisationViewModel

<div class="overflowx">
    <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Year</th>
            <th scope="col" class="govuk-table__header">Reporting requirement</th>
            <th scope="col" class="govuk-table__header">Report status</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @{
            foreach (ManageOrganisationDetailsForYearViewModel detailsForYear in Model.GetOrganisationDetailsForYears())
            {
                string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">
                        @detailsForYear.GetFormattedYearText()
                    </td>
                    
                    <td class="govuk-table__cell">
                        <div>
                            @detailsForYear.GetRequiredToReportOrNotText()
                        </div>
                        @if (detailsForYear.CanChangeScope()) 
                        {
                            <div>
                                <a href="@Url.Action("ChangeOrganisationScope", "Scope", new { encryptedOrganisationId = encryptedOrganisationId, reportingYear = detailsForYear.ReportingYear })">
                                    Change<span class="govuk-visually-hidden"> scope for year @detailsForYear.GetFormattedYearText()</span>
                                </a>
                            </div>
                        }
                    </td>
                    
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag @detailsForYear.GetReportTagClassName()">
                            @detailsForYear.GetReportTagText().ToUpper()
                        </strong>
                        @{
                            string description = detailsForYear.GetReportTagDescription();
                            string modifiedDateText = detailsForYear.GetModifiedDateText();
                            string modifiedDateTextClass = description != null ? "" : "govuk-!-margin-top-3";
                            
                            if (description != null)
                            {
                                <div class="govuk-!-margin-top-3">@description</div>
                            }

                            if (modifiedDateText != null)
                            {
                                <div class="@modifiedDateTextClass">@modifiedDateText</div>
                            }
                        }
                    </td>

                    <td class="govuk-table__cell">
                        @if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.NewReportingJourney))
                        {
                            <a loadtest-id="create-report-@detailsForYear.ReportingYear"
                               href="@Url.Action("NewReportOverview", "NewReportOverview", new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = detailsForYear.ReportingYear, shouldShowLateSubmissionWarning = true})">
                                @detailsForYear.GetReportLinkText()
                            </a>
                        }
                        else
                        {
                            var encryptedRequestParam = Encryption.EncryptAsParams(Model.Organisation.OrganisationId.ToString(), detailsForYear.ReportingYear.ToString(), detailsForYear.DoesReturnOrDraftReturnExistForYear().ToString());

                            <a href="@Url.Action("ReportForOrganisation", "Organisation", new {request = encryptedRequestParam})"
                               loadtest-id="create-report-@detailsForYear.ReportingYear">
                                @detailsForYear.GetReportLinkText()
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>