@using GenderPayGap.Database
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.AddOrganisation.AddOrganisationManualViewModel
@{
    ViewBag.Title = "Add a sector code to your organisation - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        Model.Validate = null; // Required to make the "Back" link work correctly
        var temp = Model.SicSections; // Temporarily remove the SicSections (to make the "Back" link not ugly)
        Model.SicSections = null;

        string backLinkHref;
        if (Model.Editing == true)
        {
            Model.Editing = null; // To make the url look a bit nicer (the Review page implies we're editing so there's no need for "Editing" in the url)
            backLinkHref = Url.Action("ManualConfirmGet", "AddOrganisationManualConfirm", Model);
        }
        else
        {
            backLinkHref = Url.Action("ManualAddress", "AddOrganisationManualAddress", Model);
        }
    }
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = backLinkHref,

        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
    @{
        Model.SicSections = temp; // Now put the SicSections back
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @(Html.GovUkErrorSummary())

        <h1 class="govuk-heading-xl">
            Add a sector code to your organisation
        </h1>
        <p class="govuk-body">
            Your organisation will be reported as "Private sector".
        </p>
        <p class="govuk-body">
            You can also be reported under other business sectors by adding one or more Standard Industrial Classification (SIC) codes.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
            Standard Industrial Classification (SIC) codes are used to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                ensure your organisation is classified in the correct sector
            </li>
            <li>
                allow for sector comparisons between other organisations
            </li>
        </ul>
        <p class="govuk-body">
            Add your SIC codes from the categories below
        </p>

        <form method="get"
              action="@Url.Action("ManualSicCodes", "AddOrganisationManualSicCodes")">
            @(Html.HiddenFor(m => m.Editing))
            @(Html.HiddenFor(m => m.Sector))
            @(Html.HiddenFor(m => m.Query))
            @(Html.HiddenFor(m => m.OrganisationName))
            @(Html.HiddenFor(m => m.PoBox))
            @(Html.HiddenFor(m => m.Address1))
            @(Html.HiddenFor(m => m.Address2))
            @(Html.HiddenFor(m => m.Address3))
            @(Html.HiddenFor(m => m.TownCity))
            @(Html.HiddenFor(m => m.County))
            @(Html.HiddenFor(m => m.Country))
            @(Html.HiddenFor(m => m.PostCode))
            @(Html.HiddenFor(m => m.IsUkAddress))
            @{
                Model.Validate = true;
                @(Html.HiddenFor(m => m.Validate))
            }

            <div class="govuk-accordion"
                 data-module="govuk-accordion"
                 id="add-organisation-manual-sic-codes-list">
                @foreach (SicSection sicSection in Model.SicSections.OrderBy(ss => ss.SicSectionId))
                {
                    <div class="govuk-accordion__section"
                         gpg-module="add-organisation-manual-sic-section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button"
                                      id="accordion-default-heading-@(sicSection.SicSectionId)">
                                    <span>
                                        @(sicSection.Description)
                                    </span>
                                </span>
                                <span class="add-organisation-manual-sic-codes-selected-count">
                                    @* This span gets populated by javascript with the count of checkboxes checked in this section
                                e.g. "3 added" *@
                                </span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-@(sicSection.SicSectionId)"
                             class="govuk-accordion__section-content govuk-!-padding-0">

                            <div class="govuk-table">
                                <div class="govuk-table__body">

                                    @{
                                        List<SicCode> sicCodes = sicSection.SicCodes
                                            .OrderBy(sc => sc.SicCodeId)
                                            .ToList();
                                    }
                                    @for (int i = 0; i < sicCodes.Count; i++)
                                    {
                                        SicCode sicCode = sicCodes[i];

                                        <label for="sic-code-@(sicCode.SicCodeId)"
                                               class="govuk-table__row add-organisation-manual-sic-code"
                                               gpg-module="add-organisation-manual-sic-code">
                                            <div class="govuk-table__cell govuk-checkboxes__item"
                                                 gpg-module="add-organisation-manual-sic-code-input-wrapper">
                                                <input type="checkbox"
                                                       name="@(nameof(Model.SicCodes))"
                                                       value="@(sicCode.SicCodeId)"
                                                       id="sic-code-@(sicCode.SicCodeId)"
                                                       class="govuk-checkboxes__input"
                                                       gpg-module="add-organisation-manual-sic-code-input"
                                                       checked="@(Model.SicCodes.Contains(sicCode.SicCodeId) ? "checked" : null)">
                                                <label class="govuk-label govuk-checkboxes__label"
                                                       aria-hidden="true">
                                                    @* This empty <label> is only here to allow the Gov Design System CSS to style the checkbox
                                                There is a real <label for=""> element later which actually links to this checkbox
                                                Note: the checkbox is only show if javascript is disabled! *@
                                                </label>
                                            </div>

                                            <div class="govuk-table__cell add-organisation-manual-sic-code-text">
                                                @(sicCode.SicCodeId)
                                            </div>
                                            <div class="govuk-table__cell add-organisation-manual-sic-code-text">
                                                @(sicCode.Description)
                                            </div>
                                            <div class="govuk-table__cell add-organisation-manual-sic-code-link-wrapper">
                                                <a href="#"
                                                   class="govuk-link"
                                                   gpg-module="add-organisation-manual-sic-code-link">
                                                    <span class="add-organisation-manual-sic-code-link-add">
                                                        Add
                                                    </span>
                                                    <span class="add-organisation-manual-sic-code-link-remove">
                                                        Remove
                                                    </span>
                                                    <span class="govuk-visually-hidden">
                                                        SIC code @(sicCode.SicCodeId) @(sicCode.Description)
                                                    </span>
                                                </a>
                                            </div>
                                        </label>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                   class="govuk-link">
                    Cancel and return to your organisations
                </a>
            </p>

        </form>

    </div>
</div>

<script>
    (function () {

        function setSicCodeClassBasedOnInputCheckedValue(sicCodeElement, checked) {
            if (checked) {
                sicCodeElement.classList.add('add-organisation-manual-sic-code-checked');
            } else {
                sicCodeElement.classList.remove('add-organisation-manual-sic-code-checked');
            }
        }

        function updateCounts() {
            var sicSections = document.querySelectorAll("*[gpg-module='add-organisation-manual-sic-section']");
            sicSections.forEach(function (sicSection) {
                var numberOfSelectedSicCodeInputs = sicSection.querySelectorAll("input:checked").length;

                var sicCodeSelectedCount = sicSection.querySelector(".add-organisation-manual-sic-codes-selected-count");
                sicCodeSelectedCount.innerText = `${numberOfSelectedSicCodeInputs} added`;

                if (numberOfSelectedSicCodeInputs > 0) {
                    sicCodeSelectedCount.classList.add('govuk-!-font-weight-bold');
                } else {
                    sicCodeSelectedCount.classList.remove('govuk-!-font-weight-bold');
                }
            });
        }

        var sicCodes = document.querySelectorAll("*[gpg-module='add-organisation-manual-sic-code']");

        sicCodes.forEach(function (sicCode) {
            var sicCodeInputWrapper = sicCode.querySelector("*[gpg-module='add-organisation-manual-sic-code-input-wrapper']");
            sicCodeInputWrapper.style.display = 'none';

            var sicCodeInput = sicCode.querySelector("*[gpg-module='add-organisation-manual-sic-code-input']");
            sicCodeInput.addEventListener('change', function () {
                setSicCodeClassBasedOnInputCheckedValue(sicCode, sicCodeInput.checked);
                updateCounts();
            });

            var sicCodeLink = sicCode.querySelector("*[gpg-module='add-organisation-manual-sic-code-link']");
            sicCodeLink.addEventListener('click', function (event) {
                // When the "Add / Remove" link is clicked:
                // - prevent the default action (navigating to #)
                event.preventDefault();
                // - toggle the value of the checkbox
                sicCodeInput.checked = !sicCodeInput.checked;
                // - add/remove a class on the parent element (controls the styling of checked rows)
                setSicCodeClassBasedOnInputCheckedValue(sicCode, sicCodeInput.checked);
                updateCounts();
            });

            // Add/remove a class on the parent element of ALL rows when the page first loads (controls the styling of checked rows)
            setSicCodeClassBasedOnInputCheckedValue(sicCode, sicCodeInput.checked);
        });

        updateCounts();

    })();
</script>
