@inject CompareViewService CompareViewService
@model GenderPayGap.Database.Organisation

@{
    string returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
}

@if (CompareViewService.BasketContains(Model.OrganisationId))
{
    <form method="GET" action="@Url.Action("RemoveEmployer", "CompareEmployers", new { organisationId = Model.OrganisationId, returnUrl = returnUrl })">
        <button type="submit"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
            Remove
            <span class="visuallyhidden govuk-visually-hidden">
                @Model.OrganisationName
            </span>
            from comparison
        </button>
        <input type="hidden" name="returnUrl" value="@(returnUrl)">
    </form>
}
else
{
    <form method="GET" action="@Url.Action("AddEmployer", "CompareEmployers", new { organisationId = Model.OrganisationId, returnUrl = returnUrl })">
        <button type="submit"
                class="govuk-button"
                data-module="govuk-button">
            Add
            <span class="visuallyhidden govuk-visually-hidden">
                @Model.OrganisationName
            </span>
            to comparison
        </button>
        <input type="hidden" name="returnUrl" value="@(returnUrl)">
    </form>
}
