@model ChangePasswordViewModel

@if (ViewContext.ModelState.ErrorCount > 0)
{
    @await Html.PartialAsync("Patterns/ErrorSummary", ViewContext.ModelState)
}

<div class="grid-row">

    <div class="column-two-thirds">

        <form method="post">

            @Html.AntiForgeryToken()

            <fieldset>

                <legend>
                    <h1 class="heading-large">Change your password</h1>
                </legend>

                <div class="form-group @Html.SetErrorClass(model => model.CurrentPassword, "error")">
                    @Html.LabelFor(m => m.CurrentPassword, new {@class = "form-label"})
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new {@class = "error-message"})
                    @Html.PasswordFor(model => model.CurrentPassword, new {@class = "form-control form-control-3-4", value = Model.CurrentPassword})
                </div>

                <div class="form-group @Html.SetErrorClass(model => model.NewPassword, "error")">
                    @Html.LabelFor(m => m.NewPassword, new {@class = "form-label"})
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = "error-message"})
                    @Html.PasswordFor(model => model.NewPassword, new {@class = "form-control form-control-3-4", autocomplete = "off", value = Model.NewPassword})
                </div>

                <div class="form-group @Html.SetErrorClass(model => model.ConfirmNewPassword, "error")">
                    @Html.LabelFor(m => m.ConfirmNewPassword, new {@class = "form-label"})
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new {@class = "error-message"})
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new {@class = "form-control form-control-3-4", autocomplete = "off", value = Model.NewPassword})
                </div>

                <div>
                    <input class="button" type="submit" role="button" value="Confirm"/>
                </div>

                <div>
                    <a href="@(Url.Action<ManageAccountController>(nameof(ManageAccountController.ManageAccount)))" style="display: inline-block; margin-top: 1em;">Cancel</a>
                </div>

            </fieldset>

        </form>

    </div>

</div>