@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using System.ComponentModel.DataAnnotations
@using GenderPayGap.Core
@using GenderPayGap.WebUI.Models.Report
@using GenderPayGap.WebUI.Views.Components.StatusMessages
@using GovUkDesignSystem.GovUkDesignSystemComponents.SubComponents
@model GenderPayGap.WebUI.Models.Report.ReportOverviewViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";
    
    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";

    string GetEditLinkForReportFigures(string elementId)
    {
        string reportFiguresLink = Url.Action("ReportFiguresGet", "ReportFigures",
            new
            {
                encryptedOrganisationId,
                reportingYear = Model.ReportingYear
            });
        return $"{reportFiguresLink}#{elementId}";
    }
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{formattedReportingYears} Reporting year"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages", new StatusMessagesViewModel()); }
                
        @(await Html.GovUkErrorSummary(ViewData.ModelState))

        <h1 class="govuk-heading-l"> Review your gender pay gap data for snapshot date @(Model.SnapshotDate.ToString("d MMMM yyyy"))</h1>
        
        <h2 class="govuk-heading-m govuk-!-margin-bottom-8" style="font-weight: normal;">Reporting as @(Model.Organisation.OrganisationName)</h2>
        
        @if (!Model.AllRequiredFieldsAreFilled() && !Model.IsEditingSubmittedReturn)
        {
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    More information is required to complete your submission
                </strong>
            </div>
        }

        @{
            var hourlyPayQuarterPercentageSection = new ReportOverviewSectionViewModel
            {
                Title = "Percentage of men and women in each hourly pay quarter",
                EditLink = GetEditLinkForReportFigures("PayQuartersFieldset"),
                LeftTitle = "Men",
                RightTitle = "Women",
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Upper hourly pay quarter</text>,
                        LeftValue = Model.GetPayQuarterValue(Html, m => m.MaleUpperPayBand),
                        RightValue = Model.GetPayQuarterValue(Html,m => m.FemaleUpperPayBand)
                    },
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Upper middle hourly pay quarter</text>,
                        LeftValue = Model.GetPayQuarterValue(Html,m => m.MaleUpperMiddlePayBand),
                        RightValue = Model.GetPayQuarterValue(Html,m => m.FemaleUpperMiddlePayBand)
                    },
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Lower middle hourly pay quarter</text>,
                        LeftValue = Model.GetPayQuarterValue(Html,m => m.MaleLowerMiddlePayBand),
                        RightValue = Model.GetPayQuarterValue(Html,m => m.FemaleLowerMiddlePayBand)
                    },
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Lower hourly pay quarter</text>,
                        LeftValue = Model.GetPayQuarterValue(Html, m => m.MaleLowerPayBand),
                        RightValue = Model.GetPayQuarterValue(Html,m => m.FemaleLowerPayBand)
                    }

                }
            };

            var hourlyPayMeanAndMedianSection = new ReportOverviewSectionViewModel
            {
                Title = "Mean and Median gender pay gap using hourly pay",
                EditLink = GetEditLinkForReportFigures("HourlyPayFieldset"),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Mean gender pay gap using hourly pay</text>,
                        RightValue = Model.GetPercentageValue(Html, m => m.DiffMeanHourlyPayPercent)
                    },
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Median gender pay gap using hourly pay</text>,
                        RightValue =  Model.GetPercentageValue(Html,m => m.DiffMedianHourlyPercent)
                    }
                }
            };
            
            var bonusPayPercentageSection = new ReportOverviewSectionViewModel
            {
                Title = "Percentage of men and women who received bonus pay",
                LeftTitle = "Men",
                RightTitle = "Women",
                EditLink = GetEditLinkForReportFigures("BonusPayFieldset"),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Percentage of men and women who received bonus pay</text>,
                        LeftValue = Model.GetPercentageValue(Html,m => m.MaleBonusPayPercent),
                        RightValue = Model.GetPercentageValue(Html,m => m.FemaleBonusPayPercent)
                    }
                }
            };
            
            var bonusPayMeanAndMedianGenderPayGapSection = new ReportOverviewSectionViewModel
            {
                Title = "Mean and Median gender pay gap using bonus pay",
                EditLink = GetEditLinkForReportFigures("MeanBonusFieldset"),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Mean gender pay gap using bonus pay</text>,
                        RightValue = Model.GetMeanOrMedianValue(Html, m => m.DiffMeanBonusPercent)
                    },
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Median gender pay gap using bonus pay</text>,
                        RightValue = Model.GetMeanOrMedianValue(Html,m => m.DiffMedianBonusPercent)
                    }
                }
            };
            
            var personResponsibleSection = new ReportOverviewSectionViewModel
            {
                Title = "Person responsible in your organisation",
                EditLink = Url.Action("ReportResponsiblePersonGet", "ReportResponsiblePerson", new 
                {
                    encryptedOrganisationId,
                    reportingYear = Model.ReportingYear
                }),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>@(Model.ResponsiblePersonFirstName) @(Model.ResponsiblePersonLastName)<br/>@(Model.ResponsiblePersonJobTitle)</text>,
                        RightValue = Model.PersonResponsibleNotProvided() ? 
                            await Html.GovUkHtmlText(new HtmlText(null, "Not Provided"))
                            : await Html.GovUkHtmlText(new HtmlText(null, ""))
                    }
                }
            };

            var employeeHeadcountSection = new ReportOverviewSectionViewModel
            {
                Title = "Employee headcount",
                EditLink = Url.Action("ReportSizeOfOrganisationGet", "ReportSizeOfOrganisation", new 
                {
                    encryptedOrganisationId,
                    reportingYear = Model.ReportingYear
                }),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<text>Number of employees used to establish your headcount for gender pay gap reporting, on your snapshot date</text>,
                        RightValue = !Model.SizeOfOrganisation.HasValue ? 
                            await Html.GovUkHtmlText(new HtmlText(null, "Not Provided" ))
                            : await Html.GovUkHtmlText(new HtmlText(null, Model.SizeOfOrganisation.GetAttribute<DisplayAttribute>().Name))
                    }
                }
            };
            
            var linkToGenderPayGapInformationSection = new ReportOverviewSectionViewModel
            {
                Title = "Link to your gender pay gap information",
                EditLink = Url.Action("ReportLinkToWebsiteGet", "ReportLinkToWebsite", new 
                {
                    encryptedOrganisationId,
                    reportingYear = Model.ReportingYear
                }),
                Rows = new List<ReportOverviewSectionRowViewModel>
                {
                    new ReportOverviewSectionRowViewModel
                    {
                        Title = @<a class="govuk-link" href="@(Model.LinkToOrganisationWebsite)">@(Model.LinkToOrganisationWebsite)</a>,
                        RightValue = Model.LinkToOrganisationWebsite == null ? 
                            await Html.GovUkHtmlText(new HtmlText(null, "Not Provided"))
                            : await Html.GovUkHtmlText(new HtmlText(null, ""))
                    }
                }
            };

            var reportOverviewSections = new ReportOverviewSectionsViewModel
            {
                Title = $"{formattedReportingYears} Reporting year",
                Sections = new List<ReportOverviewSectionViewModel>
                {
                    hourlyPayQuarterPercentageSection,
                    hourlyPayMeanAndMedianSection,
                    bonusPayPercentageSection,
                    bonusPayMeanAndMedianGenderPayGapSection,
                    Model.SectorType == SectorTypes.Private ? personResponsibleSection : null,
                    employeeHeadcountSection,
                    linkToGenderPayGapInformationSection
                }.Where(s => !s.IsNull()).ToList()
            };

            await Html.RenderPartialAsync("../Components/ReportOverview/ReportOverviewSections", reportOverviewSections);
        }
        
        <div class="govuk-inset-text">
            <p>
                <span>On submission your gender pay gap information will be published on the Gender pay gap service.</span>
                <br/>
                <br/>
                <span>
                    Submission of inaccurate data will mean your employer has not complied with the gender pay gap reporting regulations.
                </span>
            </p>
        </div>
    

        <div class="govuk-button-group">
            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Discard draft",
                Classes = $"govuk-button govuk-button--secondary govuk-!-margin-bottom-6",
                Href = Model.DraftReturnExists ? 
                    Url.Action("ReportDiscardDraftGet", "ReportDiscardDraft", new { encryptedOrganisationId, reportingYear = Model.ReportingYear}) 
                    : null,
                Disabled = !Model.DraftReturnExists,
                Attributes = new Dictionary<string, string>
                {
                    {"aria-label", "Discard draft"}
                }
            }))

            
            @{
                bool canSubmit = Model.DraftReturnExists && Model.AllRequiredFieldsAreFilled();
                string formAction = canSubmit ? 
                    Url.Action("SubmitReturnPost", 
                        "ReportOverview", 
                        new
                        {
                            encryptedOrganisationId, 
                            reportingYear = Model.ReportingYear
                        }) 
                    : "";
    
                <form method="post" action="@formAction" style="display: contents">
                    @(Html.AntiForgeryToken())
                    @await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Submit",
                        Classes = "govuk-button govuk-!-margin-bottom-6",
                        Disabled = !canSubmit,
                        Attributes = new Dictionary<string, string>
                        {
                            {"aria-label", "Submit report"}
                        }
                    })
                </form>
            }
        </div>
        
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
               Cancel and return to @(Model.Organisation.OrganisationName)
            </a>
        </p>
    </div>
</div>