@using GenderPayGap.WebUI.Models.Shared
@using GenderPayGap.WebUI.Models.Viewing
@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <section id="HourlyRateInfo">
            <h2 class="heading-medium">
                <span>Hourly pay gap</span>
            </h2>

            <div class="grid-row">
                <div class="column-full">
                    <span>
                        In this organisation, women earn @(Model.FemaleMedianHourlyRateMonitised)
                        for every @(Model.MaleMedianHourlyRateMonitised)
                        that men earn when comparing median hourly pay.
                    </span>
                    <span>Their median hourly pay is @(string.Format("{0:0.#}", Math.Abs(Model.DiffMedianHourlyPercent.Value)))%</span>
                    <span>
                        @(Model.FemaleHasLowerMedianHourlyPercent ? "lower" : "higher")
                        than men&rsquo;s.
                    </span>
                </div>
            </div>

            <div class="grid-row" aria-hidden="true">
                <div class="column-full">
                    <div class="govuk-legend">
                        <span class="font-xsmall">
                            <span class="govuk-legend__caption govuk-legend__caption--women" data-legend-text="Women"></span>
                            <span class="govuk-legend__caption govuk-legend__caption--men" data-legend-text="Men"></span>
                        </span>
                    </div>

                    @{
                        // IntelliSense says this variable isn't used, but it actually is, on the line below
                        var medianHourlyRateChartModel = new VerticalBarChartModel
                        {
                            Id = "MedianHourlyDiffChart",
                            FemaleIsLower = Model.FemaleHasLowerMedianHourlyPercent,
                            Male = Model.FemaleHasLowerMedianHourlyPercent ? 100 : 100 + Model.DiffMedianHourlyPercent.Value,
                            Female = Model.FemaleHasLowerMedianHourlyPercent ? 100 - Model.DiffMedianHourlyPercent.Value : 100,
                            MaleMonetisation = Model.MaleMedianHourlyRateMonitised,
                            FemaleMonetisation = Model.FemaleMedianHourlyRateMonitised
                        };
                    }
                    <partial name="EmployerDetails/VerticalBarChart" model="medianHourlyRateChartModel"/>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-full">
                    <span>When comparing mean (average) hourly pay, </span>
                    <span>women&rsquo;s mean hourly pay is @(string.Format("{0:0.#}", Math.Abs(Model.DiffMeanHourlyPayPercent.Value)))%</span>
                    <span>
                        @(Model.FemaleHasLowerMeanHourlyPercent ? "lower" : "higher")
                        than men&rsquo;s.
                    </span>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-full">
                    <br/>
                    @await Html.PartialModelAsync(new Details
                    {
                        Id = "AboutHourlyRate",
                        LinkText = "About median and mean",
                        SummaryPartial = "EmployerDetails/HourlyRate/AboutHourlyRate"
                    })
                </div>
            </div>
        </section>

        <hr/>
    </div>
    @await Html.PartialAsync("/Views/Submit/RelatedContent.cshtml")
</div>
