@using GenderPayGap.WebUI.Views.Components
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="EightWaysToUnderstandYourOrganisationsGpg/Header"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysOverview", "Guidance")">
                    Overview
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoPeopleGetStuck", "Guidance")">
                    Do people get ‘stuck’ at certain levels within your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysIsThereGenderImbalance", "Guidance")">
                    Is there gender imbalance in your promotions?
                </a>
            </li>
            <li>
                <p class="govuk-body guidance-current-page-link">
                    Are women more likely to be recruited into lower paid roles in your organisation?
                </p>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")">
                    Do men and women leave your organisation at different rates?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoParticularAspectsOfPay", "Guidance")">
                    Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenReceive", "Guidance")">
                    Do men and women receive different performance scores on average?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")">
                    Are you doing all that you can to support part-time employees to progress?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouSupportingBoth", "Guidance")">
                    Are you supporting both men and women to take on caring responsibilities?
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">Are women more likely to be recruited into lower paid roles in your organisation?</h2>
        <p class="govuk-body">
            If women tend to enter your organisation at more junior levels, or if women are less likely to be hired 
            when they apply to join your organisation at higher levels, this will impact your gender pay gap.
        </p>
        <h3 class="govuk-heading-s">To work out if this is a problem in your organisation:</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p class="govuk-body">
                    Look at the proportion of women applying for positions and see if there are gender imbalances 
                    at different grades/levels.
                </p>
            </li>
            <li>
                <p class="govuk-body">
                    For each grade/level, consider the proportion of women:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <p class="govuk-body">
                            applying for positions
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body">
                            making it through to any assessment stage or shortlist
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body">
                            being selected
                        </p>
                    </li>
                    
                    <li>
                        <p class="govuk-body">
                            accepting roles
                        </p>
                    </li>
                    
                </ul>
            </li>
            <li>
                <p class="govuk-body">
                    Is the proportion of women decreasing throughout this process?
                </p>
            </li>
        </ul>
        
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/Images/GenderImbalanceByRecruitmentProcessBySeniority"/>
        
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">If you find a gender imbalance in your recruitment process</span>
                If you find a gender imbalance in your recruitment process
            </strong>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <strong>
                        Examine your recruitment routes. 
                    </strong>
                    <p class="govuk-body">
                        How transparent are the processes?
                    </p>
                </li>
                <li>
                    <strong>
                        Understand how the potential applicant pool in your field or industry compares to your applicants.
                    </strong>
                    <p class="govuk-body">
                        For example, if 45% of people with appropriate qualifications and experience in your industry 
                        are women, but only 25% of your applicants are women, why might this be?
                    </p>
                </li>
                <li>
                    <strong>
                        Look at ways to widen your potential applicant pool by re‐thinking structural issues that can 
                        have a larger effect in preventing women from doing particular jobs. 
                    </strong>
                    <p class="govuk-body">
                        For example, do these jobs allow flexible working, so that people with caring responsibilities
                        can do them? Can you help more women to get the required qualifications? If you use recruitment
                        agencies, ask them to provide you with long‐lists which include a certain minimum number of
                        women. However, do take legal advice if you are considering positive action to benefit women
                        (or men), to ensure that there is no unlawful discrimination.
                    </p>
                </li>
            </ul>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--l">

        @{ await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLinks.cshtml", new PaginationLinksViewModel
           {
               LeftLink = new PaginationLinkViewModel
               {
                   Title = "Previous",
                   Text = "Is there gender imbalance in your promotions?",
                   Url = Url.Action("EightWaysIsThereGenderImbalance", "Guidance")
               },
               RightLink = new PaginationLinkViewModel
               {
                   Title = "Next",
                   Text = "Do men and women leave your organisation at different rates?",
                   Url = Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")
               }
           }); }
        
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/RelatedContent"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/UpdatesRecord"/>
    </div>
</div>
