@using GenderPayGap.WebUI.Views.Components
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="EightWaysToUnderstandYourOrganisationsGpg/Header"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysOverview", "Guidance")">
                    Overview
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoPeopleGetStuck", "Guidance")">
                    Do people get ‘stuck’ at certain levels within your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysIsThereGenderImbalance", "Guidance")">
                    Is there gender imbalance in your promotions?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreWomenMoreLikely", "Guidance")">
                    Are women more likely to be recruited into lower paid roles in your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")">
                    Do men and women leave your organisation at different rates?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoParticularAspectsOfPay", "Guidance")">
                    Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenReceive", "Guidance")">
                    Do men and women receive different performance scores on average?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")">
                    Are you doing all that you can to support part-time employees to progress?
                </a>
            </li>
            <li>

                <p class="govuk-body guidance-current-page-link">
                    Are you supporting both men and women to take on caring responsibilities?
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">Overview</h2>
        <p class="govuk-body">
            The gender pay gap (GPG) data that you have reported provides a basic understanding of what the gender 
            pay balance looks like within your organisation. However, to be able to target resources effectively to 
            improve your GPG, it is essential to know more about the specific causes of any imbalance.
        </p>
        <p class="govuk-body">
            In this guide, you will find eight key questions to ask that will help you to identify different potential 
            causes of the GPG. You will need some additional data to be able to be able to answer these questions, but
            you may already collect this data as part of your human resources processes.
        </p>
        <p class="govuk-body">
            As 77% of organisations reporting in 2017/18 have a gender pay gap in favour of men, this guidance mostly 
            refers to actions to support women. However, the majority of actions could equally be used to support men 
            where the GPG is in favour of women.
        </p>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                @{ await Html.RenderPartialAsync("/Views/Components/PaginationLink.cshtml",
                       new PaginationLinkViewModel
                       {
                           ArrowDirection = ArrowDirection.Left,
                           Title = "Previous",
                           Text = "Are you doing all that you can to support part-time employees to progress?",
                           Url = Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")
                       }); }
            </div>
        </div>
        
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/RelatedContent"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/UpdatesRecord"/>
    </div>
</div>
