@using GenderPayGap.WebUI.Views.Components
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="EightWaysToUnderstandYourOrganisationsGpg/Header"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysOverview", "Guidance")">
                    Overview
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoPeopleGetStuck", "Guidance")">
                    Do people get ‘stuck’ at certain levels within your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysIsThereGenderImbalance", "Guidance")">
                    Is there gender imbalance in your promotions?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreWomenMoreLikely", "Guidance")">
                    Are women more likely to be recruited into lower paid roles in your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")">
                    Do men and women leave your organisation at different rates?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoParticularAspectsOfPay", "Guidance")">
                    Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?
                </a>
            </li>
            <li>
                <p class="govuk-body guidance-current-page-link">
                    Do men and women receive different performance scores on average?
                </p>

            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")">
                    Are you doing all that you can to support part-time employees to progress?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouSupportingBoth", "Guidance")">
                    Are you supporting both men and women to take on caring responsibilities?
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">Do men and women receive different performance scores on average?</h2>
        <p class="govuk-body">
            Performance management scores can give you an indication of whether women and men are performing 
            differently or being assessed differently. If there is a difference between performance scores,
            this can impact progression.
        </p>
        <h3 class="govuk-heading-s">To work out if this is a problem in your organisation:</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <strong>
                    Look at the difference between the performance scores of men and women.
                </strong>
                <p class="govuk-body">
                    If possible, break them down by grade and job, particularly if performance management approaches 
                    vary between these groups.
                </p>
            </li>
            <li>
                <strong>
                    If your organisation asks employees to provide a self-assessment of their performance, examine it 
                    separately to look for imbalances.
                </strong>
                <p class="govuk-body">
                    Some research suggests that women tend to rate themselves lower than men and that men are 
                    overconfident in their self-ratings.
                </p>
            </li>
        </ul>
        
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">If you find a gender imbalance in performance scores</span>
                If you find a gender imbalance in performance scores
            </strong>
            <p class="govuk-body">    
                Encourage managers to monitor the following things:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <strong>
                        Are men and women being given equal opportunities to prove themselves?
                    </strong>
                    <p class="govuk-body">
                        For example, are they being assigned different types of projects that might not equally
                        contribute to making someone promotable?
                    </p>
                </li>
                <li>
                    <strong>
                        Are men and women being given equal resources for their development?
                    </strong>
                    <p class="govuk-body">
                        For example, do they have access to similar training budgets?
                    </p>
                </li>
                <li>
                    <strong>
                        Are men and women being given equal professional support?
                    </strong>
                    <p class="govuk-body">
                        For example, do they have equal frequency and quality of performance feedback or career 
                        conversations?
                    </p>
                    <strong>
                        If you find that there are gender imbalances arising from self-assessments:
                    </strong>
                    <p class="govuk-body">    
                        Consider removing self-assessments from the performance management processes. If you are unable
                        to do this, ensure that managers do not see their employee’s self-assessment before assigning 
                        a final performance score. This makes sure their score isn’t influenced by the employee’s 
                        self-assessment score.
                    </p>
                </li>
            </ul>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                @{ await Html.RenderPartialAsync("/Views/Components/PaginationLink.cshtml",
                       new PaginationLinkViewModel
                       {
                           ArrowDirection = ArrowDirection.Left,
                           Title = "Previous",
                           Text = "Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?",
                           Url = Url.Action("EightWaysDoParticularAspectsOfPay", "Guidance")
                       }); }
            </div>
            <div class="govuk-grid-column-one-half">
                @{ await Html.RenderPartialAsync("/Views/Components/PaginationLink.cshtml",
                       new PaginationLinkViewModel
                       {
                           ArrowDirection = ArrowDirection.Right,
                           Title = "Next",
                           Text = "Are you doing all that you can to support part-time employees to progress?",
                           Url = Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")
                       }); }
            </div>
        </div>
        
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/RelatedContent"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/UpdatesRecord"/>
    </div>
</div>
