@using GenderPayGap.WebUI.Models.Guidance
@using GenderPayGap.WebUI.Views.Components
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="EightWaysToUnderstandYourOrganisationsGpg/Header"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysOverview", "Guidance")">
                    Overview
                </a>
            </li>
            <li>
                <p class="govuk-body guidance-current-page-link">
                    Do people get ‘stuck’ at certain levels within your organisation?
                </p>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysIsThereGenderImbalance", "Guidance")">
                    Is there gender imbalance in your promotions?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreWomenMoreLikely", "Guidance")">
                    Are women more likely to be recruited into lower paid roles in your organisation?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenLeave", "Guidance")">
                    Do men and women leave your organisation at different rates?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoParticularAspectsOfPay", "Guidance")">
                    Do particular aspects of pay (such as starting salaries and bonuses) differ by gender?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysDoMenAndWomenReceive", "Guidance")">
                    Do men and women receive different performance scores on average?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouDoingAllThatYouCan", "Guidance")">
                    Are you doing all that you can to support part-time employees to progress?
                </a>
            </li>
            <li>
                <a class="govuk-link" href="@Url.Action("EightWaysAreYouSupportingBoth", "Guidance")">
                    Are you supporting both men and women to take on caring responsibilities?
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l">Do people get ‘stuck’ at certain levels within your organisation?</h2>
        <p class="govuk-body">
            The quartile breakdowns required under GPG reporting show the proportion of women and men at different pay
            levels. This approach allows different organisations to be compared. However, it does not take into account
            your particular organisational structure.
        </p>

        <div class="horizontal-bar-chart__section">
            <h3 class="govuk-heading-s">An example showing gender imbalance by the proportion of women in each quarter</h3>
            <partial name="MenWomenBarChart" model=@{ new GuidanceBarChartViewModel
                                                      {
                                                          Id = "TopQuarter",
                                                          Title = "Top quarter",
                                                          SecondaryTitle = "(highest paid)",
                                                          Female = new decimal(34),
                                                          Male = new decimal(66)
                                                      }; }/>

            <partial name="MenWomenBarChart" model=@{ new GuidanceBarChartViewModel
                                                      {
                                                          Id = "UpperMiddleQuarter",
                                                          Title = "Upper middle quarter",
                                                          Female = new decimal(45),
                                                          Male = new decimal(55)
                                                      }; }/>

            <partial name="MenWomenBarChart" model=@{ new GuidanceBarChartViewModel
                                                      {
                                                          Id = "BottomMiddleQuarter",
                                                          Title = "Bottom middle quarter",
                                                          Female = new decimal(55),
                                                          Male = new decimal(45)
                                                      }; }/>

            <partial name="MenWomenBarChart" model=@{ new GuidanceBarChartViewModel
                                                      {
                                                          Id = "LowerQuarter",
                                                          Title = "Lower quarter",
                                                          SecondaryTitle = "(lowest paid)",
                                                          Female = new decimal(50),
                                                          Male = new decimal(50)
                                                      }; }/>
        </div>
        
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Examine gender balance by your seniority structure</span>
                Examine gender balance by your seniority structure
            </strong>
            <p class="govuk-body">
                You should examine the gender balance in your organisation using your own seniority structure,
                and ideally also your job types and departments.
            </p>
        </div>
        
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/Images/GenderImbalanceBySeniorityStructure"/>

        <hr class="govuk-section-break govuk-section-break--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                @{ await Html.RenderPartialAsync("/Views/Components/PaginationLink.cshtml",
                       new PaginationLinkViewModel
                       {
                           ArrowDirection = ArrowDirection.Left,
                           Title = "Overview",
                           Text = "",
                           Url = Url.Action("EightWaysOverview", "Guidance")
                       }); }
            </div>
            <div class="govuk-grid-column-one-half">
                @{ await Html.RenderPartialAsync("/Views/Components/PaginationLink.cshtml",
                       new PaginationLinkViewModel
                       {
                           ArrowDirection = ArrowDirection.Right,
                           Title = "Next",
                           Text = "Is there gender imbalance in your promotions?",
                           Url = Url.Action("EightWaysIsThereGenderImbalance", "Guidance")
                       }); }
            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/RelatedContent"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="EightWaysToUnderstandYourOrganisationsGpg/UpdatesRecord"/>
    </div>
</div>
