@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminRemoveUserViewModel

@{
    ViewBag.Title = "Remove user from organisation - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>();
        crumbs.Add(new CrumbViewModel
        {
            Text = "Admin",
            Href = Url.Action("AdminHomePage", "AdminHomepage")
        });
        if (Model.FromViewUserPage)
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.UserFullName,
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})
            });
        }
        else
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})
            });
        }
        crumbs.Add(new CrumbViewModel
        {
            Text = "Remove user from organisation"
        });
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">
    Remove a user from an organisation
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST"
              action="@(Model.FromViewUserPage ?
                          Url.Action("RemoveOrganisationFromUserPost", "AdminRemoveUserFromOrganisation", new {userId = Model.UserId, organisationId = Model.OrganisationId}) :
                          Url.Action("RemoveUserFromOrganisationPost", "AdminRemoveUserFromOrganisation", new {userId = Model.UserId, organisationId = Model.OrganisationId}))">
            @(Html.AntiForgeryToken())
            @(await Html.GovUkErrorSummary(ViewData.ModelState))

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">User</th>
                        <td class="govuk-table__cell">@(Model.UserFullName)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Organisation</th>
                        <td class="govuk-table__cell">@(Model.OrganisationName)</td>
                    </tr>
                </tbody>
            </table>

            <div class="govuk-form-group">
                @await Html.GovUkCharacterCountFor(
                    m => m.Reason,
                    labelOptions: new LabelViewModel
                    {
                        Text = "What is the reason for this change?",
                        Classes = "govuk-label--m"
                    },
                    formGroupOptions: new FormGroupViewModel
                    {
                        Classes = "govuk-!-margin-top-6"
                    })

                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Remove user from organisation",
                    Classes = "govuk-!-margin-bottom-4 govuk-button--warning"
                }))

                <p class="govuk-body">
                    @if (Model.FromViewUserPage)
                    {
                        <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})"
                           class="govuk-link">
                            Cancel and return to user page
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})"
                           class="govuk-link">
                            Cancel and return to organisation page
                        </a>
                    }
                </p>

            </div>
        </form>
    </div>
</div>
