@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminRemoveUserViewModel

@{
    ViewBag.Title = $"Removed user - {Model.UserFullName} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>();
        crumbs.Add(new CrumbViewModel
        {
            Text = "Admin",
            Href = Url.Action("AdminHomePage", "AdminHomepage")
        });
        if (Model.FromViewUserPage)
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.UserFullName,
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})
            });
        }
        else
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})
            });
        }
        crumbs.Add(new CrumbViewModel
        {
            Text = "Remove user from organisation"
        });
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
            <h1 class="govuk-panel__title govuk-!-font-size-36">
                @(Model.UserFullName) has been removed from @(Model.OrganisationName)
            </h1>
        </div>

        <p class="govuk-body">
            Visit
            <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId})"
               class="govuk-link">
                @(Model.UserFullName)
            </a>
        </p>
        <p class="govuk-body">
            Visit
            <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId})"
               class="govuk-link">
                @(Model.OrganisationName)
            </a>
        </p>
    </div>
</div>
