@model CloseAccountViewModel

@if (ViewContext.ModelState.ErrorCount > 0)
{
    @await Html.PartialAsync("Patterns/ErrorSummary", ViewContext.ModelState)
}

<div class="grid-row">

    <div class="column-two-thirds">

        <form method="post">

            @Html.AntiForgeryToken()

            <fieldset>

                <legend>
                    <h1 class="heading-large">Close your account</h1>
                </legend>

                <p>
                    This will not impact any reports already published on the service.
                    Other people registered to the organisation will still be able to submit and change reports.
                </p>

                <ul class="list list-bullet">
                    <li>You will not be able to report for any organisations you have registered</li>
                    <li>You will not receive communications from the gender pay gap service</li>
                </ul>

                <br/>

                @if (Model.IsSoleUserOfOneOrMoreOrganisations)
                {
                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            Closing your account will leave one or more of your registered organisations with no one to submit on their behalf
                        </strong>
                    </div>

                    <div class="panel panel-border-wide">
                        <p>
                            It can take up to a week to register an organisation
                        </p>
                    </div>

                    <br/>
                }

                <h2 class="heading-small">Are you sure you want to close your account?</h2>

                <div class="form-group @Html.SetErrorClass(model => model.EnterPassword, "error")">
                    @Html.LabelFor(m => m.EnterPassword, new {@class = "form-label"})
                    @Html.ValidationMessageFor(model => model.EnterPassword, "", new {@class = "error-message"})
                    @Html.CustomEditorFor(model => model.EnterPassword, new {@class = "form-control form-control-3-4", autocomplete = "off"})
                </div>

                <div>
                    <input class="button button-warning" type="submit" role="button" value="Close account"/>
                </div>

                <div>
                    <a href="@(Url.Action<ManageAccountController>(nameof(ManageAccountController.ManageAccount)))" style="display: inline-block; margin-top: 1em;">Cancel</a>
                </div>

            </fieldset>

        </form>

    </div>

</div>