@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.LateSubmissionReasonViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @(await Html.GovUkBackLink(
        new BackLinkViewModel
        {
            Href = Url.Action("ReportOverview", "ReportOverview", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})
        }
    ))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @(await Html.GovUkErrorSummary(ViewData.ModelState, new []
        {
            nameof(Model.ReceivedLetterFromEhrc),
            nameof(Model.Reason)
        }))
        
        <form method="post" action="@Url.Action("LateSubmissionReasonPost", "LateSubmission", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})">
            
            @(Html.AntiForgeryToken())

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-8 govuk-!-margin-top-0" style="font-weight: normal;">Reporting as @(Model.Organisation.OrganisationName)</h1>
                    
                    <h2 class="govuk-fieldset__heading">We need more information</h2>
                </legend>

                @(await Html.GovUkRadiosFor(
                    m => m.ReceivedLetterFromEhrc,
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "Have you received a letter about a breach of the regulations from the Equality and Human Rights Commission?",
                            Classes = "govuk-fieldset__legend--m"
                        },
                        Classes = "govuk-radios--inline govuk-!-margin-top-6"
                    }
                    ))

                @(await Html.GovUkTextAreaFor(
                    m => m.Reason,
                    labelOptions: new LabelViewModel
                    {
                        Text = "Please explain why your organisation is reporting or changing your gender pay gap figures"
                    }
                    ))

                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Confirm and submit",
                    Classes = "govuk-!-margin-bottom-4"
                }))
            </fieldset>
        </form>
    </div>
</div>