@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using GenderPayGap.Core.Classes
@model GenderPayGap.WebUI.Models.Report.LateSubmissionReasonViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);
    DateTime snapshotDate = Model.Organisation.SectorType.GetAccountingStartDate(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{formattedReportingYears} Reporting year",
                Href = Url.Action("ReportOverview", "ReportOverview", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new CrumbViewModel
            {
                Text = "Late submission reason"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Late submission
            <br/>
            <span class="govuk-!-font-size-27 govuk-!-margin-top-3" style="display: inline-block; line-height: 1.3 !important;">
                Reporting as @(Model.Organisation.OrganisationName)
                <br/>
                for snapshot date @(snapshotDate.ToString("d MMMM yyyy"))
            </span>
        </h1>
        
        
        @(await Html.GovUkErrorSummary(ViewData.ModelState, new[]
        {
            nameof(Model.ReceivedLetterFromEhrc),
            nameof(Model.Reason)
        }))

        <form method="post" action="@Url.Action("LateSubmissionReasonPost", "LateSubmission", new {encryptedOrganisationId, reportingYear = Model.ReportingYear})">
            @(Html.AntiForgeryToken())

            <fieldset class="govuk-fieldset">
                @(await Html.GovUkRadiosFor(
                    m => m.ReceivedLetterFromEhrc,
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "Have you received a letter about a breach of the regulations from the Equality and Human Rights Commission?",
                            Classes = "govuk-fieldset__legend--m"
                        },
                        Classes = "govuk-radios--inline"
                    }
                    ))

                @(await Html.GovUkCharacterCountFor(
                    m => m.Reason,
                    labelOptions: new LabelViewModel
                    {
                        Text = "Please explain why your organisation is reporting or changing your gender pay gap figures"
                    }
                    ))

                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Confirm and submit",
                    Classes = "govuk-!-margin-bottom-4"
                }))
                <p class="govuk-body">
                    <a href="@Url.Action("ReportOverview", "ReportOverview", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})"
                       class="govuk-link">
                        Cancel and return to @(formattedReportingYears) report overview
                    </a>
                </p>
            </fieldset>
        </form>
        
    </div>
</div>