@inject ICompareViewService CompareViewService
@model AddRemoveButtonViewModel
@{
    if (string.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
    {
        ViewBag.ReturnUrl = Context.GetUri().PathAndQuery;
    }

    string removeEmployerUrl = Url.Action(
        nameof(CompareController.RemoveEmployer), "Compare",
        new {employerIdentifier = Model.OrganisationIdEncrypted, returnUrl = ViewBag.ReturnUrl}
        );

    string removeEmployerJsUrl = Url.Action(
        nameof(CompareController.RemoveEmployerJs), "Compare",
        new {employerIdentifier = Model.OrganisationIdEncrypted, returnUrl = ViewBag.ReturnUrl}
        );

    string addEmployerUrl = Url.Action(
        nameof(CompareController.AddEmployer),
        "Compare",
        new {employerIdentifier = Model.OrganisationIdEncrypted, returnUrl = ViewBag.ReturnUrl}
        );

    string addEmployerJsUrl = Url.Action(
        nameof(CompareController.AddEmployerJs), "Compare",
        new {employerIdentifier = Model.OrganisationIdEncrypted, returnUrl = ViewBag.ReturnUrl}
        );
}

@if (CompareViewService.BasketContains(Model.OrganisationIdEncrypted))
{
    <form method="GET" action="@removeEmployerUrl">
        <button class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
                id="AddRemoveEmployer@(Model.OrganisationIdEncrypted)"
                href="@removeEmployerUrl"
                data-js-url="@removeEmployerJsUrl"
                data-js-targets="#comparison-basket">
            Remove
            <span class="visuallyhidden govuk-visually-hidden">
                @Model.OrganisationName
            </span>
            from compare
        </button>
        <input type="hidden" name="returnUrl" value="@(ViewBag.ReturnUrl)">
    </form>
}
else
{
    <form method="GET" action="@addEmployerUrl">
        <button class="govuk-button"
                data-module="govuk-button"
                id="AddRemoveEmployer@(Model.OrganisationIdEncrypted)"
                href="@addEmployerUrl"
                data-js-url="@addEmployerJsUrl"
                data-js-targets="#comparison-basket">
            Add
            <span class="visuallyhidden govuk-visually-hidden">
                @Model.OrganisationName
            </span>
            to compare
        </button>
        <input type="hidden" name="returnUrl" value="@(ViewBag.ReturnUrl)">
    </form>
}
