@model CompareViewModel

@{
    void ColumnHeader(string columnId, string columnVisualText, string columnHiddenText)
    {
        <th class="sortableColumnHeader @Model.GetColumnSortCssClass(columnId)">
            <div style="display:table;">
                <a style="vertical-align: middle; display: table-cell;"
                   href="@(Url.Action("CompareEmployers", "Compare", new {year = Model.Year, sortColumn = columnId, sortAscending = Model.SortColumn != columnId || !Model.SortAscending}))"
                   role="button">
                    <span class="visually-hidden">@(columnHiddenText)</span>
                    @(columnVisualText)
                </a>
                <a class="no-print" aria-label="@(columnId)" href="@(Url.Action("CompareEmployers", "Compare", new {year = Model.Year, sortColumn = columnId, sortAscending = Model.SortColumn != columnId || !Model.SortAscending}))">
                    <img class="arrow-data" style="margin-left: 7px;" src=@Model.GetColumnSortIcon(columnId) alt=""/>
                </a>
            </div>
        </th>
    }
}

<thead class="report-header">
    <tr>
        <th class="header" rowspan="2">Employer</th>
        <th class="header" rowspan="2">Nature of business</th>
        <th class="header" rowspan="2">Employee headcount</th>
        <th class="header" colspan="2">Difference in hourly pay</th>
        <th class="header" colspan="4">Percentage of women in each pay quarter</th>
        <th class="header" colspan="2">
            <div class="groupingHeader">Who received bonus pay</div>
        </th>
        <th class="header" colspan="2">
            <div class="groupingHeader">Difference in bonus pay</div>
        </th>
    </tr>
    
    <tr class="row">
        @{ ColumnHeader("DiffMeanHourlyPayPercent", "Mean", "Sort by difference in hourly rate"); }
        @{ ColumnHeader("DiffMedianHourlyPercent", "Median", "Sort by difference in hourly rate"); }
        @{ ColumnHeader("FemaleLowerPayBand", "Lower hourly pay quarter", "Sort by"); }
        @{ ColumnHeader("FemaleMiddlePayBand", "Lower middle hourly pay quarter", "Sort by"); }
        @{ ColumnHeader("FemaleUpperPayBand", "Upper middle hourly pay quarter", "Sort by"); }
        @{ ColumnHeader("FemaleUpperQuartilePayBand", "Upper hourly pay quarter", "Sort by"); }
        @{ ColumnHeader("FemaleMedianBonusPayPercent", "Women", "Sort by percentage who received bonus pay"); }
        @{ ColumnHeader("MaleMedianBonusPayPercent", "Men", "Sort by percentage who received bonus pay"); }
        @{ ColumnHeader("DiffMeanBonusPercent", "Mean", "Sort by bonus pay"); }
        @{ ColumnHeader("DiffMedianBonusPercent", "Median", "Sort by bonus pay"); }
    </tr>
</thead>