@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminAddNewAdminUserViewModel

@{
    ViewBag.Title = "Add new admin user - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Admin users",
                Href = Url.Action("ViewAdminUsers", "AdminManageAdminUsers")
            },
            new CrumbViewModel
            {
                Text = "Add new admin user"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Add new admin user
        </h1>
        
        @await Html.GovUkErrorSummary(ViewData.ModelState)
        
        <p class="govuk-body govuk-!-margin-bottom-1">
            To add a new admin user:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                Ask the user to
                <a href="@Url.Action("CreateUserAccountGet", "AccountCreation")"
                   class="govuk-link">
                    create a regular account</a>
                on the service
            </li>
            <li>
                Use this page to convert their account into an admin account
            </li>
        </ul>


        <form method="POST" action="@Url.Action("AddNewAdminUserPost", "AdminManageAdminUsers")">
            @(Html.AntiForgeryToken())

            @await Html.GovUkTextInputFor(
                m => m.EmailAddress,
                classes: "govuk-input--width-20",
                labelOptions: new LabelViewModel
                {
                    Text = "Email address",
                    Classes = "govuk-label--s"
                },
                formGroupOptions: new FormGroupViewModel
                {
                    Classes = "govuk-!-margin-top-6"
                })
            
            @(await Html.GovUkCheckboxFromBoolFor(
                m => m.ReadOnly,
                label: new LabelViewModel
                {
                    Text = "Make this admin user Read-Only"
                }))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewAdminUsers", "AdminManageAdminUsers")"
                   class="govuk-link">
                    Cancel and return to manage admin users page
                </a>
            </p>
        </form>
    </div>
</div>
