@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Views.Components.StatusMessages
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.ReportDiscardDraftViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";
    string yourChangesOrYourDraftReport = Model.IsEditingSubmittedReturn ? "your changes" : "your draft report";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{editOrReportTitle} (reporting year {formattedReportingYears})",
                Href = Url.Action("ReportOverview", "ReportOverview", new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new CrumbViewModel
            {
                Text = $"Discard {yourChangesOrYourDraftReport}"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages", new StatusMessagesViewModel()); }
        @(Html.GovUkErrorSummary())
        
        <form method="post" action="@Url.Action("ReportDiscardDraftPost", "ReportDiscardDraft", new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})">
            @(Html.AntiForgeryToken())
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Discard your gender pay gap draft report
                    </h1>

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4" style="font-weight: normal;">Reporting as @(Model.Organisation.OrganisationName)</h2>
                </legend>

                <p class="govuk-body">
                    Are you sure you want to discard your draft report?
                </p>

                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = Model.IsEditingSubmittedReturn ? "Discard your changes" : "Discard your draft report",
                    Classes = "govuk-!-margin-bottom-6"
                }))
            </fieldset>
        </form>
        
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("ReportOverview", "ReportOverview", new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})">
                Back to report overview
            </a>
        </p>
    </div>
</div>
