@model GenderPayGap.WebUI.Models.Account.ManageAccountViewModel

@{
    ViewBag.Title = "Manage account - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        await Html.RenderPartialAsync("../Components/Navigation/AccountTabs");
    }
}

<div class="govuk-!-margin-top-5"></div>

@{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages"); }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Manage your account
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!Model.IsUserBeingImpersonated)
        {
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("CloseAccountGet", "CloseAccount")">
                    Close your account
                </a>
            </p>
        }
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Login details
        </h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.User.EmailAddress
                </dd>
                <dd class="govuk-summary-list__actions">
                    @if (!Model.IsUserBeingImpersonated)
                    {
                        <a href="@Url.Action("ChangeEmailGet", "ChangeEmail")">
                            Change
                            <span class="govuk-visually-hidden"> email</span>
                        </a>
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Password
                </dt>
                <dd class="govuk-summary-list__value">
                    **********
                </dd>
                <dd class="govuk-summary-list__actions">
                    @if (!Model.IsUserBeingImpersonated)
                    {
                        <a href="@Url.Action("ChangePasswordGet", "ChangePassword")">
                            Change
                            <span class="govuk-visually-hidden"> password</span>
                        </a>
                    }
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">
                    Personal details
                </h2>
            </div>
            <div class="govuk-grid-column-one-half">
                @if (!Model.IsUserBeingImpersonated)
                    {
                        <p class="govuk-body">
                            <a class="govuk-link" href="@Url.Action("ChangePersonalDetailsGet", "ChangePersonalDetails")" style="float: right;">
                                Change
                                <span class="govuk-visually-hidden"> personal details</span>
                            </a>
                        </p>
                    }
            </div>
        </div>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.User.Firstname
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.User.Lastname
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Job title
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.User.JobTitle
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.User.ContactPhoneNumber
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">
                    Contact preferences
                </h2>
            </div>
            <div class="govuk-grid-column-one-half">
                @if (!Model.IsUserBeingImpersonated)
                {
                    <p class="govuk-body">
                        <a class="govuk-link" href="@Url.Action("ChangeContactPreferencesGet", "ChangeContactPreferences")" style="float: right;">
                            Change
                            <span class="govuk-visually-hidden"> contact preferences</span>
                        </a>
                    </p>
                }
            </div>
        </div>
        
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                        I would like to receive information about webinars, events and new guidance
                    </td>
                    <td class="govuk-table__cell gpg-c-yesno">
                        @if (Model.User.SendUpdates)
                            {
                                <span class="gpg-c-yesno__mark--tick"></span>
                                <span class="gpg-c-yesno--text">Yes</span>
                            }
                            else
                            {
                                <span class="gpg-c-yesno__mark--cross"></span>
                                <span class="gpg-c-yesno--text">No</span>
                            }
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                        I'm happy to be contacted for feedback on this service and take part in gender pay gap surveys
                    </td>
                    <td class="govuk-table__cell gpg-c-yesno">
                        @if (Model.User.AllowContact)
                            {
                                <span class="gpg-c-yesno__mark--tick"></span>
                                <span class="gpg-c-yesno--text">Yes</span>
                            }
                            else
                            {
                                <span class="gpg-c-yesno__mark--cross"></span>
                                <span class="gpg-c-yesno--text">No</span>
                            }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>