@{
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
    ViewBag.Title = "Actions to close the gap";
    ViewBag.pageDescription = "";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Actions to close the gender pay gap
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>

        <ul class="govuk-list guidance-list-with-dashes">
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("OverView", "ActionHub")">Overview</a>
            </li>
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("Leadership", "ActionHub")">Actions: Leadership and accountability</a>
            </li>
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("Hiring", "ActionHub")">Actions: Hiring and selection</a>
            </li>
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("Talent", "ActionHub")">Actions: Talent management, learning &amp; development</a>
            </li>
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("Workplace", "ActionHub")">Actions: Workplace flexibility</a>
            </li>
            <li>
                <a class="govuk-link govuk-body-s" href="@Url.Action("Reading", "ActionHub")">Further reading</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-top-4">
            @RenderBody()
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="guidance-related-content">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible related-content-section-break">
        
            <h3 class="govuk-heading-s">Related content</h3>
            
            <ul class="govuk-list related-content-list">
                <li>
                    <a class="govuk-link govuk-body-s" href="@Url.Action("SearchResults", "Viewing")">
                        Find and compare employer’s gender pay gaps
                    </a>
                </li>
                <li>
                    <a class="govuk-link govuk-body-s" href="/public/assets/pdf/understand-your-gender-pay-gap.pdf">Eight ways to understand your organisation’s gender pay gap (pdf)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-body-s" href="/public/assets/pdf/action-plan-guidance.pdf">Four steps to developing a gender pay gap action plan (pdf)</a>
                </li>
                <li>
                    <a class="govuk-link govuk-body-s" href="/public/assets/pdf/gender-pay-gap-explained.pdf">Gender pay gap explained (pdf)</a>
                </li>
            </ul>
        </div>

    </div>
</div>