@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@using GenderPayGap.WebUI.Models.ScopeNew
@using GenderPayGap.WebUI.Classes.Formatters
@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.ScopeNew.OutOfScopeViewModel

@{
    ViewBag.Title = "Confirm that your organisation is in scope - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string reportingYearsString = Model.ReportingYear.Year + "/" + (Model.ReportingYear.Year + 1).ToString().Substring(2, 2);
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change Scope (Reporting Year " + reportingYearsString + ")"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm your organisation is required to report</h1>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                @if (Model.Organisation.CompanyNumber != null)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Company Number
                        </th>
                        <td class="govuk-table__cell">
                            @Model.Organisation.CompanyNumber
                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Employer Name
                    </th>
                    <td class="govuk-table__cell">
                        @Model.Organisation.OrganisationName
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Reporting Year
                    </th>
                    <td class="govuk-table__cell">
                        @reportingYearsString
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="govuk-body">
            Please confirm your organisation is in scope to report Gender Pay Gap data for the @reportingYearsString reporting year.
        </p>
        
        <form method="POST" action="@Url.Action("ConfirmInScopeAnswers", "Scope", new {encryptedOrganisationId, reportingYear = Model.ReportingYear.Year })">
            @(Html.AntiForgeryToken())

            @(Html.GovUkButton(
                new ButtonViewModel
                {
                    Text = "Confirm"
                }
                ))
            
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})">
                    Cancel
                </a>
            </p>
        </form>
    </div>
</div>
        

