@{
    ViewBag.Title = "Confirm your organisation - Gender pay gap reporting service";
    string emailAdd = Global.GpgReportingEmail;
    string emailSubject = System.Net.WebUtility.UrlEncode(string.Format("Wrong Employer Details - {0} - {1}", Model.OrganisationName, Model.EnterCodes.EmployerReference));

    // c# 6 doesnt compile with razor in mvc5 so cant use string templates here :( need to update to MVC 6
    string mailto = string.Join("", "mailto:", emailAdd, "?subject=", emailSubject);
}
@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.Scope.ScopingViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form", autocomplete = "off"}))
        {
            @Html.AntiForgeryToken()

            <a class="link-back" href="@Model.StartUrl">Back <span class="visuallyhidden"> to the previous question</span></a>

            <h1 class="heading-large">
                <span>Confirm your organisation is not required to report</span>
            </h1>

            @await Html.PartialAsync("Parts/SnapshotDatePart", Model)
            @await Html.PartialAsync("Parts/EmployerDetailsPart", Model)

            <br/>
            <p class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    If your organisation is in scope of the reporting regulations for one or more of these snapshot dates, or you wish to report voluntarily proceed to <a href="@Url.Action("RegisterOrManage")">@(Model.UserIsRegistered ? "" : "register and ")manage this organisation</a>.
                </strong>
            </p>
            <p class="text">
                <span>
                    If these details are correct and your organisation is out of scope for both these snapshot dates, please continue.
                </span>
            </p>


            <div class="form-group">
                <a href="@Url.Action("EnterOutOfScopeAnswers")" class="button">Continue</a>
            </div>

            <p class="text">
                If your organisation name or address is incorrect,
                please email us at <a href="@mailto" target="_blank">@Global.GpgReportingEmail</a> and let us know the correct information.
            </p>
        }
    </div>
</div>