@{
    ViewBag.Title = "Identifying your organisation - Gender pay gap reporting service";
}
@using GenderPayGap.WebUI.Models.Scope
@model GenderPayGap.WebUI.Models.Scope.EnterCodesViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form", autocomplete = "off"}))
        {
            @Html.AntiForgeryToken()
            @Html.SpamProtectionTimeStamp()
            @await Html.CustomValidationSummaryAsync(false)

            <h1 class="heading-large">
                <span>Identifying your organisation</span>
            </h1>

            <p>
                To let us know that you're <u>not</u> in scope of the gender pay gap reporting regulations we need to identify your organisation.
            </p>
            <p>
                If your organisation is required to report, please <a href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")" class="nowrap">register or manage your organisation</a>.
            </p>

            <div class="panel">You can find your employer reference and security code on the letter you have received from the Government Equalities Office.</div>

            <fieldset>
                <div id="EmployerReferenceGroup" class="form-group @Html.SetErrorClass(nameof(EnterCodesViewModel.EmployerReference), "error")">
                    @Html.LabelFor(model => model.EmployerReference, "Enter your employer reference", new {@class = "form-label"})
                    @Html.ValidationMessage(nameof(EnterCodesViewModel.EmployerReference), null, new {id = "EmployerReferenceError", @class = "error-message"})
                    @Html.CustomEditorFor(model => model.EmployerReference, new {@class = "form-control", style = "text-transform: uppercase;"})
                </div>
                <div id="SecurityTokenGroup" class="form-group @Html.SetErrorClass(nameof(EnterCodesViewModel.SecurityToken), "error")">
                    @Html.LabelFor(model => model.SecurityToken, "Enter your security code", new {@class = "form-label"})
                    @Html.ValidationMessage(nameof(EnterCodesViewModel.SecurityToken), null, new {id = "SecurityTokenError", @class = "error-message"})
                    @Html.CustomEditorFor(model => model.SecurityToken, new {@class = "form-control", style = "text-transform: uppercase;"})
                </div>
            </fieldset>

            <p class="text">
                Please continue to confirm your organisation and provide further information. You
                will have the opportunity to review this information before submitting.
            </p>

            <div class="form-group">
                <input type="submit" class="button" value="Continue"/>
            </div>
        }
    </div>
</div>