@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@using GenderPayGap.WebUI.Models.ScopeNew
@using GenderPayGap.WebUI.Classes.Formatters
@model GenderPayGap.WebUI.Models.ScopeNew.ScopeViewModel

@{
    ViewBag.Title = "Complete - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string reportingYearsString = Model.ReportingYear.Year + "/" + (Model.ReportingYear.Year + 1).ToString().Substring(2, 2);
    string reason = Model.WhyOutOfScope == WhyOutOfScope.Under250
        ? "My organisation had fewer than 250 employees on " + new GDSDateFormatter(Model.ReportingYear).FullStartDate
        : Model.WhyOutOfScopeDetails;
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
{
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change reporting requirement"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You've confirmed your employer is not required to report for the @reportingYearsString reporting year
            </h1>
        </div>

        <h1 class="heading-large">
            <span class="heading-secondary">@Model.Organisation.OrganisationName</span>
        </h1>
        <p class="govuk-body">
            You have acknowledged that your employer is subject the gender pay
            gap regulations for the @(reportingYearsString) reporting year.
        </p>

        <p class="govuk-body">
            <a class="button" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})" role="button">Return to @Model.Organisation.OrganisationName</a>
        </p>
        <p class="govuk-body">
            <a class="button" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = ViewContext.RouteData.Values["Id"]})" role="button">Return to Manage Employers</a>
        </p>
    </div>
</div>
