@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@using GenderPayGap.WebUI.Models.ScopeNew
@using GenderPayGap.WebUI.Classes.Formatters
@model GenderPayGap.WebUI.Models.ScopeNew.OutOfScopeViewModel

@{
    ViewBag.Title = "Complete - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string reportingYearsString = Model.ReportingYear.Year + "/" + (Model.ReportingYear.Year + 1).ToString().Substring(2, 2);
    string reason = Model.WhyOutOfScope == WhyOutOfScope.Under250
        ? "My organisation had fewer than 250 employees on " + new GDSDateFormatter(Model.ReportingYear).FullStartDate
        : Model.WhyOutOfScopeDetails;
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change Scope (Reporting Year " + reportingYearsString + ")"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Complete
            </h1>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                @if (Model.Organisation.CompanyNumber != null)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Company Number
                        </th>
                        <td class="govuk-table__cell">
                            @Model.Organisation.CompanyNumber
                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Employer Name
                    </th>
                    <td class="govuk-table__cell">
                        @Model.Organisation.OrganisationName
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Reporting Year
                    </th>
                    <td class="govuk-table__cell">
                        @reportingYearsString
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        New Scope
                    </th>
                    <td class="govuk-table__cell">
                        OutOfScope
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Reason
                    </th>
                    <td class="govuk-table__cell">
                        @reason
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="govuk-body">
            You have told us that your organisation is not in scope of the gender pay gap reporting regulations for the
            @reportingYearsString reporting year.
            We will contact you if we need more information.
        </p>
        
        <p class="govuk-body">
            Return to
            <a href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})"
               class="govuk-link">
                @Model.Organisation.OrganisationName
            </a>
        </p>
        
        <p class="govuk-body">
            Return to
            <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
               class="govuk-link">
                Your Organisations
            </a>
        </p>
    </div>
</div>
