@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@using GenderPayGap.WebUI.Classes.Formatters
@using GenderPayGap.WebUI.Controllers.SendFeedback
@using GenderPayGap.WebUI.Models.ScopeNew
@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Models.Shared.Patterns
@model GenderPayGap.WebUI.Models.ScopeNew.ScopeViewModel

@{
    ViewBag.Title = "Tell us why your employer doesn't need to report - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string reportingYearsString = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear.Year, "/");
    var breadcrumbModel = new ManageOrganisationBreadcrumbs 
    { 
        OrganisationName = Model.Organisation.OrganisationName, 
        EncryptedOrganisationId = encryptedOrganisationId, 
        PageText = "Change reporting requirement"
    };
}

@section BeforeMain {
    <partial name="Patterns/ManageOrganisationBreadcrumbs" model="breadcrumbModel" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="@Url.Action("SubmitOutOfScopeAnswers", "Scope", new {encryptedOrganisationId, reportingYear = Model.ReportingYear.Year })">
            @(Html.AntiForgeryToken())
            <h1 class="govuk-heading-xl">Tell us why your employer doesn't need to report</h1>

            @(Html.GovUkErrorSummary())

            @{
                var whyOutOfScopeConditionalOptions =
                    new Dictionary<WhyOutOfScope?, Func<object, object>>
                    {
                        {
                            WhyOutOfScope.Other,
                            @<text>
                                @(Html.GovUkLabel(new LabelViewModel {For = nameof(FeedbackViewModel.OtherSourceText), Text = "Please provide some details"}))
                                @(Html.GovUkTextAreaFor(m => m.WhyOutOfScopeDetails))
                             </text>
                        }
                    };
            }
            
            @(Html.GovUkRadiosFor(
                m => m.WhyOutOfScope,
                new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Why is your employer not required to report gender pay gap information for the " + reportingYearsString + " reporting year?",
                        Classes = "govuk-fieldset__legend--m"
                    },
                    Classes = "govuk-!-margin-top-6"
                },
                itemLabelOptions: new Dictionary<WhyOutOfScope?, LabelViewModel>
                {
                    {
                        WhyOutOfScope.Under250,
                        new LabelViewModel
                        {
                            Text = "My employer had a head count of less than 250 employees on our snapshot date of " + new GDSDateFormatter(Model.ReportingYear).FullStartDate
                        }
                    }
                },
                conditionalOptions: whyOutOfScopeConditionalOptions
                ))
            
            @(Html.GovUkRadiosFor(
                m => m.HaveReadGuidance,
                new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Have you read our guidance, which explains who needs to report?",
                        Classes = "govuk-fieldset__legend--m"
                    },
                    Classes = "govuk-!-margin-top-6"
                }))
            
            <p class="govuk-body">
                Read  more about <a href="@Global.WhoNeedsToReportGuidanceLink" target="_blank" rel="noopener">who needs to report their gender pay gap.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
            </p>
            
            @(Html.GovUkButton(
                new ButtonViewModel
                {
                    Text = "Continue"
                }
                ))
            
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
                    Cancel
                </a>
            </p>

        </form>
    </div>
</div>
