@using GenderPayGap.Core
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Services
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.AddOrganisation.AddOrganisationAlreadyRegisteringViewModel
@{
    UserOrganisation userOrg = Model.ExistingUserOrganisation;
    string encryptedOrgId = Encryption.EncryptQuerystring(userOrg.OrganisationId.ToString());

    ViewBag.Title = userOrg.PINConfirmedDate.HasValue
        ? "You are already registered - Gender pay gap service"
        : "You are already registering - Gender pay gap service";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Url.Action("Search", "AddOrganisationSearch",
            new
            {
                Sector = Model.Sector.ToString().ToLower(),
                query = Model.Query
            }) + $"#search-result-id-{Model.Id}",
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (userOrg.PINConfirmedDate.HasValue)
        {
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-font-size-36">
                    You are already registered to report on behalf of @(userOrg.Organisation.OrganisationName)
                </h1>
            </div>

            <h2 class="govuk-heading-m govuk-!-padding-top-2">
                More options
            </h2>
            <ul class="govuk-list">
                <li>
                    <a href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrgId})"
                       class="govuk-link">
                        Go to @(userOrg.Organisation.OrganisationName)
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                       class="govuk-link">
                        Back to Manage Employers
                    </a>
                </li>
            </ul>

        }
        else if (userOrg.PINSentDate.HasValue)
        {
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-font-size-36">
                    You are already registering to report on behalf of @(userOrg.Organisation.OrganisationName)
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-27">
                    We've sent you a PIN by post
                </div>
                <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-3">
                    Follow the instructions in the letter to complete your registration
                </div>
            </div>

            <h2 class="govuk-heading-m govuk-!-padding-top-2">
                We've sent a PIN by post to the following name &amp; address:
            </h2>
            <p class="govuk-body">
                @(Model.ExistingUserOrganisation.User.Firstname) @(Model.ExistingUserOrganisation.User.Lastname)<br/>
                @(Model.ExistingUserOrganisation.Organisation.OrganisationName)<br/>
                @{
                    List<string> address = PinInThePostService.GetAddressComponentsWithoutRepeatsOrUnnecessaryComponents(Model.ExistingUserOrganisation.Organisation.GetLatestAddress());
                }
                @foreach (string addressLine in address)
                {
                    @(addressLine)<br />
                }
            </p>

            <h2 class="govuk-heading-m">
                What happens next
            </h2>
            <p class="govuk-body">
                Your PIN should arrive within 7 days.
            </p>
            <p class="govuk-body">
                If you have received the PIN letter, please
                <a href="@Url.Action("EnterPinGet", "AddOrganisationEnterPin", new {organisationId = userOrg.OrganisationId})"
                   class="govuk-link">
                    use the PIN to activate the service.
                </a>
            </p>

            <h2 class="govuk-heading-m">
                More options
            </h2>
            <ul class="govuk-list">
                <li>
                    <a href="@Url.Action("ChooseSector", "AddOrganisationChooseSector")"
                       class="govuk-link">
                        Add another employer to your account
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                       class="govuk-link">
                        Manage Employers
                    </a>
                </li>
            </ul>

        }
        else
        {
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-font-size-36">
                    You are already registering to report on behalf of @(userOrg.Organisation.OrganisationName)
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-27">
                    We'll review your request and email you to confirm.
                </div>
            </div>

            <h2 class="govuk-heading-m govuk-!-padding-top-2">
                What happens next
            </h2>
            <p class="govuk-body">
                The Office for Equality and Opportunity will review your details and email you within 5 working days to confirm your employer.
            </p>
            <p class="govuk-body">
                If we need more information to complete this process, we will email you.
            </p>

            <h2 class="govuk-heading-m">
                If you haven't heard back from us after 5 days
            </h2>
            <p class="govuk-body">
                Please check your junk email folder. If you are still unable to locate an email from us, you can contact us at
                <a href="mailto:@(Global.GpgReportingEmail)"
                   class="govuk-link">
                    @(Global.GpgReportingEmail)
                </a>
            </p>

            <h2 class="govuk-heading-m">
                More options
            </h2>
            <ul class="govuk-list">
                <li>
                    <a href="@Url.Action("ChooseSector", "AddOrganisationChooseSector")"
                       class="govuk-link">
                        Add another employer to your account
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                       class="govuk-link">
                        Manage Employers
                    </a>
                </li>
            </ul>

        }

    </div>
</div>
