@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminDashboardData
@{
    ViewBag.Title = $"Data Dashboard - Administration - Gender pay gap service";
    const string wholeNumberFormat = "#,0";
    const string percentNumberFormat = "0.0";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.AdminDashboardPage == AdminDashboardPage.Now
                    ? "Data dashboard (now)"
                    : "Data dashboard (deadline day)",
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Data Dashboard
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-2">
            View the data for:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            @if (Model.AdminDashboardPage == AdminDashboardPage.Now)
            {
                <li class="govuk-!-font-weight-bold">
                    Now (currently selected)
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("DataDashboardNow", "AdminDataDashboard")"
                       class="govuk-link">
                        Now
                    </a>
                </li>
            }
            @if (Model.AdminDashboardPage == AdminDashboardPage.DeadlineDay)
            {
                <li class="govuk-!-font-weight-bold">
                    <span>
                        Deadline day (currently selected)
                    </span>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("DataDashboardDeadlineDay", "AdminDataDashboard")"
                       class="govuk-link">
                        Deadline day
                    </a>
                </li>
            }
        </ul>
        
        @foreach (DashboardDataForReportingYear dataForYear in Model.DashboardDataForReportingYears.OrderByDescending(d => d.ReportingYear))
        {
            <details class="govuk-details" data-module="govuk-details" open>
                <summary class="govuk-details__summary">
                    <h2 class="govuk-details__summary-text govuk-!-margin-0 govuk-!-font-size-24">
                        @(ReportingYearsHelper.FormatYearAsReportingPeriod(dataForYear.ReportingYear)) reporting year
                    </h2>
                </summary>
                <div class="govuk-details__text">
                    <table class="govuk-table" style="max-width: 720px;">
                        @* <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> *@
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">
                                    <span class="govuk-visually-hidden">
                                        Group
                                    </span>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    <span class="govuk-visually-hidden">
                                        Statistic
                                    </span>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    Public sector
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        @if (dataForYear.DataForPublicSector.Date.HasValue)
                                        {
                                            <span>
                                                As of EOD
                                                <span style="white-space: nowrap">@(dataForYear.DataForPublicSector.Date.Value.ToString("d MMM yyyy"))</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                As of now
                                            </span>
                                        }
                                    </span>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    Private sector
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        @if (dataForYear.DataForPrivateSector.Date.HasValue)
                                        {
                                            <span>
                                                As of EOD
                                                <span style="white-space: nowrap">@(dataForYear.DataForPrivateSector.Date.Value.ToString("d MMM yyyy"))</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                As of now
                                            </span>
                                        }
                                    </span>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    Overall
                                </th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"
                                    style="vertical-align: middle; text-align: center; width: 45px; padding: 0;">
                                    <div style="writing-mode: vertical-lr; transform: rotate(180deg);">
                                        Orgs
                                    </div>
                                </th>
                                <th scope="row" class="govuk-table__header">
                                    Total number of organisations
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        with status Active or Retired
                                        <br/>
                                        (as of now, not specific to reporting year)
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.TotalNumberOfOrganisations.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.TotalNumberOfOrganisations.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.TotalNumberOfOrganisations.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th rowspan="6" scope="row" class="govuk-table__header"
                                    style="vertical-align: middle; text-align: center;">
                                    <div style="writing-mode: vertical-lr; transform: rotate(180deg)">
                                        Scope
                                    </div>
                                </th>
                                <th scope="row" class="govuk-table__header">
                                    No scope for this reporting year
                                    <br/>
                                    @if (Model.AdminDashboardPage == AdminDashboardPage.Now)
                                    {
                                        <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                            If any organsations are here,
                                            <a href="@Url.Action("OrganisationsWithNoActiveScopeForEveryYear", "AdminDatabaseIntegrityChecks")"
                                               class="govuk-link">
                                                this is an error</a>
                                            <br/>
                                            and should be investigated by the digital team
                                        </span>
                                    }
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsNoScopeForYear.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsNoScopeForYear.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsNoScopeForYear.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Out of scope</th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsOutOfScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsOutOfScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsOutOfScope.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Presumed out of scope</th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsPresumedOutOfScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsPresumedOutOfScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsPresumedOutOfScope.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Presumed in scope</th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsPresumedInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsPresumedInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsPresumedInScope.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">In scope</th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsInScope.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    Total in scope
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        In scope + Presumed in scope
                                    </span>
                                    @* We use 2 BRs to add a space between this table row and the next *@
                                    <br/><br/>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsInScopeAndPresumedInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsInScopeAndPresumedInScope.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsInScopeAndPresumedInScope.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th rowspan="6" scope="row" class="govuk-table__header"
                                    style="vertical-align: middle; text-align: center;">
                                    <div style="writing-mode: vertical-lr; transform: rotate(180deg)">
                                        Reporting
                                    </div>
                                </th>
                                <th scope="row" class="govuk-table__header">
                                    Out of scope and not reported
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        Reported and either Out of scope or Presumed out of scope
                                        <br/>
                                        These organisations have no requirement to report
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsOutOfScopeAndNotReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsOutOfScopeAndNotReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsOutOfScopeAndNotReported.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    Voluntarily reported
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        Reported and either Out of scope or Presumed out of scope
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsVoluntarilyReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsVoluntarilyReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsVoluntarilyReported.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    In scope and reported
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        These are the organisations that are required to report
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsInScopeAndReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsInScopeAndReported.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsInScopeAndReported.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    % Reported
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        <i>In scope and reported</i>
                                        <br/>
                                        as a percentage of
                                        <br/>
                                        <i>Total in scope (In scope + Presumed in scope)</i>
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsInScopeAndReportedPercent.ToString(percentNumberFormat))%</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsInScopeAndReportedPercent.ToString(percentNumberFormat))%</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsInScopeAndReportedPercent.ToString(percentNumberFormat))%</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    @{
                                        string notReportedLink = Model.AdminDashboardPage == AdminDashboardPage.Now
                                            ? Url.Action("DataDashboardNotReportedNow", "AdminDataDashboard", new {reportingYear = dataForYear.ReportingYear})
                                            : Url.Action("DataDashboardNotReportedDeadlineDate", "AdminDataDashboard", new {reportingYear = dataForYear.ReportingYear});
                                    }
                                    <a href="@notReportedLink"
                                       class="govuk-link">
                                        Failed to report
                                    </a>
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        In Scope or Presumed In Scope,
                                        <br/>
                                        but not reported
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsFailedToReport.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsFailedToReport.ToString(wholeNumberFormat))</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsFailedToReport.ToString(wholeNumberFormat))</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    % Failed to report
                                    <br/>
                                    <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" style="display: inline-block; line-height: 1 !important;">
                                        <i>Failed to report</i>
                                        <br/>
                                        as a percentage of
                                        <br/>
                                        <i>Total in scope (In scope + Presumed in scope)</i>
                                    </span>
                                </th>
                                <td class="govuk-table__cell">@(dataForYear.DataForPublicSector.OrganisationsFailedToReportPercent.ToString(percentNumberFormat))%</td>
                                <td class="govuk-table__cell">@(dataForYear.DataForPrivateSector.OrganisationsFailedToReportPercent.ToString(percentNumberFormat))%</td>
                                <td class="govuk-table__cell">@(dataForYear.OverallData.OrganisationsFailedToReportPercent.ToString(percentNumberFormat))%</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </details>
        }
        
    </div>
</div>
