@using GenderPayGap.WebUI.Models.Report
@model GenderPayGap.WebUI.Models.Report.ReportOverviewSectionsViewModel

<h3 class="govuk-heading-s">@(Model.Title)</h3>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
@foreach (ReportOverviewSectionViewModel section in Model.Sections)
{
    <table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
        <caption class="govuk-table__caption govuk-table__caption--s">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                @(section.Title)
                <div class="govuk-body-s">
                    <a class="govuk-link govuk-!-margin-left-8" href="@(section.EditLink)">Edit</a>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        </caption>

        @if (section.LeftTitle != null && section.RightTitle != null)
        {
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">@(section.Title)</span>
                    </th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">@(section.LeftTitle)</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">@(section.RightTitle)</th>
                </tr>
            </thead>
        }

        <tbody class="govuk-table__body">
            @foreach (ReportOverviewSectionRowViewModel row in section.Rows)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">@(row.Title.Invoke(null))</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@(row.LeftValue)</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@(row.RightValue)</td>
                </tr>
            }
        </tbody>
    </table>
}
