@using GenderPayGap.WebUI.Controllers.Guidance
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Eight ways to understand your organisation's gender pay gap - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Home",
                Href = Url.Action("Index", "Viewing")
            },
            new CrumbViewModel
            {
                Text = "Eight ways to understand your organisation's gender pay gap"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="Sections/Header" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Contents</h3>

        <ul class="govuk-list guidance-list-with-dashes">
            @foreach (PaginationPage page in EightWaysGuidanceController.GetPagesInThisGuidance(Url, Context.Request).Pages)
            {
                <li>
                    @if (page.IsCurrentPage)
                    {
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @(page.Title)
                        </p>
                    }
                    else
                    {
                        <a href="@(page.Url)" class="govuk-link">
                            @(page.Title)
                        </a>
                    }
                </li>
            }
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        @(RenderBody())

        <hr class="govuk-section-break govuk-section-break--l">

        @{ await Html.RenderPartialAsync("/Views/Components/PaginationLinks/AutomaticPaginationLinks.cshtml",
               EightWaysGuidanceController.GetPagesInThisGuidance(Url, Context.Request)); }

    </div>

    <div class="govuk-grid-column-one-third">
        <partial name="Sections/RelatedContent" />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Sections/UpdatesRecord" />
    </div>
</div>
