@using GenderPayGap.Core
@using GenderPayGap.WebUI.Controllers.Login
@using GenderPayGap.WebUI.Cookies
@using GenderPayGap.WebUI.Helpers
@{
    string assetsPath = "/assets/images";

    ViewBag.assetsPath = Url.Content("/public/govuk_template/assets");
    dynamic title = !string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Gender pay gap";
    dynamic documentTitle = string.Format("{0} - {1}", title, "GOV.UK");

    ViewBag.hidePhase = ViewBag.hidePhase == null ? false : true;
}
<!DOCTYPE html>

<!-- Build number: @(BuildNumberHelper.GetBuildNumber()) -->
<!-- VirtualDateTime: @(VirtualDateTime.Now.ToString("s")) -->
<!-- Environment: @(Config.EnvironmentName) -->
<!-- Server name: @(Environment.MachineName) -->

<html lang="en">
<head>
    <title>@documentTitle</title>
    <meta http-equiv="content-type" default-content="text/html; charset=UTF-8" />
    <meta name="description" default-content="@ViewBag.pageDescription" required="false" />
    <meta name="robots" required="false" />

    <meta name="google-site-verification" content="uRt7CAkfClOB8Jig6Pw2-DELUWuuyG2kYKip0UThxhg" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (!string.IsNullOrWhiteSpace(ViewBag.ogType))
    {
        <meta property="og:type" content="@(ViewBag.ogType)" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.ogTitle))
    {
        <meta property="og:title" content="@(ViewBag.ogTitle)" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.ogDescription))
    {
        <meta property="og:description" content="@(ViewBag.ogDescription)" />
    }
    <meta property="og:image" content="@(ViewBag.assetsPath)/images/opengraph-image.png?0.12.0">

    <script type="text/javascript">
        (function () {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var d = document, c = "appendChild", a = d.createElement("style");
                a[c](d.createTextNode("@@-ms-viewport{width:auto!important}"));
                d.getElementsByTagName("head")[0][c](a);
            }
        })();
    </script>
    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.assetsPath)/stylesheets/govuk-template-print.css?0.12.0" media="print" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.assetsPath)/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="@(assetsPath)/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="@(assetsPath)/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="@(assetsPath)/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="@(assetsPath)/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@(assetsPath)/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="@(assetsPath)/govuk-apple-touch-icon.png">

    @RenderSection("Head", false)

    <!--[if !IE 8]><!-->
    <link href="@(StaticAssetsVersioningHelper.GetAppCssFilename())" rel="stylesheet" />
    <!--<![endif]-->
    <!--[if IE 8]>
        <link href="@(StaticAssetsVersioningHelper.GetAppIe8CssFilename())" rel="stylesheet" />
    <![endif]-->
</head>
<body class="@(ViewBag.bodyClasses)">
@if (!Context.GetBrowser().ContainsI("MSIE 8"))
{
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
}
@if (!CookieHelper.HasSeenLatestCookieMessage(Context.Request))
{
    await Html.RenderPartialAsync("/Views/Components/CookieBanner.cshtml");
}
@RenderSection("bodyStart", false)
<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<!--end global-cookie-message-->
<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="http://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="@(ViewBag.assetsPath)/images/gov.uk_logotype_crown.png?0.13.0" width="35" height="31" alt="">
                    GOV.UK
                </a>
            </div>
            @RenderSection("InsideHeader", false)
        </div>

        <div class="header-proposition">
            <div class="content">
                <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                <nav id="proposition-menu" aria-label="proposition menu">
                    <a href="~/" id="proposition-name">Gender pay gap service</a>
                    @{
                        string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
                    }
                    <ul id="proposition-links">

                        @if (FeatureFlagHelper.IsFeatureEnabled(FeatureFlag.ReportingStepByStep))
                        {
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href="@(Url.Action(nameof(ViewingController.SearchResults), "Viewing"))">Search</a>
                            </li>
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href="@(Url.Action("StepByStepStandalone", "ReportingStepByStep"))">Guidance</a>
                            </li>
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href=@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")>Submit</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href="@(Url.Action(nameof(ViewingController.SearchResults), "Viewing"))">Search and compare</a>
                            </li>
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href="@(Url.Action(nameof(ViewingController.Download), "Viewing"))">Download</a>
                            </li>
                            <li>
                                <a rel="track" data-track-category="Header Link Clicked" href="/actions-to-close-the-gap">Close the gap</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="login-links" class="nowrap">
                                @Html.ActionLink("Sign out", nameof(LoginController.Logout), "Login")
                            </li>
                        } 
                        else 
                        {
                            <li id="login-links" class="nowrap">
                                @Html.ActionLink("Sign in", nameof(OrganisationController.ManageOrganisations), "Organisation") 
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--end header-->
<div role="complementary">
    @RenderSection("AfterHeader", false)
    <div id="global-header-bar">
        <div class="inner-block">
            <div class="header-bar"></div>
        </div>
    </div>
    <!--end global-header-bar-->
    <div class="phase-callout no-print">
        <div class="grid-row">
            <div class="column-full">
                <div class="phase-banner-alpha">
                    @(await Html.PartialAsync("../govuk/partials/phase/beta"))
                </div>
            </div>
        </div>
    </div>
</div>
@RenderBody()

<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <ul>
                    <li>
                        <a href="@(Url.Action("ContactUs", "Home"))">Contact Us</a>
                    </li>
                    <li>
                        <a href="@(Url.Action("CookieDetails", "Cookie"))">Cookies</a>
                    </li>
                    <li>
                        <a href="@(Url.Action("PrivacyPolicy", "Home"))">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="@(Url.Action("ReportConcerns", "Home"))">Report Concerns</a>
                    </li>
                    <li>
                        <a href="@(Url.Action("AccessibilityStatement", "Home"))">Accessibility statement</a>
                    </li>
                    @if (Config.OffsetCurrentDateTimeForSite() != TimeSpan.Zero)
                    {
                        <li style="font-size: smaller">@(VirtualDateTime.Now)</li>
                    }
                </ul>
                <div class="open-government-licence">
                    <p class="logo">
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                    </p>
                    <p>
                        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>
            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->
<div id="global-app-error" class="app-error hidden"></div>

<script src="@(ViewBag.assetsPath)/javascripts/govuk-template.js?0.13.0" type="text/javascript"></script>
<script src="@(StaticAssetsVersioningHelper.GetAppJsFilename())"></script> 
<script>window.GOVUKFrontend.initAll()</script> 
@RenderSection("BodyEnd", false)
</body>
</html>