@using System.ComponentModel.DataAnnotations
@using GenderPayGap.Core
@using GenderPayGap.WebUI.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.ReportReviewAndSubmitViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = $"{Model.ReportingYear}-{(Model.ReportingYear + 1) % 100}";

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisations", "Organisation")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisation", "Organisation", new {id = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{editOrReportTitle} (reporting year {formattedReportingYears})",
                Href = Url.Action("ReportOverview", "ReportOverview",
                    new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new CrumbViewModel
            {
                Text = $"Review and submit"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages"); }

        <h1 class="govuk-heading-xl">
            @(editOrReportTitle)
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
            <br />
            <span class="govuk-!-font-size-27" style="margin-top: 4px; display: block;">
                for reporting year @(formattedReportingYears)
            </span>
        </h1>

        <h2 class="govuk-heading-l">
            Review your gender pay gap report
        </h2>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            Hourly pay
        </h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                    Difference in hourly pay (mean)
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-third">
                    @(Model.DraftReturn.DiffMeanHourlyPayPercent) %
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                    Difference in hourly pay (median)
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-third">
                    @(Model.DraftReturn.DiffMedianHourlyPercent) %
                </dd>
            </div>
        </dl>

        <h3 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">
            Bonus pay
        </h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                    Females who received bonus pay
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-third">
                    @(Model.DraftReturn.FemaleMedianBonusPayPercent) %
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                    Males who received bonus pay
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-third">
                    @(Model.DraftReturn.MaleMedianBonusPayPercent) %
                </dd>
            </div>

            @if (Model.DraftReturn.FemaleMedianBonusPayPercent != 0
            || Model.DraftReturn.MaleMedianBonusPayPercent != 0)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                        Difference in bonus pay (mean)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-third">
                        @(Model.DraftReturn.DiffMeanBonusPercent) %
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                        Difference in bonus pay (median)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-third">
                        @(Model.DraftReturn.DiffMedianBonusPercent) %
                    </dd>
                </div>
            }
        </dl>

        <h3 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">
            Employees by pay quartile
        </h3>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">Pay quartile</span>
                    </th>
                    <th scope="col" class="govuk-table__header">Male</th>
                    <th scope="col" class="govuk-table__header">Female</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Upper pay quartile</th>
                    <td class="govuk-table__cell">@(Model.DraftReturn.MaleUpperQuartilePayBand) %</td>
                    <td class="govuk-table__cell">@(Model.DraftReturn.FemaleUpperQuartilePayBand) %</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Upper-middle pay quartile</th>
                    <td class="govuk-table__cell">@(Model.DraftReturn.MaleUpperPayBand) %</td>
                    <td class="govuk-table__cell">@(Model.DraftReturn.FemaleUpperPayBand) %</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Lower-middle pay quartile</th>
                    <td class="govuk-table__cell">@(Model.DraftReturn.MaleMiddlePayBand) %</td>
                    <td class="govuk-table__cell">@(Model.DraftReturn.FemaleMiddlePayBand) %</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Lower pay quartile</th>
                    <td class="govuk-table__cell">@(Model.DraftReturn.MaleLowerPayBand) %</td>
                    <td class="govuk-table__cell">@(Model.DraftReturn.FemaleLowerPayBand) %</td>
                </tr>
            </tbody>
        </table>
        
        @if (Model.Organisation.SectorType != SectorTypes.Public)
        {
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                Person responsible in your organisation
            </h3>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-third">
                        @(Model.DraftReturn.FirstName) @(Model.DraftReturn.LastName)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                        Job title
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-width-one-third">
                        @(Model.DraftReturn.JobTitle)
                    </dd>
                </div>
            </dl>
        }

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            Size of your organisation
        </h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">
                    Number of employees within your organisation
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-third">
                    @(Model.DraftReturn.OrganisationSize.GetAttribute<DisplayAttribute>().Name)
                </dd>
            </div>
        </dl>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            Link to your gender pay gap information
        </h3>
        @{
            bool linkIsValid = UriSanitiser.IsValidHttpOrHttpsLink(Model.DraftReturn.CompanyLinkToGPGInfo);
        }
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular
                    @(linkIsValid ? null : "govuk-!-width-two-thirds")">
                    Website link
                </dt>
                <dd class="govuk-summary-list__value
                    @(linkIsValid ? null : "govuk-!-width-one-third")">
                    @if (linkIsValid)
                    {
                        <a href="@(Model.DraftReturn.CompanyLinkToGPGInfo)"
                           target="_blank"
                           rel="noopener"
                           class="govuk-link">
                            @(Model.DraftReturn.CompanyLinkToGPGInfo)
                        </a>
                    }
                    else
                    {
                        <span>Not provided</span>
                    }
                </dd>
            </div>
        </dl>
        
        <h2 class="govuk-heading-l govuk-!-margin-top-8">
            Submit your gender pay gap report
        </h2>
        
        <div class="govuk-inset-text">
            <div class="govuk-!-margin-bottom-2">
                On submission your data will be published on the gender pay gap service.
            </div>
            <div>
                Please note that submission of inaccurate data means you have not complied with the gender pay gap regulations.
            </div>
        </div>

        <form method="post"
              action="@(Url.Action("ReportSubmitPost", "ReportReviewAndSubmit",
                          new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear}))">
            @(Html.AntiForgeryToken())

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = Model.WillBeLateSubmission ? "Continue" : "Confirm and submit",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ReportOverview", "ReportOverview",
                             new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})"
                   class="govuk-link">
                    Go back and continue editing this report
                </a>
            </p>
        </form>

    </div>
</div>
