@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminOrganisationCompanyNumberViewModel

@{
    ViewBag.Title = $"Change company number - {Model.Organisation.OrganisationName} - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
{
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change company number"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}


<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">
    Change company number
    <br />
    <span class="govuk-!-font-size-27">
        for @(Model.Organisation.OrganisationName)
    </span>
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="@Url.Action("ChangeCompanyNumberPost", "AdminOrganisationCompanyNumber", new { id = Model.Organisation.OrganisationId })">
            @(Html.AntiForgeryToken())
            <input type="hidden"
                   name="@(nameof(AdminOrganisationCompanyNumberViewModel.CurrentPage))"
                   value="@(nameof(AdminOrganisationCompanyNumberViewModelCurrentPage.Change))" />

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Organisation name</th>
                        <td class="govuk-table__cell">@(Model.Organisation.OrganisationName)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Current company number</th>
                        <td class="govuk-table__cell">@(Model.Organisation.CompanyNumber ?? "(none)")</td>
                    </tr>
                </tbody>
            </table>

            @(await Html.GovUkTextInputFor(
                m => m.NewCompanyNumber,
                new LabelViewModel
                {
                    Text = "New company number",
                    Classes = "govuk-label--m"
                },
                classes: "govuk-input--width-10"
            ))

            <div class="govuk-form-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                    Classes = "govuk-!-margin-bottom-4"
                }))

                <p class="govuk-body">
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                </p>
            </div>

        </form>
    </div>
</div>
