@using GenderPayGap.Core
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Privacy Policy - Gender pay gap reporting service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Privacy Policy</h1>

        <p class="govuk-body">This page explains what kind of personal information the Government Equalities Office (GEO) holds about you, how it's protected and how you can find out about it.</p>

        <h2 class="govuk-heading-l">What personal information GEO holds about you</h2>

        <p class="govuk-body">GEO hold the following information about you if you create an account to report gender pay gap data:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>your personal details: your name, email address, job title and telephone number</li>
            <li>whether you've signed up to be contacted for feedback purposes or information on closing your gender pay gap</li>
        </ul>

        <p class="govuk-body">GEO also hold the following information about the responsible person required to authorise gender pay gap returns for your organisation:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>their name and job title</li>
        </ul>

        <h2 class="govuk-heading-l">Purpose</h2>
        <p class="govuk-body">We use your personal data to enable the creation of user accounts, and to publish data about responsible persons in line with our legal obligations.</p>

        <h2 class="govuk-heading-l">Legal basis of processing</h2>

        <h3 class="govuk-heading-m">For publication of the name and job title of the responsible person:</h3>
        <p class="govuk-body">Processing is necessary to comply with a legal obligation placed on us as the data controller under regulation 15(2) of the Equality Act 2010 (Gender Pay Gap Information) Regulations 2017.</p>

        <h3 class="govuk-heading-m">For processing of user account data:</h3>
        <p class="govuk-body">Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller, in particular:</p>
        <p class="govuk-body">Allowing the submission by employers with more than 250 staff in England, Scotland and Wales of gender pay gap data as part of the regulations under section 78 of the Equality Act 2010. The specific regulations are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>The Equality Act 2010 (Gender Pay Gap Information) Regulations 2017 and</li>
            <li>Equality Act 2010 (Specific Duties and Public Authorities) Regulations 2017</li>
        </ul>

        <h2 class="govuk-heading-m">How long GEO keeps your personal data</h2>
        <p class="govuk-body">When you create an account you will be sent an email with a verification link. You will need to verify your account within seven days otherwise we will securely delete all your personal details.</p>
        <p class="govuk-body">Once you have verified your account, we will retain your data as long as we have an ongoing legitimate business need to do so. Where we have no legitimate business need we will securely delete all your personal details.</p>

        <p class="govuk-body">A legitimate business needs means:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>That we have a need to retain your details in order to provide services to you or to your organisation.</li>
            <li>The law requires us to provide these services</li>
        </ul>

        <p class="govuk-body">Information we publish about the name and job title of the responsible person will be retained indefinitely.</p>

        <h2 class="govuk-heading-l">Sharing your information</h2>
        <p class="govuk-body">The name and job title of responsible persons will be published.</p>
        <p class="govuk-body">If you register as a user on behalf of your organisation, your name will be shared with other Gender Pay Gap service users registered to report for your organisation. Your name will not be shared with any other users.</p>
        <p class="govuk-body">Your information will be shared with our mail and email service providers where this is needed to process your registration. It will also be shared with our hosting suppliers and third party IT support companies for the purposes of managing the site. It will also be shared with the Department for Education who currently provide some IT services for us.</p>
        <p class="govuk-body">Your information may be shared with the Equalities and Human Rights Commission (EHRC). EHRC have the power to investigate any breaches of the regulations.</p>
        <p class="govuk-body">There are some cases when your information can be shared for other reasons, e.g. to prevent crime, respond to legal obligations or cooperate with public inquiries.</p>

        <h2 class="govuk-heading-l">Where personal data have not been obtained from you</h2>
        <p class="govuk-body">Your personal data were obtained by us from your employer or organisation.</p>

        <h2 class="govuk-heading-l">Your rights</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>You can ask to see and rectify the personal information GEO holds about you. Users can do this by logging into their account on the gender pay gap service via the manage account page.</li>
            <li>In certain circumstances, you may also object to or restrict the processing of your data by GEO by making a request to the <a class="govuk-link" href="mailto:@(Global.GpgReportingEmail)" target="_blank">@Global.GpgReportingEmail</a> mailbox.</li>
            <li>You may delete your account within the GPG service, however GEO may retain details about your account in line with legitimate business needs and your rights under the General Data Protection Regulation.</li>
        </ul>

        <h2 class="govuk-heading-l">Contact Details</h2>
        <p class="govuk-body">The data controller for your personal data is the Cabinet Office.</p>
        <p class="govuk-body"> The contact details for the data controller are: </p>
        <p class="govuk-body">
            Cabinet Office<br />
            70 Whitehall,<br />
            London,<br />
            SW1A 2AS<br />
        </p>
        <p class="govuk-body">or 0207 276 1234, or <a class="govuk-link" href="mailto:@(Global.DataControllerEmail)" target="_blank">@(Global.DataControllerEmail)</a>.</p>
        <p class="govuk-body">The contact details for the data controller’s Data Protection Officer are: </p>
        <p class="govuk-body">
            Stephen Jones<br />
            Data Protection Officer<br />
            Cabinet Office,<br />
            Room 405,<br />
            70 Whitehall,<br />
            London,<br />
            SW1A 2AS
        </p>
        <p class="govuk-body">or <a class="govuk-link" href="mailto:@(Global.DataProtectionOfficerEmail)" target="_blank">@(Global.DataProtectionOfficerEmail)</a>.</p>
        <p class="govuk-body">The Data Protection Officer provides independent advice and monitoring of Cabinet Office’s use of personal information.</p>

        <h2 class="govuk-heading-l">How to make a complaint</h2>
        <p class="govuk-body">If you're unhappy with the way GEO handled your personal information, you can write to:</p>
        <p class="govuk-body">
            <a class="govuk-link" href="mailto:@(Global.GpgReportingEmail)" target="_blank">@Global.GpgReportingEmail</a> or in writing to:<br />
        </p>
        <p class="govuk-body">
            Government Equalities Office<br />
            6th Floor, Sanctuary Buildings,<br />
            Great Smith Street,<br />
            London,<br />
            SW1P 3BT.
        </p>
        <p class="govuk-body">If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator.</p>
        <p class="govuk-body">The Information Commissioner can be contacted at:</p>
        <p class="govuk-body">
            Information Commissioner's Office<br />
            Wycliffe House,<br />
            Water Lane,<br />
            Wilmslow,<br />
            Cheshire,<br />
            SK9 5AF
        </p>
        <p class="govuk-body">or 0303 123 1113, or <a class="govuk-link" href="mailto:@(Global.InformationCommissionerEmail)" target="_blank">@Global.InformationCommissionerEmail</a>.</p>
        <p class="govuk-body">Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>

        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" action="@(Url.Action("PrivacyPolicyPost", "Home"))">
                @Html.AntiForgeryToken()
                <div class="govuk-form-group">
                    @(Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Continue"
                    }))
                </div>
            </form>
        }
    </div>
</div>
