@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.WebUI.Models.Admin.AdminHomepageViewModel
@{
    ViewBag.Title = "Administration - Gender pay gap service";
}

<h1 class="govuk-heading-xl">Administration</h1>

<form method="GET" action="@(Url.Action("SearchGet", "AdminSearch"))">
    <div class="govuk-form-group">
        <label class="govuk-label" for="search-query">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Search for organisations and users</h2>
        </label>
        <div id="search-query-hint" class="govuk-hint govuk-!-margin-top-0">
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li class="govuk-hint">
                    <span class="govuk-!-font-weight-bold">Organisations:</span> search by current name, previous name, or company number
                </li>
                <li class="govuk-hint">
                    <span class="govuk-!-font-weight-bold">Users:</span> search by name or email address
                </li>
            </ul>
        </div>
        <div class="gpg-search-box">
            <input  type="text"
                    name="query"
                    id="search-query"
                    class="govuk-input"
                    aria-describedby="search-query-hint">
            <input type="submit" value="Search" class="gpg-search-button"/>
        </div>
    </div>
</form>


@if (User.IsInRole(LoginRoles.GpgAdmin))
{
    <h2 class="govuk-heading-l">Actions</h2>

    <p class="govuk-body">
        <a href="@Url.Action("Impersonate", "AdminImpersonateUser")" class="govuk-link govuk-!-font-weight-bold">Impersonate user</a>
        <br/>
        Login as a user to view their screens.
    </p>


    <h2 class="govuk-heading-l">Registrations</h2>

    <p class="govuk-body">
        <a href="@(Url.Action("UnconfirmedPins", "AdminUnconfirmedPins"))" class="govuk-link govuk-!-font-weight-bold">Unconfirmed PINs in the post</a>
        <br/>
        PINs in the Post that haven't yet been confirmed.
    </p>

    <p class="govuk-body">
        <a href="@(Url.Action("PendingRegistrations", "AdminPendingRegistrations"))" class="govuk-link govuk-!-font-weight-bold">Pending registrations</a>
        <br/>
        List of registrations which are awaiting manual authorisation.
    </p>
}


<h2 class="govuk-heading-l">Information</h2>

<p class="govuk-body">
    <a href="@Url.Action("DataDashboardNow", "AdminDataDashboard")" class="govuk-link govuk-!-font-weight-bold">Data dashboard</a>
    <br/>
    View a summary of each year's reporting compliance
</p>

<p class="govuk-body">
    <a href="@Url.Action("Downloads", "AdminDownloads")" class="govuk-link govuk-!-font-weight-bold">Downloads</a>
    <br/>
    Download organisation, registration, user, consent.
</p>

<p class="govuk-body">
    <a href="@Url.Action("ReferenceData", "AdminReferenceData")" class="govuk-link govuk-!-font-weight-bold">
        Reference Data (formerly Uploads)
    </a>
    <br/>
    Used to keep the list of SIC codes / SIC sections up to date
</p>

<p class="govuk-body">
    <a href="@Url.Action("DatabaseIntegrityChecks", "AdminDatabaseIntegrityChecks")" class="govuk-link govuk-!-font-weight-bold">Database Integrity Checks</a>
    <br/>
    Integrity checks for collected data.
</p>


@if (User.IsInRole(LoginRoles.GpgAdmin))
{
    <h2 class="govuk-heading-l">Feedback</h2>

@if (Model.NewFeedbackCount > 0)
{
    <p class="govuk-body">
        There are <b>@(Model.NewFeedbackCount)</b> new responses.
        <br/>
        <a href="@Url.Action("CategoriseNextFeedback", "AdminFeedback")"
           class="govuk-link">
            Categorise new feedback responses
        </a>
        <br/>
        <a href="@Url.Action("BulkMarkFeedbackAsSpamGet", "AdminFeedback")"
           class="govuk-link">
            Bulk mark feedback as spam
        </a>
    </p>
}

    <p class="govuk-body">
        There are <b>@(Model.NonSpamFeedbackCount)</b> non-spam feedback responses.
        <br/>
        <a href="@Url.Action("ViewFeedback", "AdminFeedback")"
           class="govuk-link">
            View and download feedback
        </a>
    </p>
}

<h2 class="govuk-heading-l">Admin users</h2>

<p class="govuk-body">
    <a href="@Url.Action("ManageAccountGet", "ManageAccount")"
       class="govuk-link govuk-!-font-weight-bold">
        Manage your own account
    </a>
    <br />
    Change your own email address, password, name, job title or phone number
</p>

@if (User.IsInRole(LoginRoles.GpgAdmin))
{
    <p class="govuk-body">
        <a href="@Url.Action("ViewAdminUsers", "AdminManageAdminUsers")"
           class="govuk-link govuk-!-font-weight-bold">
            Manage admin users
        </a>
        <br/>
        Add or remove admin users
    </p>
}

@if (User.IsInRole(LoginRoles.GpgAdmin))
{
    <h2 class="govuk-heading-l">Background Jobs</h2>

    <p class="govuk-body">
        <a href="/admin/hangfire" class="govuk-link govuk-!-font-weight-bold">Background Jobs dashboard (Hangfire)</a>
        <br/>
        A technical dashboard showing background jobs that are queued / running / succeeded / failed.
    </p>
}
