@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminUploadsViewModel
@{
    ViewBag.Title = "Reference Data - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Reference Data"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">
    Reference Data
</h1>

<h2 class="govuk-heading-l">
    SIC sections
</h2>

<p class="govuk-body">
    This is the list of @(Model.SicSectionsCount) top-level SIC sectors (e.g. "A: Agriculture Forestry and Fishing").
    <br/>
    See
    <a href="http://resources.companieshouse.gov.uk/sic/" class="govuk-link" rel="noopener">
        Companies House
        <span class="govuk-visually-hidden">
            list of SIC codes
        </span>
    </a>
    for the full list
</p>
<p class="govuk-body">
    <a href="@Url.Action("DownloadAllSicSections", "AdminReferenceData")"
       class="govuk-link">
        Download current version
        <span class="govuk-visually-hidden">
            of the SIC sections list
        </span>
    </a>
</p>
<p class="govuk-body">
    <a href="@Url.Action("SicSectionUploadGet", "AdminReferenceData")" 
       class="govuk-link"> 
        Upload a new version 
        <span class="govuk-visually-hidden"> 
            of the SIC sections list 
        </span> 
    </a>
</p>


<h2 class="govuk-heading-l">
    SIC codes
</h2>

<p class="govuk-body"> 
    This is the list of @(Model.SicCodesCount) low-level codes (e.g. "01140: Growing of sugar cane"). 
    <br /> 
    See 
    <a href="http://resources.companieshouse.gov.uk/sic/" class="govuk-link" rel="noopener">
        Companies House 
        <span class="govuk-visually-hidden"> 
            list of SIC codes 
        </span> 
    </a> 
    for the full list 
</p>
<p class="govuk-body">
    <a href="@Url.Action("DownloadAllSicCodes", "AdminReferenceData")"
       class="govuk-link">
        Download current version
        <span class="govuk-visually-hidden">
            of the SIC codes list
        </span>
    </a>
</p>
<p class="govuk-body">
    <a href="@Url.Action("SicCodeUploadGet", "AdminReferenceData")" 
       class="govuk-link"> 
        Upload a new version 
        <span class="govuk-visually-hidden"> 
            of the SIC codes list 
        </span> 
    </a>
</p>