@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminFileUploadViewModel
@{
    ViewBag.Title = "Upload new SIC codes - Reference Data - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Reference Data",
                Href = Url.Action("ReferenceData", "AdminReferenceData")
            },
            new CrumbViewModel
            {
                Text = "SIC codes"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Update SIC codes
        </h1>

        @(await Html.GovUkErrorSummary(ViewData.ModelState, new[]
        {
            nameof(AdminFileUploadViewModel.File),
        }))

        <h2 class="govuk-heading-m">How to use this page</h2>

        <ol class="govuk-list govuk-list--number">
            <li class="govuk-!-margin-bottom-3">
                <a href="@Url.Action("DownloadAllSicCodes", "AdminReferenceData")">Download the current SIC codes file</a>
            </li>
            <li class="govuk-!-margin-bottom-3">
                Make any changes to the SIC codes file e.g.

                <ul class="govuk-list govuk-list--bullet">
                    <li>add new SIC codes</li>
                    <li>delete SIC codes that are no longer used</li>
                    <li>change the description or Sector of SIC codes</li>
                </ul>

                <span class="govuk-!-font-weight-bold">Note:</span> The new file must contain all the SIC codes you want to keep, not just the ones that have changed.
            </li>
            <li class="govuk-!-margin-bottom-3">
                Use this page to upload your new file.
            </li>
            <li class="govuk-!-margin-bottom-3">
                On the next page, you will be asked to review the changes you are making
            </li>
        </ol>

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
            Upload your new SIC codes file
        </h2>

        <form method="post" enctype="multipart/form-data" action="@Url.Action("SicCodeUploadPost", "AdminReferenceData")">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkFileUploadFor(m => m.File,
                labelOptions: new LabelViewModel
                {
                    Text = "Upload a CSV file",
                },
                formGroupOptions: new FormGroupViewModel
                {
                    Classes = "govuk-!-margin-top-4"
                }
                ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Upload file and review changes",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ReferenceData", "AdminReferenceData")"
                   class="govuk-link">
                    Cancel and return to the reference data page
                </a>
            </p>

        </form>
    </div>
</div>
