@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GenderPayGap.Core
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.WebUI.Models.ViewReports
@using Microsoft.Extensions.Primitives
@model GenderPayGap.Database.Organisation

@{
    ViewBag.Title = $"Gender pay gap reports for {Model.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Homepage",
                Href = Url.Action("Index", "Homepage")
            },
            new CrumbViewModel
            {
                Text = "Search and compare",
                Href = Url.Action("SearchPage", "Search")
            }
        };

        string searchResultsUrlPrefix = Url.Action("SearchPage", "Search", null, Context.Request.Scheme) + "?";
        
        if (Context.Request.Headers.TryGetValue("Referer", out StringValues referrer) &&
            referrer.Count == 1 &&
            referrer[0].StartsWith(searchResultsUrlPrefix))
        {
            crumbs.Add(
                new CrumbViewModel
                {
                    Text = "Search results",
                    Href = referrer
                });
        }
        
        crumbs.Add(
            new CrumbViewModel
            {
                Text = Model.OrganisationName
            });
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="ComparisonBasketNew"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <h1 class="govuk-heading-l">
            Gender pay gap reports for
            <br/>
            @Model.OrganisationName
        </h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered address
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.GetLatestAddress()?.GetAddressString())
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Nature of business (SIC code)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.GetSicSectorsString())
                </dd>
            </div>
        </dl>
        
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @{
            var addRemoveButtonViewModel = new AddRemoveButtonViewModel
            {
                OrganisationIdEncrypted = Model.GetEncryptedId(),
                OrganisationName = Model.OrganisationName
            };
        }
        <partial name="~/Views/Compare/AddRemoveEmployer.cshtml" model="addRemoveButtonViewModel"/>

        @if (Model.GetSubmittedReports().Any() && Model.Status == OrganisationStatuses.Retired)
        {
            <div class="govuk-warning-text" id="warningText">
                <span class="govuk-warning-text__icon" aria-hidden="true" style="top: calc(50% - 15px)">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Notice</span>
                    This page is no longer updated. The organisation may no longer be in operation or operating under a different name
                </strong>
            </div>
        }

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2"/>
        
        <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Who is required to report, and the deadlines
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    From 2017, any employer who has a headcount of 250 or more on their &lsquo;snapshot date&rsquo;
                    must comply with regulations on gender pay gap reporting.
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        most
                        <a href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#public-regulations"
                           target="_blank" rel="noopener" class="govuk-link">
                            public authority employers (opens in a new window)</a>
                        must use a snapshot date of 31 March and report and publish
                        gender pay gap information by 30 March of the following year
                    </li>
                    <li>
                        <a href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#private-regulations"
                           target="_blank" rel="noopener" class="govuk-link">
                            private, voluntary and all other public authority employers (opens in a new window)</a>
                        must use a snapshot date of 5 April and report and publish
                        gender pay gap information by 4 April of the following year.
                    </li>
                </ul>
            </div>
        </details>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row employer-reports-page--visually-hidden-on-mobile"
                 @* This title row is aria-hidden="true"
                  * Visually, it looks a bit like a table, but it's actually a <dl> definition list
                  * <dl>s don't have titles, each row has its own title
                  * 
                  *@
                 aria-hidden="true">
                <div class="govuk-summary-list__key govuk-!-font-size-24">
                    Reporting Year
                </div>
                <div class="govuk-summary-list__key govuk-!-font-size-24 employer-reports-page--alight-right-on-desktop">
                    Report Status
                </div>
            </div>
            
            @foreach (int reportingYear in ReportingYearsHelper.GetReportingYears(Model.SectorType).OrderByDescending(y => y))
            {
                Return returnForYear = Model.GetReturn(reportingYear);
                ReportStatusTag reportStatusTag = ReportStatusTagHelper.GetReportStatusTag(Model, reportingYear);
                
                <div class="govuk-summary-list__row"
                     style="@(reportStatusTag == ReportStatusTag.NotRequiredDueToCovid || returnForYear != null ? "border: none;" : "")">
                    <dt class="govuk-summary-list__key govuk-!-margin-bottom-3">
                        @(ReportingYearsHelper.FormatYearAsReportingPeriod(reportingYear))
                        <span class="employer-reports-page--visually-hidden-on-desktop">
                            reporting year
                        </span>
                    </dt>
                    <dd class="govuk-summary-list__value employer-reports-page--alight-right-on-desktop">
                        <div>
                            @await Html.PartialAsync("ReportStatusBadge",
                                new ReportStatusBadgeViewModel
                                {
                                    ReportStatusTag = reportStatusTag,
                                    ReportSubmittedDate = returnForYear?.Modified,
                                    DeadlineDate = ReportingYearsHelper.GetDeadline(Model.SectorType, reportingYear)
                                })
                        </div>
                    </dd>
                </div>
                @if (reportStatusTag == ReportStatusTag.NotRequiredDueToCovid ||
                     (reportStatusTag == ReportStatusTag.Overdue && ReportingYearsHelper.IsReportingYearExcludedFromLateFlagEnforcement(reportingYear)))
                {
                    <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value employer-reports-page--covid-hint-text govuk-!-padding-top-0">
                            The deadline for 2019-20 was
                            @(ReportingYearsHelper.GetDeadline(Model.SectorType, 2019).ToString("d MMMM yyyy")).
                            Due to Coronavirus (COVID-19), enforcement of reporting deadlines does not
                            apply to employers in the 2019-20 reporting year.
                        </dd>
                    </div>
                }
                @if (returnForYear != null)
                {
                    <div class="govuk-summary-list__row">
                        <div class="govuk-summary-list__value govuk-!-padding-top-0">
                            @if (reportStatusTag == ReportStatusTag.SubmittedLate)
                            {
                                <span>
                                    This report was due on
                                    <span style="white-space: nowrap">
                                        @(ReportingYearsHelper.GetDeadline(Model.SectorType, reportingYear).ToString("d MMM yyyy"))
                                    </span>
                                </span>
                            }
                        </div>
                        <dd class="govuk-summary-list__value employer-reports-page--alight-right-on-desktop govuk-!-padding-top-0">
                            <a href="@Url.Action("ReportForYear", "ViewReports", new {organisationId = Model.OrganisationId, reportingYear = reportingYear})"
                               class="govuk-link">
                                View report
                                <span class="govuk-visually-hidden">
                                    for reporting year @(ReportingYearsHelper.FormatYearAsReportingPeriod(reportingYear))
                                </span>
                            </a>
                        </dd>
                    </div>
                }
            }
            
        </dl>
    </div>

    @await Html.PartialAsync("/Views/Submit/RelatedContent.cshtml")
</div>
