@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GenderPayGap.WebUI.Helpers
@using GenderPayGap.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations
@model GenderPayGap.Database.Return

@{
    string reportingYearFormatted = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.AccountingDate.Year);
    ViewBag.Title = $"{Model.Organisation.OrganisationName} gender pay gap report for {reportingYearFormatted} reporting year";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Homepage",
                Href = Url.Action("Index", "Homepage")
            },
            new CrumbViewModel
            {
                Text = "Search and compare",
                Href = Url.Action("SearchResults", "Viewing")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("Employer", "ViewReports", new { organisationId = Model.Organisation.OrganisationId })
            },
            new CrumbViewModel
            {
                Text = $"Gender pay gap report for {reportingYearFormatted}"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<partial name="ComparisonBasketNew"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            @(Model.Organisation.OrganisationName)
            <br/>
            @(reportingYearFormatted)
            Gender pay gap report
        </h1>
        
        @{
            var addRemoveButtonViewModel = new AddRemoveButtonViewModel
            {
                OrganisationIdEncrypted = Model.Organisation.GetEncryptedId(),
                OrganisationName = Model.Organisation.OrganisationName
            };
        }
        <partial name="~/Views/Compare/AddRemoveEmployer.cshtml" model="addRemoveButtonViewModel"/>
        
        
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Contents
        </h2>
        <ul class="govuk-list govuk-list--number">
            <li>
                <a href="#main-facts-and-figures" class="govuk-link">
                    Main facts and figures
                </a>
            </li>
            <li>
                <a href="#hourly-pay" class="govuk-link">
                    Hourly pay
                </a>
            </li>
            <li>
                <a href="#pay-quarters" class="govuk-link">
                    Pay quarters
                </a>
            </li>
            <li>
                <a href="#bonus-pay" class="govuk-link">
                    Bonus pay
                </a>
            </li>
            <li>
                <a href="#about-employer" class="govuk-link">
                    About @(Model.Organisation.OrganisationName)
                </a>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
        <h2 class="govuk-heading-m" id="main-facts-and-figures">
            1. Main gender pay gap figures
        </h2>
        
        <p class="govuk-body">
            In this organisation:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                women earned
                @(ViewReportsHelper.FormatNumberAsPoundsOrPence((100 - Model.DiffMedianHourlyPercent)/100))
                for every £1 that men earned (comparing median hourly pay)
            </li>
            <li>
                women made up
                @(Model.FemaleUpperQuartilePayBand)%
                of employees in the highest paid quarter, and
                @(Model.FemaleLowerPayBand)%
                of employees in the lowest paid quarter
            </li>
            @if ((Model.FemaleMedianBonusPayPercent > 0 || 
                  Model.MaleMedianBonusPayPercent > 0) &&
                 Model.DiffMedianBonusPercent.HasValue)
            {
                <li>
                    @(Model.FemaleMedianBonusPayPercent)%
                    of women received bonus pay, compared with
                    @(Model.MaleMedianBonusPayPercent)%
                    of men
                </li>
                <li>
                    women’s bonus pay was
                    @Math.Abs((double) Model.DiffMedianBonusPercent)%
                    @(Model.DiffMedianBonusPercent >= 0 ? "lower" : "higher")
                    than men’s (comparing median bonus pay)
                </li>
            }
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
        <h2 class="govuk-heading-m" id="hourly-pay">
            2. Hourly pay
        </h2>
        
        <p class="govuk-body">
            In this organisation:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                <div>
                    women’s median hourly pay was
                    @Math.Abs((double) Model.DiffMedianHourlyPercent)%
                    @(Model.DiffMedianHourlyPercent >= 0 ? "lower" : "higher")
                    than men’s – this means they earned
                    @(ViewReportsHelper.FormatNumberAsPoundsOrPence((100 - Model.DiffMedianHourlyPercent) / 100))
                    for every £1 that men earn when comparing median hourly pay
                </div>
                <partial name="PayComparisonVerticalBarChart" model="Model.DiffMedianHourlyPercent"/>
            </li>

            <li>
                women’s mean (average) hourly pay was
                @Math.Abs((double) Model.DiffMeanHourlyPayPercent)%
                @(Model.DiffMeanHourlyPayPercent >= 0 ? "lower" : "higher")
                than men’s
            </li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Read more about median and mean
                </span>
            </summary>
            <div class="govuk-details__text">
                <h3 class="govuk-heading-s">
                    The median gender pay gap figure
                </h3>
                <p class="govuk-body">
                    This is the difference between the hourly pay of the median man and the hourly pay of the median woman.
                    The median for each is the man or woman who is in the middle of a list of hourly pay ordered from highest to lowest paid.
                </p>
                <p class="govuk-body">
                    A median involves listing all of the numbers in numerical order.
                    If there is an odd number of results, the median is the middle number.
                    If there is an even number of results, the median will be the mean of the two central numbers.
                </p>
                <p class="govuk-body">
                    Medians are useful to indicate what the &lsquo;typical&rsquo; situation is.
                    They are not distorted by very high or low hourly pay (or bonuses).
                    However, this means that not all gender pay gap issues will be picked up.
                    They could also fail to pick up as effectively where the gender pay gap issues are most pronounce
                    d in the lowest paid or highest paid employees.
                </p>

                <h3 class="govuk-heading-s">
                    The mean (average) gender pay gap figure
                </h3>
                <p class="govuk-body">
                    The mean gender pay gap figure uses hourly pay of all employees to calculate the difference between
                    the mean hourly pay of men, and the mean hourly pay of women.
                </p>
                <p class="govuk-body">
                    A mean involves adding up all of the numbers and dividing the result by how many numbers were in the list.
                </p>
                <p class="govuk-body">
                    Mean averages are useful because they place the same value on every number they use, giving a good
                    overall indication of the gender pay gap.
                    But very high or low hourly pay can &lsquo;dominate&rsquo; and distort the figure.
                </p>
            </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
        <h2 class="govuk-heading-m" id="pay-quarters">
            3. Pay quarters
        </h2>
        
        @if (ReportingYearsHelper.IsReportingYearWithFurloughScheme(Model.AccountingDate) && Model.OptedOutOfReportingPayQuarters)
        {
            <p class="govuk-body">
                Due to the number of employees placed on the Coronavirus Job Retention Scheme (furlough)
                this employer was not required to provide quarter data.
            </p>
        }
        else
        {
            <p class="govuk-body">
                In this organisation, women made up:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    @(Model.FemaleUpperQuartilePayBand)%
                    of employees in the upper hourly pay quarter (highest paid jobs)
                </li>
                <li>
                    @(Model.FemaleUpperPayBand)%
                    of employees in the upper middle hourly pay quarter
                </li>
                <li>
                    @(Model.FemaleMiddlePayBand)%
                    of employees in the lower middle hourly pay quarter
                </li>
                <li>
                    @(Model.FemaleLowerPayBand)%
                    of employees in the lower hourly pay quarter (lowest paid jobs)
                </li>
            </ul>
        }
        
        <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Read more about pay quarters
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    Pay quarters show the percentage of men and women employees in four equal sized groups based on their hourly pay.
                </p>
                <p class="govuk-body">
                    Pay quarters give an indication of women's representation at different levels of the organisation.
                </p>
            </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
        <h2 class="govuk-heading-m" id="bonus-pay">
            4. Bonus pay
        </h2>
        
        <p class="govuk-body">
            In this organisation:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            @if (Model.FemaleMedianBonusPayPercent > 0 && Model.MaleMedianBonusPayPercent > 0)
            {
                @if (Model.DiffMedianBonusPercent.HasValue)
                {
                    <li>
                        <div>
                            women’s median bonus pay was
                            @Math.Abs((double) Model.DiffMedianBonusPercent.Value)%
                            @(Model.DiffMedianBonusPercent.Value >= 0 ? "lower" : "higher")
                            than men’s – this means they earned
                            @ViewReportsHelper.FormatNumberAsPoundsOrPence((100 - Model.DiffMedianBonusPercent.Value) / 100)
                            for every £1 that men earn when comparing median bonus pay
                        </div>
                        <partial name="PayComparisonVerticalBarChart" model="Model.DiffMedianBonusPercent.Value"/>
                    </li>
                }
                @if (Model.DiffMeanBonusPercent.HasValue)
                {
                    <li>
                        women’s mean (average) bonus pay was
                        @Math.Abs((double) Model.DiffMeanBonusPercent.Value)%
                        @(Model.DiffMeanBonusPercent.Value >= 0 ? "lower" : "higher")
                        than men’s
                    </li>
                }
                <li>
                    @(Model.FemaleMedianBonusPayPercent)%
                    of women and
                    @(Model.MaleMedianBonusPayPercent)%
                    of men received bonus pay
                </li>
            }
            else if (Model.FemaleMedianBonusPayPercent > 0 && Model.MaleMedianBonusPayPercent <= 0)
            {
                <li>
                    @(Model.FemaleMedianBonusPayPercent)%
                    of women received bonus pay
                </li>
                <li>
                    no men received bonus pay
                </li>
            }
            else if (Model.FemaleMedianBonusPayPercent <= 0 && Model.MaleMedianBonusPayPercent > 0)
            {
                <li>
                    no women received bonus pay
                </li>
                <li>
                    @(Model.MaleMedianBonusPayPercent)%
                    of men received bonus pay
                </li>
            }
            else
            {
                <li>
                    no bonuses were paid
                </li>
            }
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
        <h2 class="govuk-heading-m" id="about-employer">
            5. About @(Model.Organisation.OrganisationName)
        </h2>
        
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered address
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.Organisation.GetLatestAddress()?.GetAddressString())
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sector
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.Organisation.GetSicSectorsString())
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Snapshot date
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.AccountingDate.ToString("d MMMM yyyy"))
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employee headcount
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.OrganisationSize.GetAttribute<DisplayAttribute>().Name) employees
                </dd>
            </div>
            @if (Model.Organisation.SectorType == SectorTypes.Private)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Person responsible
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.ResponsiblePerson)
                    </dd>
                </div>
            }
        </dl>
        
        @if (UriSanitiser.IsValidHttpOrHttpsLink(Model.CompanyLinkToGPGInfo))
        {
            <p class="govuk-body">
                <a href="@(Model.CompanyLinkToGPGInfo)"
                   target="_blank"
                   rel="nofollow noreferrer"
                   class="govuk-link">
                    What this employer says about their gender pay gap (opens in a new window)
                </a>
            </p>
        }

    </div>
</div>
