@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Views.Components.StatusMessages
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.ReportResponsiblePersonViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @(Html.GovUkBackLink(new BackLinkViewModel
    {
        Href = Url.Action("ReportOverview", "ReportOverview", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})
    }))
}



<form method="post"
      action="@Url.Action("ReportResponsiblePersonPost", "ReportResponsiblePerson", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @(Html.AntiForgeryToken())
            @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages", new StatusMessagesViewModel()); }
            @(Html.GovUkErrorSummary())
            @Html.HiddenFor(m => m.IsEditingForTheFirstTime)

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Person responsible in your organisation
                    </h1>

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-8 govuk-!-margin-top-4 govuk-!-font-weight-regular">Reporting as @(Model.Organisation.OrganisationName)</h2>
                </legend>
            </fieldset>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                Enter the name and job title of the person in your organisation who has responsibility for confirming the
                accuracy of the gender pay gap information being submitted for this reporting year.
            </p>
            <p class="govuk-body">
                This person should be the same person that must sign your
                <a class="govuk-link" href="https://www.gov.uk/guidance/the-gender-pay-gap-information-employers-must-report#written-statement" target="_blank" rel="noopener">
                    written statement
                    <span class="govuk-visually-hidden">(opens in a new window)</span>
                </a> confirming the accuracy of your submitted gender pay gap information. You must publish your written statement on your public-facing website.
            </p>
            
            <fieldset class="govuk-fieldset">
                @(Html.GovUkTextInputFor(
                    m => m.ResponsiblePersonFirstName,
                    labelOptions: new LabelViewModel {Text = "First name"},
                    formGroupOptions: new FormGroupViewModel {Classes = "govuk-!-margin-bottom-2"},
                    classes: "govuk-input--width-20"
                    ))
                @(Html.GovUkTextInputFor(
                    m => m.ResponsiblePersonLastName,
                    labelOptions: new LabelViewModel {Text = "Last name"},
                    formGroupOptions: new FormGroupViewModel {Classes = "govuk-!-margin-bottom-2"},
                    classes: "govuk-input--width-20"
                    ))
                @(Html.GovUkTextInputFor(
                    m => m.ResponsiblePersonJobTitle,
                    labelOptions: new LabelViewModel {Text = "Job title"},
                    classes: "govuk-input--width-20"
                    ))

            </fieldset>

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Save and continue",
                Classes = "govuk-!-margin-bottom-6"
            }))

            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
                    Cancel and return to @(Model.Organisation.OrganisationName)
                </a>
            </p>
        </div>
        @await Html.PartialAsync("~/Views/Submit/RelatedContent.cshtml")
    </div>
    
</form>
