@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.Database.Return

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    int reportingYear = Model.AccountingDate.Year;
    string formattedReportingYears = $"{reportingYear}-{(reportingYear + 1) % 100}";

    ViewBag.Title = $"You've reported your gender pay gap data - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisations", "Organisation")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisation", "Organisation", new {id = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"Report your gender pay gap (reporting year {formattedReportingYears})",
                Href = Url.Action("ReportOverview", "ReportOverview",
                    new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = reportingYear})
            },
            new CrumbViewModel
            {
                Text = $"Confirmation"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
            <h1 class="govuk-panel__title">
                You've reported your gender pay gap data
                <br />
            </h1>
            <div class="govuk-panel__body govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </div>
            <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-3">
                for reporting year @(formattedReportingYears)
            </div>
        </div>

        <p class="govuk-body">
            <a href="@Url.Action("Report", "Viewing",
                         new {employerIdentifier = Model.Organisation.GetEncryptedId(), year = reportingYear})"
               class="govuk-link">
                View your organisation's gender pay gap data on our website
            </a>
        </p>
        
        <form method="post"
              action="@Url.Action("ReportCompleteFinishAndSignOut", "ReportCompleteFinishAndSignOut")">
            @(Html.AntiForgeryToken())
            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Finish and sign out"
            }))
        </form>

        <h2 class="govuk-heading-m govuk-!-padding-top-2">
            More options
        </h2>
        <ul class="govuk-list">
            <li>
                <a href="@(Url.Action("ManageOrganisation", "Organisation", new {id = encryptedOrganisationId}))"
                   class="govuk-link">
                    Back to @(Model.Organisation.OrganisationName)
                </a>
            </li>
            <li>
                <a href="@(Url.Action("ManageOrganisations", "Organisation"))"
                   class="govuk-link">
                    Back to your organisations
                </a>
            </li>
        </ul>

    </div>
</div>
