@using GenderPayGap.Core.Helpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.Database.Return

@{
    string encryptedOrganisationId = Encryption.EncryptId(Model.Organisation.OrganisationId);
    int reportingYear = Model.AccountingDate.Year;
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(reportingYear);

    ViewBag.Title = $"You've reported your gender pay gap data - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You've submitted your gender pay gap data for the @(formattedReportingYears) reporting year.
            </h1>
        </div>
        
        <p class="govuk-body govuk-!-margin-bottom-6">
            Your gender pay gap information has now been published on the Gender pay gap service.
        </p>
        
        <p class="govuk-body govuk-!-margin-bottom-6">
            <a href="@Url.Action("ReportForYear", "ViewReports", new {organisationId = Model.Organisation.OrganisationId, reportingYear = reportingYear})"
               class="govuk-link">
                View your published gender pay gap information
            </a>
        </p>
        
        <p class="govuk-body govuk-!-font-weight-bold">Next steps</p>
        
        <p class="govuk-body govuk-!-margin-bottom-6">
            You must also publish your gender pay gap report (and
            <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/overview#written-statement"
               class="govuk-link" target="_blank">
                written statement (opens in a new tab)</a>
            if applicable) in a prominent place on your employer's public facing website.
        </p>
        
        <p class="govuk-body govuk-!-font-weight-bold">Understanding your gender pay gap and taking action to close it</p>
        
        <p class="govuk-body govuk-!-margin-bottom-6">
            For more information on understanding your organisation's gender pay gap
            and creating an effective action plan, please read our guidance on
            <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/closing-your-gender-pay-gap"
               class="govuk-link" target="_blank">
                closing your gender pay gap (opens in a new tab)</a>.
        </p>
        
        
        <form method="post"
              action="@Url.Action("ReportCompleteFinishAndSignOut", "ReportConfirmation")">
            @(Html.AntiForgeryToken())
            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Sign out"
            }))
            
            <p class="govuk-body govuk-!-margin-bottom-4">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">Return to @(Model.Organisation.OrganisationName)</a>
            </p>
            
            <p class="govuk-body govuk-!-margin-bottom-4">
                <a class="govuk-link" href="@(Url.Action("ManageOrganisationsGet", "ManageOrganisations"))">Return to Manage Employers</a>
            </p>
        </form>
        
    </div>
</div>