@using GenderPayGap.WebUI.Models.AddOrganisation
@using GovUkDesignSystem
@using GovUkDesignSystem.Attributes
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.AddOrganisation.AddOrganisationManualViewModel
@{
    ViewBag.Title = "What type of employer do you want to add? - Gender pay gap service";
}

@section BeforeMain {
    @{
        Model.Validate = null; // Required to make the "Back" link work correctly
    }
    @(await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Url.Action("ManualConfirmGet", "AddOrganisationManualConfirm", Model),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="get"
              action="@Url.Action("ManualChooseSector", "AddOrganisationManualChooseSector")">

            @(await Html.GovUkErrorSummary(ViewData.ModelState))

            @(Html.HiddenFor(m => m.Query))
            @(Html.HiddenFor(m => m.OrganisationName))
            @(Html.HiddenFor(m => m.PoBox))
            @(Html.HiddenFor(m => m.Address1))
            @(Html.HiddenFor(m => m.Address2))
            @(Html.HiddenFor(m => m.Address3))
            @(Html.HiddenFor(m => m.TownCity))
            @(Html.HiddenFor(m => m.County))
            @(Html.HiddenFor(m => m.Country))
            @(Html.HiddenFor(m => m.PostCode))
            @(Html.HiddenFor(m => m.IsUkAddress))
            @if (Model.SicCodes != null)
            {
                @foreach (int sicCode in Model.SicCodes)
                {
                    <input type="hidden" name="@(nameof(Model.SicCodes))" value="@(sicCode)" />
                }
            }
            @{
                Model.Validate = true;
                @(Html.HiddenFor(m => m.Validate))
            }

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What type of employer do you want to add?
                    </h1>
                </legend>

                @(await Html.GovUkRadiosFor(
                    m => m.Sector,
                    labelOptions: new Dictionary<AddOrganisationSector, LabelViewModel>
                    {
                        {
                            AddOrganisationSector.Public,
                            new LabelViewModel
                            {
                                Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(AddOrganisationSector.Public),
                                Classes = "govuk-!-font-size-24 govuk-!-font-weight-bold"
                            }
                        },
                        {
                            AddOrganisationSector.Private,
                            new LabelViewModel
                            {
                                Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(AddOrganisationSector.Private),
                                Classes = "govuk-!-font-size-24 govuk-!-font-weight-bold"
                            }
                        },
                    },
                    radioHints: new Dictionary<AddOrganisationSector, HintViewModel>
                    {
                        {
                            AddOrganisationSector.Public,
                            new HintViewModel
                            {
                                Html = @<text>
                                           This includes:
                                           <ul class="govuk-list govuk-list--bullet" style="color: inherit;">
                                               <li>most government departments</li>
                                               <li>the armed forces</li>
                                               <li>local authorities</li>
                                               <li>NHS bodies</li>
                                               <li>universities</li>
                                               <li>most schools, including academies and multi-academy trusts (except private and independent schools)</li>
                                           </ul>
                                        </text>
                            }
                        },
                        {
                            AddOrganisationSector.Private,
                            new HintViewModel
                            {
                                Html = @<text>
                                           This includes:
                                           <ul class="govuk-list govuk-list--bullet" style="color: inherit;">
                                               <li>limited companies</li>
                                               <li>limited liability partnerships</li>
                                               <li>charities</li>
                                               <li>independent and private schools</li>
                                           </ul>
                                        </text>
                            }
                        },
                    }))

            </fieldset>

            <div class="govuk-inset-text">
                If you are not sure if you are a public or private employer, read our guidance to
                <a href="https://www.gov.uk/government/publications/gender-pay-gap-reporting-guidance-for-employers/when-to-report#work-out-which-type-of-employer-you-are"
                   class="govuk-link" target="_blank" rel="noopener">
                    work out which type of employer you are (opens in a new tab)
                </a>
            </div>

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                   class="govuk-link">
                    Cancel and return to Manage Employers
                </a>
            </p>

        </form>
        

    </div>
</div>
