@using GenderPayGap.WebUI.Models.Shared
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@{
    ViewBag.Title = "Actions to close the gap - Gender pay gap service";
    Layout = "Index.cshtml";
    var index = 1;
}

<h2 class="govuk-heading-l">Effective actions</h2>
<p class="govuk-body">
    These actions have been tested in real world settings and found to have a positive impact.
</p>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Include multiple women in shortlists for recruitment and promotions
    </h3>
    <p class="govuk-body">
        When putting together a shortlist of qualified candidates, make sure more than one woman is included. Shortlists with only one woman do not increase the chance of a woman being selected.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Use skill-based assessment tasks in recruitment
    </h3>
    <p class="govuk-body">
        Rather than relying only on interviews, ask candidates to perform tasks they would be expected to perform in the role they are applying for. Use their performance on those tasks to assess their suitability for the role. Standardise the tasks and how they are scored to ensure fairness across candidates.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Use structured interviews for recruitment and promotions
    </h3>
    <p class="govuk-body">
        Structured and unstructured interviews both have strengths and weaknesses, but unstructured interviews are more likely to allow unfair bias to creep in and influence decisions.
        <br/><br/>
        Use structured interviews that:
        <ul class="govuk-list govuk-list--bullet">
            <li>Ask exactly the same questions of all candidates in a predetermined order and format</li>
            <li>Grade the responses using pre-specified, standardised criteria. This makes the responses comparable and reduces the impact of unconscious bias</li>
        </ul>
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Encourage salary negotiation by showing salary ranges
    </h3>
    <p class="govuk-body">
        Women are less likely to negotiate their pay. This is partly because women are put off if they are not sure about what a reasonable offer is.
        Employers should clearly communicate the salary range on offer for a role to encourage women to negotiate their salary.
        This helps the applicant know what they can reasonably expect.
    </p>
    <p class="govuk-body">
        If the salary for a role is negotiable, employers should state this clearly as this can also encourage women to negotiate.
        If women negotiate their salaries more, they will end up with salaries that more closely match the salaries of men.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Introduce transparency to promotion, pay and reward processes
    </h3>
    <p class="govuk-body">
        Transparency means being open about processes, policies and criteria for decision-making.
        This means employees are clear what is involved, and that managers understand that their decisions need to be objective and evidence-based because those decisions can be reviewed by others.
        Introducing transparency to promotion, pay and reward processes can reduce pay inequalities.
    </p>
</div>
<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">
        Appoint diversity managers and/or diversity task forces
    </h3>
    <p class="govuk-body">
        Diversity managers and task forces monitor talent management processes (such as recruitment or promotions) and diversity within the organisation.
        They can reduce biased decisions in recruitment and promotion because people who make decisions know that their decision may be reviewed.
        This accountability can improve the representation of women in your organisation.
        <br/><br/>
        Diversity managers should:

        <ul class="govuk-list govuk-list--bullet">
            <li>Have a senior/executive role within the organisation</li>

            <li>Have visibility of internal data</li>

            <li>Be in the position to ask for more information on why decisions were made</li>

            <li>Be empowered to develop and implement diversity strategies and policies</li>

        </ul>
    </p>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    References
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            @{
                var referenceIndex = 1;
            }
            <div>
                <h4 class="govuk-heading-s">@(referenceIndex++). Include multiple women in shortlists for recruitment and promotions</h4>
                <ul class="govuk-list">
                    <li>
                        Johnson, S. K., Hekman, D. R., & Chan, E. T. (2016). If there’s only one woman in your candidate pool, there’s statistically no chance she'll be hired. Harvard Business Review, 26(04).
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Use skill-based assessment tasks in recruitment</h4>
                <ul class="govuk-list">
                    <li>
                        Cabrera, M. A. M., & Nguyen, N. T. (2001). Situational judgment tests: A review of practice and constructs assessed. International Journal of Selection and Assessment, 9(1‐2), 103-113.
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Use structured interviews for recruitment and promotions</h4>
                <ul class="govuk-list">
                    <li>
                        Levashina, J., Hartwell, C. J., Morgeson, F. P., & Campion, M. A. (2014). The structured employment interview: Narrative and quantitative review of the research literature. Personnel Psychology, 67(1), 241-293.
                    </li>
            
                    <li>
                        Oh, I., Postlethwaite, B.E. & Schmidt, F.L. (2013). Rethinking the validity of interviews for employment decision making: Implications of recent developments in meta-analysis (Chapter 12, pp. 297-329). In D. J. Svyantek & K. Mahoney (Eds.), Received wisdom, kernels of truth, and boundary conditions in organizational studies.
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Encourage salary negotiation by showing salary ranges</h4>
                <ul class="govuk-list">
                    <li>
                        Leibbrandt, A., & List, J. A. (2014). Do women avoid salary negotiations? Evidence from a large-scale natural field experiment. Management Science, 61(9), 2016-2024.
                    </li>
            
                    <li>
                        Mazei, J., Hüffmeier, J., Freund, P. A., Stuhlmacher, A. F., Bilke, L., & Hertel, G. (2015). A meta-analysis on gender differences in negotiation outcomes and their moderators. Psychological Bulletin, 141(1), 85.
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Introduce transparency to promotion, pay and reward processes</h4>
                <ul class="govuk-list">
                    <li>
                        Castilla, E. J. (2015). Accounting for the gap: A firm study manipulating organizational accountability and transparency in pay decisions. Organization Science, 26(2), 311-333.
            
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Appoint diversity managers and/or diversity task forces</h4>
                <ul class="govuk-list">
                    <li>
                        Dobbin, F., & Kalev, A. (2016). Why diversity programs fail. Harvard Business Review, 94(7/8), 52-60.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{
    var leftLink = new PaginationLinkViewModel
    {
        Title = "Previous",
        Text = "Overview",
        Url = Url.Action("Overview", "ActionHub")
    };
    
    var rightLink = new PaginationLinkViewModel
    {
        Title = "Next",
        Text = "Promising Actions",
        Url = Url.Action("Promising", "ActionHub")
    };
    
    await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLinks.cshtml", new PaginationLinksViewModel
    {
        LeftLink = leftLink,
        RightLink = rightLink
    });
}

<p class="govuk-body-s govuk-!-margin-top-5">
    <a class="govuk-link print-link" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
        Print entire guide (PDF)
    </a>
</p>