@using GenderPayGap.WebUI.Models.Shared
@using GenderPayGap.WebUI.Views.Components.PaginationLinks
@{
    ViewBag.Title = "Actions to close the gap - Gender pay gap service";
    Layout = "Index.cshtml";
    var index = 1;
}

<h2 class="govuk-heading-l">Promising actions</h2>
<p class="govuk-body">
    These actions are promising and require further research to improve the evidence on their effectiveness and how best to implement them.
    The government has policies in place supporting some of these actions to improve women's participation in the workforce.
    The government is evaluating their effectiveness and we recommend that employers evaluate their actions too.
</p>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Improve workplace flexibility for men and women</h3>
    <p class="govuk-body">
        <strong class="govuk-tag">
          Government Initiative
        </strong>
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Advertise and offer all jobs as having flexible working options, such as part-time work, remote working, job sharing or compressed hours</li>
        <li>Allow people to work flexibly, where possible</li>
        <li>Encourage senior leaders to role model working flexibly and to champion flexible working</li>
        <li>Encourage men to work flexibly, so that it isn’t seen as only a female benefit</li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Encourage the uptake of Shared Parental Leave</h3>
    <p class="govuk-body">
            <strong class="govuk-tag">
              Government Initiative
            </strong>
        </p>
    <p class="govuk-body">
        The gender pay gap widens dramatically after women have children but this could be reduced if men and women were able to share childcare more equally.
        Shared Parental Leave and Pay enables working parents to share up to 50 weeks of leave and up to 37 weeks of pay in their child’s first year.
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Offer enhanced Shared Parental Pay at the same level as enhanced maternity pay</li>
        <li>
            Encourage take up of Shared Parental Leave (see our <a target="_blank" rel="noopener" href="https://sharedparentalleave.campaign.gov.uk/"><span class="visually-hidden">Shared Parental Leave </span>guidance<span class="visually-hidden">(opens in a new window)</span></a>). For example:
            <ul class="govuk-list govuk-list--bullet">
                <li>Inform future fathers that it’s their legal right to request Shared Parental Leave</li>
                <li>Provide future parents guidance and personal support to understand the scheme</li>
                <li>Share and promote examples of senior leaders who have taken Shared Parental Leave in your organisation</li>
            </ul>
        </li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Recruit returners</h3>
    <p class="govuk-body">
        <strong class="govuk-tag">
          Government Initiative
        </strong>
    </p>
    <p class="govuk-body">
        Returners are people who have taken an extended career break for caring or other reasons and who are either not currently employed or are working in roles for which they are over-qualified.
    </p>
    <p class="govuk-body">
        Use our 
        <a class="govuk-link" target="_blank" rel="noopener" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf">
            Returner Programmes: Best Practice Guidance for Employers PDF (opens in a new window)
        </a>
        to see how to attract and hire returners. For example:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Target places where returners are likely to be looking</li>
        <li>Ensure the recruitment process is returner-friendly</li>
        <li>Offer support before and during the assessment</li>
    </ul>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Offer mentoring and sponsorship</h3>
    <p class="govuk-body">
        Although quite similar roles, mentors provide guidance and advice to their mentee while sponsors support the advancement and visibility of the person they are sponsoring. Some evidence suggests that mentoring programmes work very well for some women but not for others. It is not clear based on existing evidence whether sponsorships are more effective than mentoring, or how best to run mentoring and sponsorship programmes so they are effective.
    </p>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Offer networking programmes</h3>
    <p class="govuk-body">
        Some evidence suggests that formal networking programmes where members meet and share information and career advice can be helpful for some women but not others.
        More work is needed to understand the effects of networking programmes, and whether they need to have particular features in order to be successful.
    </p>
</div>

<div class="action-step">
    <i class="icon icon-step-@(index++)"></i>
    <h3 class="govuk-heading-s">Set internal targets</h3>
    <p class="govuk-body">
        It is important to ensure employers’ equality goals are clear and realistic, and that progress towards them can be tracked. “Improving gender equality at my organisation” or “reducing my organisation’s gender pay gap” can be overarching goals, but they are not specific and they therefore risk being unsuccessful. One way of increasing the likelihood that goals will be reached is by setting specific, time-bound targets: what change will be achieved, and by when?
    </p>
</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    References
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            @{
                var referenceIndex = 1;
            }
            <div>
                <h4 class="govuk-heading-s">@(referenceIndex++). Improve workplace flexibility for men and women</h4>
                <p class="govuk-body">Not yet available.</p>

                <h4 class="govuk-heading-s">@(referenceIndex++). Encourage the uptake of Shared Parental Leave</h4>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" target="_blank" rel="noopener" href="https://sharedparentalleave.campaign.gov.uk/">sharedparentalleave.campaign.gov.uk<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Recruit returners</h4>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" target="_blank" class="nowrap" rel="noopener" href="https://gov.uk/government/uploads/system/uploads/attachment_data/file/685064/Returner_Programmes_-_Best_Practice_Guidance_for_Employers.pdf">Returner Programmes-Best Practice Guidance for Employers.pdf<span class="visually-hidden">(opens in a new window)</span></a>
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Offer mentoring and sponsorship</h4>
                <ul class="govuk-list">
                    <li>
                        Dobbin, F., & Kalev, A. (2016). Why diversity programs fail. Harvard Business Review, 94(7/8), 52-60.
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Offer networking programmes</h4>
                <ul class="govuk-list">
                    <li>
                        Dobbin, F., Kalev, A., & Kelly, E. (2007). Diversity management in corporate America. Contexts, 6(4), 21-27.
                    </li>
                </ul>
            
                <h4 class="govuk-heading-s">@(referenceIndex++). Set internal targets</h4>
                <ul class="govuk-list">
                    <li>
                        Mento, A.J., Steel, R.P. & Karren, R.J. (1987). A meta-analytic study of the effects of goal setting on task performance: 1966–1984. Organizational Behaviour and Human Decision Processes, 39(1), 52-83.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@{
    var leftLink = new PaginationLinkViewModel
    {
        Title = "Previous",
        Text = "Effective actions",
        Url = Url.Action("Effective", "ActionHub")
    };
    
    var rightLink = new PaginationLinkViewModel
    {
        Title = "Next",
        Text = "Actions with mixed results",
        Url = Url.Action("MixedResult", "ActionHub")
    };
    
    await Html.RenderPartialAsync("/Views/Components/PaginationLinks/PaginationLinks.cshtml", new PaginationLinksViewModel
    {
        LeftLink = leftLink,
        RightLink = rightLink
    });
}

<p class="govuk-body-s govuk-!-margin-top-5">
    <a class="govuk-link print-link" href="/public/assets/pdf/Evidence-based_actions_for_employers.pdf">
        Print entire guide (PDF)
    </a>
</p>