@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminFileUploadViewModel
@{
    ViewBag.Title = "Data Migration - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Data Migration"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Data Migration
            <br/>
            (from file)
        </h1>

        @(await Html.GovUkErrorSummary(ViewData.ModelState, new[]
        {
            nameof(AdminFileUploadViewModel.File),
        }))

        <h2 class="govuk-heading-m">How to use this page</h2>

        <ol class="govuk-list govuk-list--number">
            <li class="govuk-!-margin-bottom-3">
                <a href="@Url.Action("ExportAllDataAsFileDownload", "AdminDataMigration")">Download all data in one giant JSON file (from OLD production)</a>
            </li>
            <li class="govuk-!-margin-bottom-3">
                Use this page (in NEW production) to upload your new file.
            </li>
        </ol>

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
            Upload your new all-data file
        </h2>

        <form method="post" enctype="multipart/form-data" action="@Url.Action("ImportAllDataFromFile", "AdminDataMigration")">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkFileUploadFor(m => m.File,
                labelOptions: new LabelViewModel
                {
                    Text = "Upload a JSON file",
                },
                formGroupOptions: new FormGroupViewModel
                {
                    Classes = "govuk-!-margin-top-4"
                }
                ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Upload and REPLACE ALL DATA IN THE DATABASE WITH THE CONTENTS OF THIS FILE",
                Classes = "govuk-!-margin-bottom-4 govuk-button--warning"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("AdminHomePage", "AdminHomepage")"
                   class="govuk-link">
                    Cancel and return to the admin homepage
                </a>
            </p>

        </form>
    </div>
</div>
