@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminDataMigrationViewModel
@{
    ViewBag.Title = "Data Migration - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Data Migration"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Data Migration
            <br/>
            (from remote server)
        </h1>

        <form method="post" enctype="multipart/form-data" action="@Url.Action("ImportAllDataFromRemoteServer", "AdminDataMigration")">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkTextInputFor(
                m => m.Hostname,
                labelOptions: new LabelViewModel { Text = "Hostname of remote server" },
                classes: "govuk-input--width-20"
            ))

            @(await Html.GovUkTextInputFor(
                m => m.BasicAuthUsername,
                labelOptions: new LabelViewModel { Text = "HTTP Basic Auth username for remote server" },
                formGroupOptions: new FormGroupViewModel{ Classes = "govuk-!-margin-bottom-2" },
                classes: "govuk-input--width-10"
            ))
            
            @(await Html.GovUkTextInputFor(
                m => m.BasicAuthPassword,
                type: "password",
                labelOptions: new LabelViewModel { Text = "HTTP Basic Auth password for remote server" },
                classes: "govuk-input--width-10"
            ))
            
            @(await Html.GovUkTextInputFor(
                m => m.Password,
                type: "password",
                labelOptions: new LabelViewModel { Text = "Data Migration Password" }
            ))
            
            <div class="govuk-panel govuk-panel--confirmation" id="firefoxWarning">
                <h2 class="govuk-panel__title">
                    STOP
                </h2>
                <div class="govuk-panel__body">
                    The next page works better in Google Chrome
                </div>
            </div>
            <script>
                if(navigator.userAgent.toLowerCase().indexOf('firefox') === -1) {
                    document.getElementById("firefoxWarning").style.display = "none";
                }
            </script>

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "REPLACE ALL DATA IN THE DATABASE WITH DATA FROM THE REMOTE SERVER",
                Classes = "govuk-!-margin-bottom-4 govuk-button--warning"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("AdminHomePage", "AdminHomepage")"
                   class="govuk-link">
                    Cancel and return to the admin homepage
                </a>
            </p>

        </form>
    </div>
</div>
