@{
    ViewBag.Title = "Enter your PIN - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.CompleteViewModel

<main id="content" role="main">
    @await Html.PartialAsync("_ServiceInfo")

    <div class="grid-row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="column-two-thirds">
                @await Html.CustomValidationSummaryAsync()
                <h1 class="heading-large">
                    Please enter your gender pay gap PIN
                </h1>
                <p>
                    Enter the PIN to enable you to report Gender Pay Gap information for this organisation.
                </p>
                <div class="form-group @Html.SetErrorClass(model => model.PIN, "error") ">
                    @Html.LabelFor(model => model.PIN, "Enter PIN", new {@class = "form-label"})
                    @Html.ValidationMessageFor(model => model.PIN, null, new {@class = "error-danger"})
                    <div class="col-md-10">
                        @Html.CustomEditorFor(model => model.PIN, new {@class = "form-control", style = "text-transform: uppercase;", autocomplete = "off"})
                    </div>
                </div>
                <br/>
                <details>
                    <summary role="button" aria-controls="details-content-0" aria-expanded="true">Problems with your PIN?</summary>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                        <p>
                            If your PIN hasn't arrived after 7 days or has expired, <a href="@Url.Action("RequestPIN")">request a new PIN</a>.
                        </p>

                    </div>
                </details> <br/>

                <input type="submit" class="button" name="command" value="Activate and continue"/>
                <p>
                    <br/>
                    <a href="@Url.Action(nameof(OrganisationController.ManageOrganisations), "Organisation")">Cancel</a>
                </p>
            </div>
        }
    </div>
</main>