@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel

@{
    ViewBag.Title = "Confirm registration cancellation - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<form method="POST" action="@Url.Action("ConfirmCancellation", "Register")">
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.SectorType)
    @Html.HiddenFor(m => m.ReviewCode)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Reject registration request</h1>
            <p class="govuk-body govuk-!-font-weight-bold">
                You’re about to reject a registration request by:
            </p>

            <p class="govuk-body"> @Model.ContactFirstName @Model.ContactLastName (@Model.ContactJobTitle)</p>
            <p class="govuk-body govuk-!-font-weight-bold"> to report gender pay gap data for:</p>
            <p class="govuk-body" style="display: block;">
                @Model.OrganisationName,<br>
                @foreach (string addressLine in Model.GetFullAddress())
                {
                    @(addressLine)<br />
                }
            </p>
            
            @(Html.GovUkTextAreaFor(
                m => m.CancellationReason,
                labelOptions: new LabelViewModel
                {
                    Text = "Reason for rejection (optional)",
                    Classes = "govuk-label--m"
                }
            ))
            
            <button type="submit" class="govuk-button" name="command" value="continue">Yes, reject registration request</button>
            
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ReviewRequest", "Register")">Cancel</a>
            </p>

        </div>
    </div>
    
</form>