@{
    ViewBag.Title = "Confirm your organisation - Gender pay gap reporting service";
    var controller = ViewData["Controller"] as BaseController;
}
@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel

<div id="confirm-organisation-content">
@if (controller.PendingFasttrackCodes == null)
{
    <div class="grid-row">
        <div class="column-full">
            @if (!string.IsNullOrWhiteSpace(Model.ConfirmReturnAction))
            {
                <a href="@Url.Action(Model.ConfirmReturnAction)" class="link-back">Back</a>
            }
            else
            {
                <a href="@Url.Action("ChooseOrganisation")" class="link-back">Back</a>
            }
        </div>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SearchText)
    @Html.HiddenFor(m => m.SelectedEmployerIndex)
    @Html.HiddenFor(m => m.CompanyNumber)
    @Html.HiddenFor(model => model.CharityNumber)
    @Html.HiddenFor(model => model.MutualNumber)
    @Html.HiddenFor(model => model.OtherName)
    @Html.HiddenFor(model => model.OtherValue)

    @Html.HiddenFor(m => m.SectorType)
    @Html.HiddenFor(model => model.NoReference)

    @Html.HiddenFor(model => model.BackAction)
    @Html.HiddenFor(model => model.AddressReturnAction)
    @Html.HiddenFor(model => model.ConfirmReturnAction)

    @Html.HiddenFor(model => model.OrganisationName)
    @Html.HiddenFor(model => model.NameSource)
    @Html.HiddenFor(model => model.AddressSource)
    @Html.HiddenFor(model => model.SicSource)
    @Html.HiddenFor(model => model.SicCodeIds)

    @Html.HiddenFor(model => model.Address1)
    @Html.HiddenFor(model => model.Address2)
    @Html.HiddenFor(model => model.Address3)
    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.County)
    @Html.HiddenFor(model => model.Country)
    @Html.HiddenFor(model => model.Postcode)
    @Html.HiddenFor(model => model.PoBox)
    @if (Model.IsUkAddress.HasValue)
    {
        @Html.HiddenFor(model => model.IsUkAddress)
    }

    @Html.HiddenFor(model => model.ContactFirstName)
    @Html.HiddenFor(model => model.ContactLastName)
    @Html.HiddenFor(model => model.ContactJobTitle)
    @Html.HiddenFor(model => model.ContactEmailAddress)
    @Html.HiddenFor(model => model.ContactPhoneNumber)

    @Html.HiddenFor(model => model.ManualAddress)
    @Html.HiddenFor(model => model.ManualEmployerIndex)
    @Html.HiddenFor(model => model.MatchedReferenceCount)

    @Html.HiddenFor(model => model.ManualRegistration)
    @Html.HiddenFor(model => model.ManualAuthorised)
    @Html.HiddenFor(model => model.SelectedAuthorised)
    @Html.HiddenFor(model => model.IsFastTrackAuthorised)

    <div class="grid-row">
        <div class="column-two-thirds">
            @await Html.CustomValidationSummaryAsync()
            <h1 class="heading-large">
                Confirm your organisation’s details
            </h1>
            <table class="govuk-table">
                @if (Model.ManualRegistration)
                {
                    <caption class="govuk-table__caption govuk-!-margin-bottom-2">Organisation you’re reporting for</caption>
                }
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Organisation name
                        </th>

                        <td class="govuk-table__cell">
                            @if (!string.IsNullOrWhiteSpace(ViewBag.LastOrg) && ViewBag.LastOrg != Model.OrganisationName)
                            {
                                <span style="color: red">@Model.OrganisationName</span>
                            }
                            else
                            {
                                <span>@Model.OrganisationName</span>
                            }
                        </td>
                    </tr>

                    @if (!string.IsNullOrWhiteSpace(Model.CompanyNumber))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Company number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.CompanyNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.CharityNumber))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Charity number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.CharityNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.MutualNumber))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Mutual partnership number
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.MutualNumber)
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.OtherName))
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                @(Model.OtherName)
                            </th>
                            <td class="govuk-table__cell">
                                @(Model.OtherValue)
                            </td>
                        </tr>
                    }

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Registered address
                        </th>
                        <td class="govuk-table__cell">
                            @Model.GetFullAddress()
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Business&nbsp;Sectors (SIC&nbsp;Codes)
                        </th>
                        <td class="govuk-table__cell">
                            @if (Model.SicCodes != null && Model.SicCodes.Count > 0)
                            {
                                @await Html.PartialAsync("_SicCodeList", Model.SicCodes)
                            }
                            else
                            {
                                <span>None</span>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>

            @if (!string.IsNullOrWhiteSpace(Model.ContactFirstName) || !string.IsNullOrWhiteSpace(Model.ContactFirstName))
            {
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-!-margin-bottom-2">Your contact details</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Your name
                            </th>
                            <td class="govuk-table__cell">
                                @Model.ContactFirstName @Model.ContactLastName (@Model.ContactJobTitle)
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Email
                            </th>
                            <td class="govuk-table__cell">
                                @Model.ContactEmailAddress
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                Telephone
                            </th>
                            <td class="govuk-table__cell">
                                @Model.ContactPhoneNumber
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

            @if (!Model.IsUkAddress.HasValue && !Model.ManualRegistration && Model.SectorType != SectorTypes.Public)
            {
                <div class="form-group">
                    <fieldset class="inline">
                        <legend>
                            <h2 class="heading-medium">
                                Is this a UK address?
                            </h2>
                        </legend>
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(model => model.IsUkAddress, "True", new {id = "IsUkAddress_True"})
                            @Html.Label("IsUkAddress_True", "Yes")
                        </div>
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(model => model.IsUkAddress, "False", new {id = "IsUkAddress_False"})
                            @Html.Label("IsUkAddress_False", "No")
                        </div>
                    </fieldset>
                </div>
            }

            <fieldset>
                <p>
                    <button type="submit" class="button" name="command" value="confirm">Confirm</button>
                </p>
                @if (controller.PendingFasttrackCodes != null)
                {
                    <p>
                        <button type="submit" class="link-button" name="command" value="CancelFasttrack">Cancel</button>
                    </p>
                }
            </fieldset>

        </div>
    </div>
}
</div>
