@{
    ViewBag.Title = "Enter new password - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.ResetViewModel
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            @using (Html.BeginForm(null, null, FormMethod.Post, new {autocomplete = "off"}))
            {
                @await Html.CustomValidationSummaryAsync()
                @Html.AntiForgeryToken()
                @Html.SpamProtectionTimeStamp()

                <h1 class="heading-large">
                    Reset your password
                </h1>
                <div class="content-body">
                    <p>Your password must be at least 8 characters. </p>
                    <p>It must also have at least one of each of the following: </p>
                    <ul class="list list-bullet">
                        <li>lower-case letter</li>
                        <li>capital letter </li>
                        <li>number</li>
                    </ul>
                    <fieldset>
                        <legend class="visuallyhidden">Reset your password</legend>
                        <div class="form-group @Html.SetErrorClass(model => model.Password, "error") ">
                            @Html.LabelFor(model => model.Password, new {@class = "form-label col-md-10"})
                            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "error-danger"})
                            <div class="col-md-10">
                                @Html.CustomEditorFor(model => model.Password, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group @Html.SetErrorClass(model => model.ConfirmPassword, "error") ">
                            @Html.LabelFor(model => model.ConfirmPassword, new {@class = "form-label col-md-10"})
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "error-danger"})
                            <div class="col-md-10">
                                @Html.CustomEditorFor(model => model.ConfirmPassword, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="button" value="Reset my password"/>
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    </div>
</main>