@using GenderPayGap.Core
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
@{
    ViewBag.Title = "Your organisation type - Gender pay gap reporting service";
}

<a id="BackLink" class="link-back" href="@Model.BackAction">Back <span class="visuallyhidden"> to the previous question</span></a>
<div id="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.HiddenFor(m => m.SearchText)

            @await Html.CustomValidationSummaryAsync()

            <h1 class="heading-large">
                Registration options
            </h1>

            <div id="SectorTypeGroup" class="form-group @Html.SetErrorClass(model => model.SectorType, "error")">
                <fieldset>
                    <legend>
                        <h1 class="heading-medium" style="margin-top: 15px">
                            Select which type of organisation you would like to register
                        </h1>
                        @Html.ValidationMessageFor(model => model.SectorType, null, new {@class = "error-danger"})
                    </legend>

                    <div class="multiple-choice">
                        <input id="public" type="radio" name="SectorType" value="@(SectorTypes.Public)">
                        <label for="public">
                            Public sector organisation
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="private" type="radio" name="SectorType" value="@(SectorTypes.Private)">
                        <label for="private">
                            Private limited company
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="publicLimitedCompany" type="radio" name="SectorType" value="@(SectorTypes.Private)">
                        <label for="publicLimitedCompany">
                            Public limited company
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="limitedLiabilityPartnership" type="radio" name="SectorType" value="@(SectorTypes.Private)">
                        <label for="limitedLiabilityPartnership">
                            Limited liability partnership
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="charity" type="radio" name="SectorType" value="@(SectorTypes.Private)">
                        <label for="charity">
                            Charity
                        </label>
                    </div>

                </fieldset>
            </div>
            @(Html.GovUkInsetText(new InsetTextViewModel
            {
                Html = @<div class="govuk-!-font-size-24">
                           <p>
                               If you are not sure what type of organisation you are please read our
                               <a class="govuk-link" href="https://www.gov.uk/guidance/gender-pay-gap-reporting-overview#relevant-employer">
                                   guidance</a>.
                           </p>

                           <p>
                               The full list of organisations required to their report gender pay gap data as a public organisation
                               can be found in
                               <a class="govuk-link" href="https://www.legislation.gov.uk/ukdsi/2017/9780111153277/schedule/2">
                                   Schedule 2 of the The Equality Act 2010 (Specific Duties and Public Authorities) Regulations
                                   2017</a>.
                           </p>
                       </div>
            }))

            <input type="submit" class="button" value="Continue"/>

            <div>
                <a href="@(Url.Action<OrganisationController>(nameof(OrganisationController.ManageOrganisations)))" style="display: inline-block; margin-top: 1em;">Cancel</a>
            </div>
        }
    </div>
</div>
