@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
@{
    ViewBag.Title = "Your organisation type - Gender pay gap reporting service";
}

<a id="BackLink" class="link-back" href="@Model.BackAction">Back <span class="visuallyhidden"> to the previous question</span></a>
<div id="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.HiddenFor(m => m.SearchText)

            @await Html.CustomValidationSummaryAsync()

            <h1 class="heading-large" style="margin-bottom: 50px;">
                Select the type of organisation you would like to add
            </h1>

            <div id="SectorTypeGroup" class="form-group @Html.SetErrorClass(model => model.SectorType, "error")">
                <fieldset>
                    <legend>
                        @Html.ValidationMessageFor(model => model.SectorType, null, new {@class = "error-danger"})
                    </legend>

                    <div class="multiple-choice">
                        <input id="public" type="radio" name="SectorType" value="@(SectorTypes.Public)">
                        <label for="public">
                            <span class="form-label-bold">Public sector organisation</span>
                            This includes most government departments, the armed forces, local authorities, NHS bodies,
                            universities, and most schools (including academies and multi-academy trusts).
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="private" type="radio" name="SectorType" value="@(SectorTypes.Private)">
                        <label for="private">
                            <span class="form-label-bold">Private and voluntary sector organisation</span>
                            This includes private limited companies, public limited companies, limited liability
                            partnerships, charities, independent and private schools, and other private sector organisations.
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="panel panel-border-wide">
                <p>
                    If you are not sure what type of organisation you are please read our
                    <a class="govuk-link" href="https://www.gov.uk/guidance/gender-pay-gap-reporting-overview#relevant-employer">
                        guidance
                    </a>.
                </p>

                <p>
                    The full list of organisations required to report their gender pay gap data as a public sector organisation
                    can be found in
                    <a class="govuk-link" href="https://www.legislation.gov.uk/ukdsi/2017/9780111153277/schedule/2">
                        Schedule 2 of the The Equality Act 2010 (Specific Duties and Public Authorities) Regulations
                        2017
                    </a>.
                </p>
            </div>
            <input type="submit" class="button" value="Continue"/>

            <div>
                <a href="@(Url.Action<OrganisationController>(nameof(OrganisationController.ManageOrganisations)))" style="display: inline-block; margin-top: 1em;">Cancel</a>
            </div>
        }
    </div>
</div>
