@{
    ViewBag.Title = "Search for your organisation - Gender pay gap reporting service";
}

@using GenderPayGap.Core
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
<div id="organisation-search-content">
    <div class="grid-row">
        <div class="column-full">
            @Html.ActionLink("Back", "OrganisationType", null, null, new {@class = "link-back"})
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SectorType)
        @Html.HiddenFor(m => m.ManualRegistration)

        <input type="submit" style="display:none" name="command" value="search">
        <div class="grid-row">
            <div class="column-two-thirds">
                @await Html.CustomValidationSummaryAsync()
                <h1 class="heading-large">

                    <span>Find your organisation</span>
                </h1>
                @Html.ValidationMessageFor(model => model.SearchText, null, new {@class = "error-danger"})

                <div class="gov-uk-c-searchbar">
                    <div class="gov-uk-l-searchbar__table">
                        <div class="gov-uk-l-searchbar__cell">
                            <label for="SearchText" class="visually-hidden">field to search by organisation name</label>
                            @Html.CustomEditorFor(model => model.SearchText, new {@class = "gov-uk-c-searchbar__input", placeholder = Model.SectorType == SectorTypes.Public ? "Organisation name" : "Organisation name or company no"})
                        </div>
                        <div class="gov-uk-l-searchbar__cell">
                            <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--blue" id="NextStep" name="command" value="search" title="Search" type="submit">Search</button>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(Model.SearchText) && Model.Employers != null && Model.Employers.Results.Count < 1)
                {
                    <div class="zero-results">
                        <h2 class="heading-medium">0 employers found that match your search</h2>
                        <h2>Please try:</h2>
                        <ul class="list list-bullet">
                            <li>searching again using different employer name</li>

                        </ul>
                        <details role="group">
                            <summary role="button" aria-controls="details-content-0" aria-expanded="true">Can't find your organisation?</summary>
                            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                                @Html.ActionLink("Tell us about your organisation", "AddOrganisation")
                            </div>
                        </details>
                    </div>
                }
            </div>
        </div>
    }
</div>