@{
    ViewBag.Title = "Password reset - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.ResetViewModel
<main id="content" role="main">
    <div class="grid-row">

        <div class="column-two-thirds">
            @using (Html.BeginForm(null, null, FormMethod.Post, new {autocomplete = "off"}))
            {
                @await Html.CustomValidationSummaryAsync()
                @Html.AntiForgeryToken()
                @Html.SpamProtectionTimeStamp()

                <h1 class="heading-large">
                    Reset your password
                </h1>
                <p>We’ll send you a link by email so you can reset your password. </p>
                <p>Enter your email address below. </p>
                <fieldset>
                    <legend class="visuallyhidden">Reset your password</legend>
                    <div class="form-group @Html.SetErrorClass(model => model.EmailAddress, "error") ">
                        @Html.LabelFor(model => model.EmailAddress, "Enter your email address", new {@class = "form-label col-md-10"})
                        @Html.ValidationMessageFor(model => model.EmailAddress, null, new {@class = "error-danger"})
                        <div class="col-md-10">
                            @Html.CustomEditorFor(model => model.EmailAddress, new {type = "email", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group @Html.SetErrorClass(model => model.ConfirmEmailAddress, "error") ">
                        @Html.LabelFor(model => model.ConfirmEmailAddress, "Confirm your email address", new {@class = "form-label col-md-10"})
                        @Html.ValidationMessageFor(model => model.ConfirmEmailAddress, "", new {@class = "error-danger"})
                        <div class="col-md-10">
                            @Html.CustomEditorFor(model => model.ConfirmEmailAddress, new {type = "email", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="button" value="Submit"/>
                    </div>
                </fieldset>
            }
        </div>

    </div>
</main>