@{
    ViewBag.Title = "Registration accepted - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large dynamic-content" style="display: block;">Registration complete</h1>
            </div>
            <div class="bold-small">
                What happens next.
            </div>
            <p class="dynamic-content" style="display: block;">
                We’ve sent
                @if (!string.IsNullOrWhiteSpace(ViewBag.TestUrl))
                {
                    <a date-name="testurl" href="@ViewBag.TestUrl">
                        @Model.ContactFirstName&nbsp;@Model.ContactLastName
                    </a>
                }
                else
                {
                    <span>@Model.ContactFirstName&nbsp;@Model.ContactLastName</span>
                }
                an email confirming they can report on behalf of @(Model.OrganisationName).
            </p>
            <a href="@Url.Action("PendingRegistrations", "Admin")" class="button">Continue</a>

        </div>
    </div>
</main>