@{
    ViewBag.Title = "Review new registration request - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Pending Registrations",
                Href = Url.Action("PendingRegistrations", "AdminPendingRegistrations")
            },
            new CrumbViewModel
            {
                Text = Model.ContactFirstName + " " + Model.ContactLastName + " (" + Model.ContactJobTitle + ") - " + Model.OrganisationName
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <form method="POST" action="@Url.Action("ReviewRequest", "Register")">
    <div class="govuk-grid-column-two-thirds">
        
        @Html.AntiForgeryToken()
            
        @Html.HiddenFor(model => model.SectorType)
        @Html.HiddenFor(model => model.CompanyNumber)
        @Html.HiddenFor(model => model.CharityNumber)
        @Html.HiddenFor(model => model.MutualNumber)
        @Html.HiddenFor(model => model.OtherName)
        @Html.HiddenFor(model => model.OtherValue)
        @Html.HiddenFor(model => model.ReviewCode)
        @Html.HiddenFor(model => model.ManualAddress)

        <h1 class="govuk-heading-xl">
            Approve registration request
        </h1>
            
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-margin-bottom-2">Person registering to report</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Your name
                    </th>
                    <td class="govuk-table__cell">
                        @Model.ContactFirstName @Model.ContactLastName (@Model.ContactJobTitle)
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Contact Email
                    </th>
                    <td class="govuk-table__cell">
                        @Model.ContactEmailAddress
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Telephone
                    </th>
                    <td class="govuk-table__cell">
                        @Model.ContactPhoneNumber
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-margin-bottom-2">Organisation being registered</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Organisation
                    </th>
                    <td class="govuk-table__cell">
                        @Model.OrganisationName
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Business&nbsp;Sectors (SIC&nbsp;Codes)
                    </th>
                    <td class="govuk-table__cell">
                        @await Html.PartialAsync("_SicCodeList", Model.SicCodes)
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        Address to register
                    </th>
                    <td class="govuk-table__cell">
                        @foreach (string addressLine in Model.GetFullAddress())
                        {
                            @(addressLine)<br />
                        }
                    </td>
                </tr>
                @if (Model.RegisteredAddress != null)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Current address
                        </th>
                        <td class="govuk-table__cell">
                            @foreach (string addressLine in Model.RegisteredAddress)
                            {
                                @(addressLine)<br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-margin-bottom-2">Provided references</caption>
            <tbody class="govuk-table__body">
                @if (!string.IsNullOrWhiteSpace(Model.CompanyNumber))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Company Number
                        </th>
                        <td class="govuk-table__cell">
                            @Model.CompanyNumber
                        </td>
                    </tr>
                }
                        
                @if (!string.IsNullOrWhiteSpace(Model.CharityNumber))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Charity Number
                        </th>
                        <td class="govuk-table__cell">
                            @Model.CharityNumber
                        </td>
                    </tr>
                }
                        
                @if (!string.IsNullOrWhiteSpace(Model.CharityNumber))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            Mutual partnership number
                        </th>
                        <td class="govuk-table__cell">
                            @Model.MutualNumber
                        </td>
                    </tr>
                }
                        
                @if (!string.IsNullOrWhiteSpace(Model.CharityNumber))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            @Model.OtherName
                        </th>
                        <td class="govuk-table__cell">
                            @Model.OtherValue
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div class="govuk-grid-column-full">
            
        <h2 class="govuk-heading-l">
            Similar organisations
        </h2>
        
        @if (Model.ManualEmployers != null && Model.ManualEmployers.Any()) {
            
            <table class="govuk-table" summary="A list organisations that match your organisation details">
                <caption class="govuk-table__caption govuk-visually-hidden">Customer and Business listing</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Organisation and address</th>
                        <th class="govuk-table__header" scope="col">References</th>
                        <th class="govuk-table__header" scope="col">Registration Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (var i = 0; i < Model.ManualEmployers.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Model.ManualEmployers[i].OrganisationName <span>@Model.ManualEmployers[i].GetFullAddress()</span>
                            </td>
                            <td class="govuk-table__cell">
                                @{ Dictionary<string, string> references = Model.GetReferences(i); }
                                @foreach (string key in references.Keys)
                                {
                                    if (key.EqualsI("Company No") && references[key].EqualsI(Model.CompanyNumber)
                                        || key.EqualsI("Charity No") && references[key].EqualsI(Model.CharityNumber)
                                        || key.EqualsI("Mutual No") && references[key].EqualsI(Model.MutualNumber)
                                        || key.EqualsI(Model.OtherName) && references[key].EqualsI(Model.OtherValue)
                                        )
                                    {
                                        <span style="color: red; display: block; white-space: nowrap;">@key: @(references[key])</span>
                                    }
                                    else
                                    {
                                        <span style="display: block; white-space: nowrap;">@key: @(references[key])</span>
                                    }
                                }
                            </td>
                            <td class="govuk-table__cell">
                                @Model.ManualEmployers[i].RegistrationStatus
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="govuk-body">No similar organisations found.</p>
        }
        
        <button type="submit" class="govuk-button govuk-button--warning" role="link" name="command" value="decline">Reject registration</button>
        <button type="submit" class="govuk-button" name="command" value="approve">Confirm and complete registration</button>
        
        </div>
    </form>
    
</div>
