@{
    string govukTemplateAssetPath = Url.Content("~/public/assets/govuk_template");
    var lang = "en";
    object metaTitle = ViewData.ContainsKey("PageTitle") ? ViewData["PageTitle"] : "GOV.UK - The best place to find government services and information";
    object bodyClasses = ViewData.ContainsKey("BodyClasses") ? ViewData["BodyClasses"] : "";
    var skipLinkMessage = "Skip to main content";
    var headerClass = "with-proposition";
    var homepageUrl = "https://www.gov.uk/";
    var logoLinkTitle = "Go to the GOV.UK homepage";
    var globalHeaderText = "GOV.UK";
    var crownCopyrightMessage = "&copy; Crown copyright";
    object cacheBreaker = ViewData["cacheBreaker"];
}
@RenderSection("PageTop", false)
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="@(lang)"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@metaTitle</title>
    <sitemap:meta http-equiv="content-type" default-content="text/html; charset=UTF-8"/>
    <sitemap:meta name="description" default-content="@ViewBag.pageDescription" required="false"/>
    <sitemap:meta name="robots" required="false"/>

    <meta charset="utf-8"/>

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" media="screen" href="@(govukTemplateAssetPath)/stylesheets/govuk-template.css?@(cacheBreaker)"/><!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="@(govukTemplateAssetPath)/stylesheets/govuk-template-ie6.css?@(cacheBreaker)"/><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="@(govukTemplateAssetPath)/stylesheets/govuk-template-ie7.css?@(cacheBreaker)"/><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="@(govukTemplateAssetPath)/stylesheets/govuk-template-ie8.css?@(cacheBreaker)"/><![endif]-->
    <link rel="stylesheet" media="print" href="@(govukTemplateAssetPath)/stylesheets/govuk-template-print.css?@(cacheBreaker)"/>

    <!--[if IE 8]><link rel="stylesheet" media="all" href="@(govukTemplateAssetPath)/stylesheets/fonts-ie8.css?@(cacheBreaker)"/><![endif]-->
    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" media="all" href="@(govukTemplateAssetPath)/stylesheets/fonts.css?@(cacheBreaker)"/><!--<![endif]-->
    <!--[if lt IE 9]><script src="@(govukTemplateAssetPath)/javascripts/ie.js?@(cacheBreaker)"></script><![endif]-->

    <link rel="shortcut icon" href="@(govukTemplateAssetPath)/images/favicon.ico?@(cacheBreaker)" type="image/x-icon"/>

    <link rel="mask-icon" href="@(govukTemplateAssetPath)/images/gov.uk_logotype_crown.svg?@(cacheBreaker)" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="@(govukTemplateAssetPath)/images/apple-touch-icon-180x180.png?@(cacheBreaker)">
    <link rel="apple-touch-icon" sizes="167x167" href="@(govukTemplateAssetPath)/images/apple-touch-icon-167x167.png?@(cacheBreaker)">
    <link rel="apple-touch-icon" sizes="152x152" href="@(govukTemplateAssetPath)/images/apple-touch-icon-152x152.png?@(cacheBreaker)">
    <link rel="apple-touch-icon" href="@(govukTemplateAssetPath)/images/apple-touch-icon.png?@(cacheBreaker)">

    <meta name="theme-color" content="#0b0c0c"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@(govukTemplateAssetPath)/images/opengraph-image.png?@(cacheBreaker)">

    @RenderSection("Head", false)
</head>

<body class="@(bodyClasses)">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

@RenderSection("BodyStart", false)

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">@(skipLinkMessage)</a>
    </div>
</div>

<div id="global-cookie-message">
    @RenderSection("CookieMessage", false)
</div>

<header role="banner" id="global-header" class="@(headerClass)">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="@(homepageUrl)" title="@(logoLinkTitle)" id="logo" class="content">
                    <img src="@(govukTemplateAssetPath)/images/gov.uk_logotype_crown_invert_trans.png?@(cacheBreaker)" width="36" height="32" alt=""> @globalHeaderText
                </a>
            </div>
            @RenderSection("InsideHeader", false)
        </div>
        @RenderSection("PropositionHeader", false)
    </div>
</header>

@RenderSection("AfterHeader", false)

<div id="global-header-bar"></div>

@RenderBody()

<footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">

        @RenderSection("FooterTop", false)

        <div class="footer-meta">

            <div class="footer-meta-inner">

                @RenderSection("FooterSupportLinks", false)

                <div class="open-government-licence">
                    <p class="logo">
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                    </p>
                    @RenderSection("LicenceMessage", false)
                </div>
            </div>

            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">@(Html.Raw(crownCopyrightMessage))</a>
            </div>
        </div>
    </div>
</footer>

<div id="global-app-error" class="app-error hidden"></div>

<script src="@(govukTemplateAssetPath)/javascripts/govuk-template.js?@(cacheBreaker)"></script>

@RenderSection("BodyEnd", false)

<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>
</html>