@using GenderPayGap.IdentityServer4.Classes
@{
    Layout = "_GovTemplate";
    string govukToolkitAssetPath = Url.Content("~/public/assets/govuk_frontend_toolkit");
    string govukAppAssetPath = Url.Content("~/public/assets/application");
    object cacheBreaker = ViewData["cacheBreaker"] = "0.0.0";
}

@section PageTop{
    <!-- @Html.PageIdentifier() -->
}

@section Head {
    <link rel="stylesheet" media="screen" href="@(govukAppAssetPath)/stylesheets/application.css?@(cacheBreaker)"/>
    <link rel="stylesheet" media="print" href="@(govukAppAssetPath)/stylesheets/application-print.css?@(cacheBreaker)"/>
    <meta name="google-site-verification" content="uRt7CAkfClOB8Jig6Pw2-DELUWuuyG2kYKip0UThxhg"/>
    <script type="text/javascript">
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    </script>
}

@section PropositionHeader {

    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu">
                <a href="https://www.gov.uk/report-gender-pay-gap-data" id="proposition-name">Gender pay gap reporting</a>
            </nav>
        </div>
    </div>
}

<main id="content">
    <div class="phase-callout">
        <div class="grid-row">
            <div class="column-full">
                <div class="phase-banner-alpha ">
                    <p>
                        <strong class="phase-tag">BETA</strong>
                        <span>
                            This is a new service – your

                            <a href="/send-feedback?url=/sign-in"
                               title="Feedback form will open in a new page"
                               class="font16-ext-link">
                                feedback <span class="visually-hidden"> form will open in a new page</span>
                            </a>
                            will help us to improve it.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</main>

@section BodyEnd {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript">
        $('form').on('submit', function (e) {
            var $form = $(this);

            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
                e.preventDefault();
            } else {
                // Mark it so that the next submit can be ignored
                $form.data('submitted', true);
            }
        });
    </script>
    <script src="@(govukToolkitAssetPath)/javascripts/govuk_toolkit.js?@(cacheBreaker)"></script>

    @RenderSection("scripts", false)
}

@section CookieMessage{

}

@section FooterSupportLinks{
    <ul>
        <li>
            <a href="/contact-us" target="_blank">Contact Us<span class="visually-hidden">(opens in a new window)</span></a>
        </li>
        <li>
            <a href="/cookies" target="_blank">Cookies<span class="visually-hidden">(opens in a new window)</span></a>
        </li>
    </ul>
}

@section LicenceMessage{
    <p>
        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
    </p>
}