@using GenderPayGap.WebUI.Models.AddOrganisation
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.AddOrganisation.AddOrganisationChooseSectorViewModel
@{
    ViewBag.Title = "What type of employer do you want to add? - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="get"
              action="@Url.Action("ChooseSector", "AddOrganisationChooseSector")">
            
            @(Html.GovUkErrorSummary())

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What type of employer do you want to add?
                    </h1>
                </legend>

                @(Html.GovUkRadiosFor(
                    m => m.Sector,
                    itemLabelOptions: new Dictionary<AddOrganisationSector?, LabelViewModel>
                    {
                        {
                            AddOrganisationSector.Public,
                            new LabelViewModel
                            {
                                Classes = "govuk-!-font-size-24 govuk-!-font-weight-bold"
                            }
                        },
                        {
                            AddOrganisationSector.Private,
                            new LabelViewModel
                            {
                                Classes = "govuk-!-font-size-24 govuk-!-font-weight-bold"
                            }
                        },
                    },
                    itemHintOptions: new Dictionary<AddOrganisationSector?, HintViewModel>
                    {
                        {
                            AddOrganisationSector.Public,
                            new HintViewModel
                            {
                                Html = @<text>
                                           This includes:
                                           <ul class="govuk-list govuk-list--bullet" style="color: inherit;">
                                               <li>most government departments</li>
                                               <li>the armed forces</li>
                                               <li>local authorities</li>
                                               <li>NHS bodies</li>
                                               <li>universities</li>
                                               <li>most schools, including academies and multi-academy trusts (except private and independent schools)</li>
                                           </ul>
                                        </text>
                            }
                        },
                        {
                            AddOrganisationSector.Private,
                            new HintViewModel
                            {
                                Html = @<text>
                                           This includes:
                                           <ul class="govuk-list govuk-list--bullet" style="color: inherit;">
                                               <li>limited companies</li>
                                               <li>limited liability partnerships</li>
                                               <li>charities</li>
                                               <li>independent and private schools</li>
                                           </ul>
                                        </text>
                            }
                        },
                    }))

            </fieldset>

            <div class="govuk-inset-text">
                If you are not sure what type your employer is, please read the guidance on
                <a href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#public-regulations"
                   target="_blank"
                   rel="noopener"
                   class="govuk-link">
                    who needs to report their gender pay gap
                    <span class="govuk-visually-hidden">(opens in a new tab)</span>
                </a>
            </div>

            @{
                Model.Validate = true;
                @(Html.HiddenFor(m => m.Validate))
            }

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")"
                   class="govuk-link">
                    Cancel and return to Manage Employers
                </a>
            </p>

        </form>
        

    </div>
</div>
