@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Account.ChangeEmailViewModel

@{
    ViewBag.Title = "Change email address - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Account",
                Href = Url.Action("ManageAccountGet", "ManageAccount")
            },
            new CrumbViewModel
            {
                Text = "Change Email Address"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Change email address
        </h1>

        @(Html.GovUkErrorSummary())

        <h2 class="govuk-heading-m">
            Enter your new email address
        </h2>
        
        <form method="post" action="@(Url.Action("ChangeEmailPost", "ChangeEmail"))">
            @(Html.AntiForgeryToken())

            @(Html.GovUkTextInputFor(
                m => m.NewEmailAddress,
                type: "email",
                labelOptions: new LabelViewModel { Text = "New email address" },
                classes: "govuk-input--width-20",
                formGroupOptions: new FormGroupViewModel { Classes = "govuk-!-margin-bottom-3" },
                autocomplete: "email"
                ))
        
            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Confirm",
                Classes = "govuk-!-margin-bottom-4"
            }))
        
        </form>
        
        <p class="govuk-body">
            <a href="@(Url.Action("ManageAccountGet", "ManageAccount"))"
               class="govuk-link">
                Cancel
            </a>
        </p>

    </div>
</div>
