@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Views.Components.StatusMessages
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.ReportSizeOfOrganisationViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportingYear);

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @(await Html.GovUkBackLink(new BackLinkViewModel
    {
        Href = Url.Action("ReportOverview", "ReportOverview", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})
    }))
}

<form method="post" action="@Url.Action("ReportSizeOfOrganisationPost", "ReportSizeOfOrganisation", new { encryptedOrganisationId, reportingYear = Model.ReportingYear})">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @(Html.AntiForgeryToken())
            @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages", new StatusMessagesViewModel()); }
            @(await Html.GovUkErrorSummary(ViewData.ModelState))
            @Html.HiddenFor(m => m.IsEditingForTheFirstTime)
            
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What was your employee headcount on your snapshot date?
                    </h1>

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-8 govuk-!-margin-top-8" style="font-weight: normal;">Reporting as @(Model.Organisation.OrganisationName)</h2>
                </legend>
            </fieldset>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                @(await Html.GovUkRadiosFor(m => m.SizeOfOrganisation))

                <div class="govuk-inset-text">
                    <p>
                        If you are unsure what type of employees should be included in your headcount, or what your snapshot date is please read the
                        <a href="https://www.gov.uk/guidance/who-needs-to-report-their-gender-pay-gap#headcount" target="_blank" rel="noopener">
                            guidance on working out your headcount
                            <span class="govuk-visually-hidden">(opens in a new window)</span>
                        </a>.
                    </p>
                </div>
            </fieldset>

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Save and continue",
                Classes = "govuk-!-margin-bottom-6"
            }))

            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">
                    Cancel and return to @(Model.Organisation.OrganisationName)
                </a>
            </p>
        </div>
        @await Html.PartialAsync("~/Views/Submit/RelatedContent.cshtml")
    </div>
</form>
