@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminResendVerificationEmailViewModel

@{
    ViewBag.Title = $"Re-send verification email - {Model.User.Fullname} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
{
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.User.Fullname,
                Href = Url.Action("ViewUser", "AdminViewUser", new {id = Model.User.UserId})
            },
            new CrumbViewModel
            {
                Text = "Re-send verification email"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Re-send verification email
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.User.Fullname)
            </span>
        </h1>

        <form method="post" action="@Url.Action("ResendVerificationEmailPost", "AdminUserResendVerificationEmail", new { id = Model.User.UserId })">
            @(Html.AntiForgeryToken())
            
            @(await Html.GovUkErrorSummary(ViewData.ModelState))

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">User's name</th>
                        <td class="govuk-table__cell">@(Model.User.Fullname)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">User's email address</th>
                        <td class="govuk-table__cell">@(Model.User.EmailAddress)</td>
                    </tr>
                </tbody>
            </table>

            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                labelOptions: new LabelViewModel
                {
                    Text = "What is the reason for this change?",
                    Classes = "govuk-label--m"
                },
                formGroupOptions: new FormGroupViewModel
                {
                    Classes = "govuk-!-margin-top-6"
                }
            ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Re-send verification email",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewUser", "AdminViewUser", new { id = Model.User.UserId })"
                   class="govuk-link">
                    Cancel and return to user page
                </a>
            </p>

        </form>

    </div>
</div>
