@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Database integrity checks - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">Database integrity checks</h1>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("ActiveOrganisationsWithTheSameName")" class="govuk-link govuk-!-font-weight-bold">
        Active organisations with the same name
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("ActiveOrganisationsWithTheSameCompanyNumber")" class="govuk-link govuk-!-font-weight-bold">
        Active organisations with the same company number
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("OrganisationsWithMultipleActiveAddresses")" class="govuk-link govuk-!-font-weight-bold">
        Organisations with multiple active addresses
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("OrganisationsWhereLatestAddressIsNotActive")" class="govuk-link govuk-!-font-weight-bold">
        Organisations where latest address is not active
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("OrganisationsWithMultipleActiveScopesForASingleYear")" class="govuk-link govuk-!-font-weight-bold">
        Organisations with multiple active scopes for a single year
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("OrganisationsWithNoActiveScopeForEveryYear")" class="govuk-link govuk-!-font-weight-bold">
        Organisations with no active scopes for every year
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("OrganisationsWithMultipleActiveReturnsForASingleYear")" class="govuk-link govuk-!-font-weight-bold">
        Organisations with multiple active returns for a single year
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("PublicSectorOrganisationsWithoutAPublicSectorType")" class="govuk-link govuk-!-font-weight-bold">
        Public sector organisations without a public sector type
    </a>
</h2>

<h2 class="govuk-heading-m">
    <a href="@Url.Action("PrivateSectorOrganisationsWithAPublicSectorType")" class="govuk-link govuk-!-font-weight-bold">
        Private sector organisations with a public sector type
    </a>
</h2>
