@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Database integrity checks - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Administration</span>
<h1 class="govuk-heading-xl">Database integrity checks</h1>

<section>
    <h2 class="govuk-heading-l">Organisation Names</h2>

    <div id="ActiveOrganisationsWithTheSameName">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</section>

<section>
    <h2 class="govuk-heading-l">Organisation Addresses</h2>

    <div id="OrganisationsWithMultipleActiveAddresses">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
    <div id="OrganisationsWhereLatestAddressIsNotActive">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</section>

<section>
    <h2 class="govuk-heading-l">Organisation Scopes</h2>

    <div id="OrganisationsWithMultipleActiveScopesForASingleYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
    <div id="OrganisationsWithNoActiveScopeForEveryYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</section>

<section>
    <h2 class="govuk-heading-l">Organisation Returns</h2>

    <div id="OrganisationsWithMultipleActiveReturnsForASingleYear">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</section>

<section>
    <h2 class="govuk-heading-l">Organisation Sector Types</h2>

    <div id="PublicSectorOrganisationsWithoutAPublicSectorType">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
    
    <div id="PrivateSectorOrganisationsWithAPublicSectorType">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    <span class="govuk-!-font-weight-bold govuk-!-font-size-36">
                        Loading...
                    </span>
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-body">
                    No organisations
                </div>
            </div>
        </details>
    </div>
</section>

<script type="text/javascript">

    function loadHtml(url, elementName) {
        $.get(url,
        "",
        function(data) { $("#" + elementName).html(data)},
        "html"
        );
    }

    document.addEventListener("DOMContentLoaded", function() { 
        loadHtml("@Url.Action("ActiveOrganisationsWithTheSameNameAjax", "AdminDatabaseIntegrityChecks")",
         "ActiveOrganisationsWithTheSameName");
         
        loadHtml("@Url.Action("OrganisationsWithMultipleActiveAddressesAjax", "AdminDatabaseIntegrityChecks")",
         "OrganisationsWithMultipleActiveAddresses");
        
        loadHtml("@Url.Action("OrganisationsWhereLatestAddressIsNotActiveAjax", "AdminDatabaseIntegrityChecks")",
         "OrganisationsWhereLatestAddressIsNotActive");
        
        loadHtml("@Url.Action("OrganisationsWithMultipleActiveScopesForASingleYearAjax", "AdminDatabaseIntegrityChecks")",
         "OrganisationsWithMultipleActiveScopesForASingleYear");
        
        loadHtml("@Url.Action("OrganisationsWithNoActiveScopeForEveryYearAjax", "AdminDatabaseIntegrityChecks")",
         "OrganisationsWithNoActiveScopeForEveryYear");
        
        loadHtml("@Url.Action("OrganisationsWithMultipleActiveReturnsForASingleYearAjax", "AdminDatabaseIntegrityChecks")",
         "OrganisationsWithMultipleActiveReturnsForASingleYear");
        
        loadHtml("@Url.Action("PublicSectorOrganisationsWithoutAPublicSectorTypeAjax", "AdminDatabaseIntegrityChecks")",
         "PublicSectorOrganisationsWithoutAPublicSectorType");
        
        loadHtml("@Url.Action("PrivateSectorOrganisationsWithAPublicSectorTypeAjax", "AdminDatabaseIntegrityChecks")",
                 "PrivateSectorOrganisationsWithAPublicSectorType");
    
    });
</script>
