@using GenderPayGap.Database
@model List<GenderPayGap.Database.User>
@{
    var title = "New or Active users with the same email address";
    
    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";

    List<string> duplicateEmailAddresses = Model
        .OrderBy(user => user.EmailAddress)
        .Select(user => user.EmailAddress)
        .Distinct()
        .ToList();
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Database integrity checks</span>
        <h1 class="govuk-heading-xl">@title</h1>

        <p class="govuk-body">
            This shows a list of all new or active users that have the same email address.
        </p>
        
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        @if (!Model.Any())
        {
            <div class="govuk-body">
                No duplicate users
            </div>
        }
        else
        {
            <h2 class="govuk-heading-m">@(duplicateEmailAddresses.Count) duplicate email addresses</h2>

            <ul class="govuk-list">
                @foreach (string emailAddress in duplicateEmailAddresses)
                {
                    List<User> duplicatesOfThisUser = Model.Where(user => user.EmailAddress == emailAddress).OrderBy(user => user.UserId).ToList();

                    <li class="govuk-!-margin-bottom-4">
                        <a href="@(Url.Action("SearchGet", "AdminSearch", new {query = emailAddress}))"
                           class="govuk-link">
                            @(emailAddress)</a>

                        <details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-left-4 govuk-!-margin-bottom-4" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    <b>@(duplicatesOfThisUser.Count) users</b> with this email address
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <table class="govuk-table" style="width: fit-content;">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">
                                                User ID
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                <th scope="col" class="govuk-table__header">
                                                    <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = user.UserId})"
                                                       class="govuk-link">
                                                        @(user.UserId)
                                                    </a>
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Name
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                <td class="govuk-table__cell">
                                                    @(user.Fullname)
                                                </td>
                                            }
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Status
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                <td class="govuk-table__cell">
                                                    @(user.Status)
                                                    <br/>
                                                    <small>(since @(user.StatusDate.ToString("d MMM yyyy")))</small>
                                                </td>
                                            }
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Most recent login attempt
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                <td class="govuk-table__cell">
                                                    @if (user.LoginDate.HasValue)
                                                    {
                                                        @(user.LoginDate.Value.ToString("d MMM yyyy, HH:mm"))
                                                    }
                                                    else
                                                    {
                                                        <span>User has never tried to login</span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Registered organisations
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                <td class="govuk-table__cell">
                                                    @if (user.UserOrganisations.Any())
                                                    {
                                                        <ul class="govuk-list govuk-!-margin-0">
                                                            @foreach (UserOrganisation userOrganisation in user.UserOrganisations)
                                                            {
                                                                @(await Html.PartialAsync("../AdminPendingRegistrations/Sections/PendingRegistrationOtherRegistration", userOrganisation))
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <span>No registered organisations</span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Recommendation
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                bool thereIsASingleUserWithRegistrations = duplicatesOfThisUser.Count(u => u.UserOrganisations.Any()) == 1;
                                                bool thisUserHasRegistrations = user.UserOrganisations.Any();
                                                bool thereIsASingleUserThatHasEverAttemptedToLogIn = duplicatesOfThisUser.Count(u => u.LoginDate.HasValue) == 1;
                                                bool thisUserHasAttemptedToLogIn = user.LoginDate.HasValue;
                                                
                                                bool recommendKeep = 
                                                    (thereIsASingleUserWithRegistrations && thisUserHasRegistrations) ||
                                                    (thereIsASingleUserThatHasEverAttemptedToLogIn && thisUserHasAttemptedToLogIn);
                                                bool recommendRetire =
                                                    (thereIsASingleUserWithRegistrations && !thisUserHasRegistrations) ||
                                                    (thereIsASingleUserThatHasEverAttemptedToLogIn && !thisUserHasAttemptedToLogIn);
                                                
                                                <td class="govuk-table__cell">
                                                    @if (recommendKeep)
                                                    {
                                                        <span><b>Keep</b> this user</span>
                                                    }
                                                    else if (recommendRetire)
                                                    {
                                                        <span><b>Retire</b> this user</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Unsure</span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                Actions
                                            </th>
                                            @foreach (User user in duplicatesOfThisUser)
                                            {
                                                bool thereIsASingleUserWithRegistrations = duplicatesOfThisUser.Count(u => u.UserOrganisations.Any()) == 1;
                                                bool thisUserHasRegistrations = user.UserOrganisations.Any();
                                                bool thereIsASingleUserThatHasEverAttemptedToLogIn = duplicatesOfThisUser.Count(u => u.LoginDate.HasValue) == 1;
                                                bool thisUserHasAttemptedToLogIn = user.LoginDate.HasValue;
                                                bool recommendRetire =
                                                    (thereIsASingleUserWithRegistrations && !thisUserHasRegistrations) ||
                                                    (thereIsASingleUserThatHasEverAttemptedToLogIn && !thisUserHasAttemptedToLogIn);
                                                
                                                <td class="govuk-table__cell">
                                                    <a href="@Url.Action("ChangeStatusGet", "AdminUserStatus", new {id = user.UserId})"
                                                       class="govuk-button govuk-button-small @(recommendRetire ? "" : "govuk-button--secondary") govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                                                        Change status
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </details>
                    </li>
                }
            </ul>
        }

    </div>
</div>
