@using GenderPayGap.Database
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model List<GenderPayGap.Database.Organisation>
@{
    ViewBag.Title = "Organisations where the latest address is not active - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Database integrity checks",
                Href = Url.Action("DatabaseIntegrityChecks", "AdminDatabaseIntegrityChecks")
            },
            new CrumbViewModel
            {
                Text = "Organisations where the latest address is not active"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">Organisations where the latest address is not active</h1>

<p class="govuk-body">
    This shows a list of all organisations where the latest address is not active. This could be investigated to 
    decide which address should be made active, and retire the other(s). This will not have a significant impact on 
    the service from a user perspective but it may signify that letters will not reach those organisations.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No organisations
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) organisations where the latest address is not active</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Link to address history</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (Organisation organisation in Model)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="@(Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            @(organisation.OrganisationName)
                        </a>
                    </th>
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("ViewAddressHistory", "AdminOrganisationAddress", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            Address history <span class="govuk-visually-hidden">for @(organisation.OrganisationName)</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
