@using GenderPayGap.Database
@model List<GenderPayGap.Database.Organisation>

@{
    var title = "Organisations with no active scope for every year";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows a list of organisations who do not have an active scope for every year since the organisation 
    was created. Each organisation should have one active scope per year since they were created and these 
    organisations need investigating to determine what the missing scopes should be.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No organisations
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) organisations with no active scope for every year</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Link to scope history</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (Organisation organisation in Model)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="@(Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            @(organisation.OrganisationName)
                        </a>
                    </th>
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("ViewScopeHistory", "AdminOrganisationScope", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            Scope history <span class="govuk-visually-hidden">for @(organisation.OrganisationName)</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
