@using GenderPayGap.Database
@model List<GenderPayGap.Database.Organisation>

@{
    var title = "Organisations without an active address";

    ViewBag.Title = $"{title} - Administration - Gender pay gap service";
}

@section BeforeMain {
    <partial name="~/Views/AdminDatabaseIntegrityChecks/DatabaseIntegrityChecksBreadcrumbs.cshtml" model="title"/>
}

<span class="govuk-caption-xl">Database integrity checks</span>
<h1 class="govuk-heading-xl">@title</h1>

<p class="govuk-body">
    This shows a list of organisations without an active address. This might be because the link to the Companies 
    House database has broken. This will not have a significant impact on the service from a user's perspective 
    but it may signify that letters will not reach those organisations.
</p>

@if (!Model.Any())
{
    <div class="govuk-body">
        No organisations
    </div>
}
else
{
    <h2 class="govuk-heading-m">@(Model.Count) organisations without an active address</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Address history</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (Organisation organisation in Model)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="@(Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            @(organisation.OrganisationName)
                        </a>
                    </th>
                    <td class="govuk-table__cell">
                        <a href="@(Url.Action("ViewAddressHistory", "AdminOrganisationAddress", new {id = organisation.OrganisationId}))"
                           class="govuk-link">
                            Address history <span class="govuk-visually-hidden">for @(organisation.OrganisationName)</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
