@{
    ViewBag.Title = "We need more information - Gender pay gap reporting service";
}
@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@model GenderPayGap.WebUI.Models.Organisation.DeclareScopeModel
<div class="grid-row">
    <div class="column-full">
        <a class="link-back" href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")">Back</a>

        @await Html.CustomValidationSummaryAsync()

        @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form", autocomplete = "off"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SnapshotDate)
            @Html.HiddenFor(m => m.OrganisationName)

            <h1 class="heading-large">
                <span>We need more information</span>
                <span class="heading-secondary">@Model.OrganisationName</span>
            </h1>

            <p>Was your employer required to report for the @ReportingYearsHelper.FormatYearAsReportingPeriod(Model.SnapshotDate.Year) reporting year?</p>
            @Html.ValidationMessageFor(model => model.ScopeStatus, null, new {@class = "error-danger"})
            <div class="form-group @Html.SetErrorClass(model => model.ScopeStatus, "error")">
                <fieldset>
                    <div class="multiple-choice">
                        @Html.CustomRadioButtonFor(m => m.ScopeStatus, ScopeStatuses.InScope, new {type = "radio", @class = "styled", name = "radio1", id = "radio1-1"})
                        <label for="radio1-1">Yes</label>
                    </div>
                    <div class="multiple-choice selection-button-radio ">
                        @Html.CustomRadioButtonFor(m => m.ScopeStatus, ScopeStatuses.OutOfScope, new {type = "radio", @class = "styled", name = "radio1", id = "radio1-2"})
                        <label for="radio1-2">No</label>
                    </div>
                </fieldset>
            </div>
            <p class="govuk-inset-text">
                If you are unsure if your employer is required to report please read the guidance on <a href="@Global.WhoNeedsToReportGuidanceLink" target="_blank" rel="noopener">who needs to report their gender pay gap<span class="visually-hidden">(opens in a new window)</span></a>.
            </p>

            <div class="form-group">
                <input id="NextStep" type="submit" class="button" value="Continue"/>
            </div>
        }
    </div>
</div>