@using GenderPayGap.WebUI.BusinessLogic.Models.Organisation
@using GenderPayGap.WebUI.Classes.Formatters
@model GenderPayGap.WebUI.Models.Organisation.DisplayReportModel
@{
    ReportInfoModel reportInfoModel = Model.Report;
    var reportDateFormatter = new GDSDateFormatter(reportInfoModel.ReportingStartDate);
    int linkId = reportDateFormatter.StartYear;
    long organisationId = Model.OrganisationId;
    string encryptedOrganisationIdQueryString = Encryption.EncryptQuerystring(organisationId.ToString());
    string year = $"{reportInfoModel.ReportingStartDate.Year}/{(reportInfoModel.ReportingStartDate.Year + 1).ToTwoDigitYear()}";
}

<tr class="govuk-table__row">

    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-font-size-19">
        @year
    </td>

    <td class="govuk-table__cell govuk-!-font-size-19">
        <div>
            @if (reportInfoModel.NotRequiredToReport)
            {
                <span>NOT REQUIRED TO REPORT</span>
            }
            else
            {
                <span>REQUIRED TO REPORT <br/> by @(reportDateFormatter.FullEndDate)</span>
            }
        </div>
        @if (Model.CanChangeScope)
        {
            <div>
                <a href="@(Url.Action("ChangeOrganisationScope", "Scope", new { encryptedOrganisationId = encryptedOrganisationIdQueryString, reportingYear = reportDateFormatter.StartYear }))">
                    Change<span class="visually-hidden"> scope for year @year</span>
                </a>
            </div>
        }
    </td>

    <td class="govuk-table__cell govuk-!-font-size-19">
        @{
            bool isReportAvailable = reportInfoModel.ReportModifiedDate != null;
            bool isDraftAvailable = reportInfoModel.HasDraftContent();

            string returnOrDraftInfoIsAvailable = Encryption.EncryptAsParams(organisationId.ToString(), reportDateFormatter.StartYear.ToString(), true.ToString());
            string returnOrDraftInfoIsNotAvailable = Encryption.EncryptAsParams(organisationId.ToString(), reportDateFormatter.StartYear.ToString(), false.ToString());
        }

        <div>
            @if (reportInfoModel.ReportModifiedDate == null)
            {
                <span>Your organisation has not reported</span>
            }
            else
            {
                <span>Reported </span>
                if (reportInfoModel.NotRequiredToReport)
                {
                    <span>voluntarily</span>
                }
                var modifiedDateFormatter = new GDSDateFormatter(reportInfoModel.ReportModifiedDate.Value);
                <span> on @modifiedDateFormatter.FullStartDate</span>
            }
        </div>
        <br/>
        @if (!isReportAvailable && !isDraftAvailable)
        {
            <a class="button" id="NewReport@(linkId)-@(Model.EncCurrentOrgId)" href="@(Url.Action("ReportForOrganisation", new {request = returnOrDraftInfoIsNotAvailable}))">
                <span>Draft report<span class="visually-hidden"> for year @year</span></span>
            </a>
        }

        @if (!isReportAvailable && isDraftAvailable)
        {
            <a class="button" id="NewReport@(linkId)-@(Model.EncCurrentOrgId)" href="@(Url.Action("ReportForOrganisation", new {request = returnOrDraftInfoIsAvailable}))">
                <span>Edit draft<span class="visually-hidden"> for year @year</span></span>
            </a>
        }

        @if (isReportAvailable && !isDraftAvailable)
        {
            <a id="ChangeReport@(linkId)-@(Model.EncCurrentOrgId)" class="button" href="@(Url.Action("ReportForOrganisation", new {request = returnOrDraftInfoIsAvailable}))">
                <span>Edit Report<span class="visually-hidden"> for year @year</span></span>
            </a>
        }

        @if (isReportAvailable && isDraftAvailable)
        {
            <a class="button" id="NewReport@(linkId)-@(Model.EncCurrentOrgId)" href="@(Url.Action("ReportForOrganisation", new {request = returnOrDraftInfoIsAvailable}))">
                <span>Edit draft report<span class="visually-hidden"> for year @year</span></span>
            </a>
        }
    </td>

</tr>
