@using GenderPayGap.Core
@using GenderPayGap.Database
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model IEnumerable<GenderPayGap.Database.UserOrganisation>
@{
    ViewBag.Title = "Manage your organisation - Gender pay gap reporting service - GOV.UK";
    bool hasRegisteredOrgs = Model.Any();
}

@await Html.PartialAsync("AccountNavigationOld.cshtml")
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Select an organisation
        </h1>
        <p>Use this page to access your registered organisations or to register a new organisation.</p>
        <p>Once you have selected an organisation you can:</p>

        <ul class="list-bullet">
            <li>Enter gender pay gap data and save it as a draft for publication at a later date</li>
            <li>Publish your data on the <a href="~/">gender pay gap service</a></li>
            <li>Declare whether your organisation is required to report for each reporting year </li>
        </ul>

        @if (!hasRegisteredOrgs)
        {
            <div class="govuk-body">
                There are no organisations registered to your account.
            </div>
        }
        else
        {
            <table class="organisations-table" summary="A list of organisations registered to your account" style="margin-top: 30px">
                <thead>
                    <tr>
                        <th class="org-name" scope="col">Organisation name</th>
                        <th scope="col">Registration Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserOrganisation userOrg in Model)
                    {
                        string encOrgId = Encryption.EncryptQuerystring(userOrg.OrganisationId.ToString());

                        <tr>
                            @if (userOrg.IsAwaitingActivationPIN())
                            {
                                <th scope="row">
                                    <a id="ActivateOrg-@(encOrgId)" href="@(Url.Action("ActivateOrganisation", "Organisation", new {id = encOrgId}))">
                                        <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                    </a>
                                </th>
                                <td data-prefix="Status">
                                    Awaiting activation PIN
                                </td>
                            }
                            else if (userOrg.IsAwaitingRegistrationApproval())
                            {
                                <th scope="row">
                                    <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                </th>
                                <td data-prefix="Status">
                                    Awaiting registration approval
                                </td>
                            }
                            else
                            {
                                <th scope="row">
                                    <a id="ManageOrg-@(encOrgId)" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encOrgId})">
                                        <span>@userOrg.Organisation.OrganisationName.ToUpper()</span>
                                    </a>
                                </th>
                                <td data-prefix="Status">
                                    <span>Registration complete</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

</div>

<div class="grid-row">

    <div class="column-two-thirds">
        
        @await Html.GovUkButton(new ButtonViewModel
        {
            Href = Url.Action("ChooseSector", "AddOrganisationChooseSector"),
            Text = "Add organisation",
            Classes = "govuk-!-margin-top-6"
        })

        @if (hasRegisteredOrgs == false)
        {
            <h2 class="heading-small">Need to close your account?</h2>
            <p>
                If you created an account by mistake or no longer responsible
                for reporting gender pay gap data you can close your account in <a href="@Url.Action("ManageAccountGet", "ManageAccount")">manage account</a>.
            </p>
        }

    </div>

</div>
