@using GenderPayGap.Core
@using GenderPayGap.Database
@using GenderPayGap.WebUI.BusinessLogic.Models.Organisation
@using GenderPayGap.WebUI.Models.Organisation
@model GenderPayGap.WebUI.Models.Organisation.ManageOrganisationModel
@{
    var controller = ViewData["Controller"] as OrganisationController;
    Organisation currentOrg = Model.Organisation;
    ViewBag.Title = "Manage " + currentOrg.OrganisationName + " organisation - Gender pay gap reporting service";
}

@await Html.PartialAsync("~/Areas/Account/Views/Shared/AccountNavigation.cshtml")
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="margin-top: 15px;">
        <partial name="/Views/Components/CovidMessage.cshtml"/>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Reporting as @currentOrg.OrganisationName</span>
            Manage your organisation's reporting
        </h1>
        <div style="margin-bottom: 20px">
            <dl>
                <div>
                    <dt>
                        <strong>Address</strong>
                    </dt>
                </div>
                <div>
                    <dt class="govuk-caption-m govuk-!-font-size-16">
                        @Html.Raw(currentOrg.GetLatestAddress()?.GetAddressString("&#44;<br/>"))
                    </dt>
                </div>
            </dl>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Need to make changes to your organisation details?</span>
            </summary>
            <div class="govuk-details__text">
                If you are a private or voluntary organisation and need to change your organisation name,
                sector information, or address you should do this via Companies House.
                Changes that you make will automatically be reflected on this site.
                If this information is not available on Companies House, please contact <a href="mailto:@(Global.GpgReportingEmail)" target="_blank">@Global.GpgReportingEmail</a>
            </div>
        </details>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="heading-medium">
            Manage reports
        </h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Year</th>
                    <th scope="col" class="govuk-table__header">Reporting requirement</th>
                    <th scope="col" class="govuk-table__header">Report status</th>
                </tr>
            </thead>

            @for (int i = Model.ReportInfoModels.Count - 1, editScopeCount = Global.EditableScopeCount; i >= 0; i--, editScopeCount--)
            {
                ReportInfoModel report = Model.ReportInfoModels[i];
                if (report == null)
                {
                    continue;
                }
                var displayReportModel = new DisplayReportModel
                {
                    Report = report,
                    OrganisationId = currentOrg.OrganisationId,
                    EncCurrentOrgId = Model.EncCurrentOrgId,
                    CanChangeScope = editScopeCount > 0
                };
                @await Html.PartialAsync("DisplayReportSection", displayReportModel)
            }
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="heading-medium">
            Registered users
        </h2>
        @if (Model.AssociatedUserOrgs.Count == 0)
        {
            <p>
                You are the only person registered to report for this organisation.
            </p>
            <p>
                If you remove yourself:
            </p>
            <ul class="list list-bullet">
                <li>You will not be able to report for this organisation</li>
                <li>Someone else must register this organisation to report - this can take up to a week</li>
                <li>Your account will remain open</li>
            </ul>
        }
        else
        {
            <p>
                The following people are registered to report gender pay gap data for this organisation.
            </p>
        }
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">User</th>
                            <th class="govuk-table__header" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (UserOrganisation assocUserOrg in Model.AssociatedUserOrgs)
                        {
                            string userFullname = assocUserOrg.User.Fullname;
                            string encUserId = Encryption.EncryptQuerystring(assocUserOrg.UserId.ToString());
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@userFullname</td>
                                <td class="govuk-table__cell">
                                    <a href="@(Url.Action("RemoveOrganisation", new {orgId = Model.EncCurrentOrgId, userId = encUserId}))">
                                        Remove user <span class="visually-hidden">@userFullname</span> from reporting
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @controller.CurrentUser.Fullname <span>(You)</span>
                            </td>
                            <td class="govuk-table__cell">
                                <a href="@(Url.Action("RemoveOrganisation", new {orgId = Model.EncCurrentOrgId, userId = Encryption.EncryptQuerystring(controller.CurrentUser.UserId.ToString())}))">
                                    Remove user <span class="visually-hidden">@controller.CurrentUser.Fullname (You)</span> from reporting
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
