@{
    ViewBag.Title = "We need more information - Gender pay gap reporting service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}
@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Models.Shared.Patterns
@model GenderPayGap.WebUI.Models.Organisation.DeclareScopeModel
@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.OrganisationId.ToString());
    string reportingYearsString = ReportingYearsHelper.FormatYearAsReportingPeriod(Model.SnapshotDate.Year);
    var breadcrumbModel = new ManageOrganisationBreadcrumbs
    {
        OrganisationName = Model.OrganisationName,
        EncryptedOrganisationId = encryptedOrganisationId,
        PageText = "Change reporting requirement"
    };
}

@section BeforeMain {
    <partial name="Patterns/ManageOrganisationBreadcrumbs" model="breadcrumbModel" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You've confirmed your employer is <span> @(Model.ScopeStatus == ScopeStatuses.OutOfScope ? "not " : "")required to report for the @(reportingYearsString) reporting year.</span>
            </h1>
        </div>
        <h2 class="govuk-heading-m">
            <span class="heading-secondary">@Model.OrganisationName</span>
        </h2>
        <p class="govuk-body">
            You have acknowledged that your employer is @(Model.ScopeStatus == ScopeStatuses.OutOfScope ? "not " : "")subject the gender pay
            gap regulations for the @(reportingYearsString) reporting year.
        </p>
        @if (Model.ScopeStatus == ScopeStatuses.InScope)
        {
            <p class="govuk-body">
                You must report and publish your gender pay gap information at any
                time up to the reporting deadline, which is a year from your snapshot
                date.
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    most public authority employers must use a snapshot date of 31
                    March and report and publish gender pay gap information by 30
                    March of the following year
                </li>
                <li>
                    private, voluntary and all other public authority employers must use
                    a snapshot date of 31 March and report and publish gender pay gap
                    information by 30 March of the following year.
                </li>
            </ul>
        }

        <p class="govuk-body">
            <a class="button" href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = ViewContext.RouteData.Values["Id"]})" role="button">Return to @Model.OrganisationName</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")">Return to Manage Employers</a>
        </p>
    </div>
</div>
