@using GenderPayGap.Database
@using GenderPayGap.WebUI.Services
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminChangeCompaniesHouseOptInOutViewModel

@{
    ViewBag.Title = "Opt in - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>();
        crumbs.Add(new CrumbViewModel
        {
            Text = "Admin",
            Href = Url.Action("AdminHomePage", "AdminHomepage")
        });

        crumbs.Add(new CrumbViewModel
        {
            Text = Model.Organisation.OrganisationName,
            Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new { id = Model.Organisation.OrganisationId })
        });

        crumbs.Add(new CrumbViewModel
        {
            Text = "Opt in to Companies House synchronisation"
        });
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Companies House synchronisation
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        @(await Html.GovUkErrorSummary(ViewData.ModelState))

        <h2 class="govuk-heading-l govuk-!-margin-bottom-8">
            Opting in to synchronisation
        </h2>

        <h3 class="govuk-heading-m">Current organisation details</h3>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Current name</th>
                    <td class="govuk-table__cell">@(Model.Organisation.OrganisationName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Current address</th>
                    <td class="govuk-table__cell">@(Model.Organisation.OrganisationAddresses.OrderByDescending(a => a.Created).FirstOrDefault()?.GetAddressString() ?? "(No address)")</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Current SIC codes</th>
                    <td class="govuk-table__cell">
                        @foreach (OrganisationSicCode organisationSicCode in Model.Organisation.OrganisationSicCodes.Where(osc => !osc.IsRetired()))
                        {
                            @(organisationSicCode.SicCode.SicCodeId)
                            <br />
                        }
                    </td>
                </tr>
            </tbody>
        </table>


        <h3 class="govuk-heading-m">Organisation details after opting in</h3>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">New name</th>
                    <td class="govuk-table__cell">@(UpdateFromCompaniesHouseService.IsCompanyNameEqual(Model.Organisation.GetName(), Model.CompaniesHouseCompany.CompanyName) ? "(Not changed)" : Model.CompaniesHouseCompany.CompanyName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">New address</th>
                    @{ OrganisationAddress addressFromCoHo = UpdateFromCompaniesHouseService.CreateOrganisationAddressFromCompaniesHouseAddress(Model.CompaniesHouseCompany.RegisteredOfficeAddress); }
                    <td class="govuk-table__cell">@(addressFromCoHo.AddressMatches(Model.Organisation.GetLatestAddress()) ? "(Not changed)" : addressFromCoHo.GetAddressString())</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">New SIC codes</th>

                    @if (UpdateFromCompaniesHouseService.SicCodesEqual(Model.Organisation.GetSicCodes(), Model.CompaniesHouseCompany.SicCodes))
                    {
                        <td class="govuk-table__cell">
                            (Not changed)
                        </td>
                    }
                    else
                    {
                        <td class="govuk-table__cell">
                            @foreach (string organisationSicCode in Model.CompaniesHouseCompany.SicCodes)
                            {
                                @(organisationSicCode)
                                <br />
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>


        <form method="POST" action="@Url.Action("OptIn", "AdminOrganisationCompaniesHouseOptInOut", new { id = Model.Organisation.OrganisationId })">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkCharacterCountFor(
                m => m.Reason,
                labelOptions: new LabelViewModel
                {
                    Text = "What is the reason for this change?",
                    Classes = "govuk-label--m"
                },
                formGroupOptions: new FormGroupViewModel
                {
                    Classes = "govuk-!-margin-top-8"
                }
            ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Confirm",
                Classes = "govuk-!-margin-bottom-4",
                PreventDoubleClick = true
            }))

            <p class="govuk-body">
                <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new { id = Model.Organisation.OrganisationId })"
                   class="govuk-link">
                    Cancel and return to organisation page
                </a>
            </p>

        </form>

    </div>
</div>
