@{
    var index = 1;
}
<div class="references">
    <div class="bold-small">@(index++). Unconscious bias training</div>
    <ul class="list">
        <li>
            Girod, S., Fassiotto, M., Grewal, D., Ku, M. C., Sriram, N., Nosek, B. A., & Valantine, H. (2016). Reducing implicit gender leadership bias in academic medicine with an educational intervention. Academic Medicine, 91(8), 1143-1150.
        </li>
        <li>
            Atewologun, D., Cornish, T., & Tresh, F. (2018). Unconscious bias training: An assessment of the evidence for effectiveness. Equality and Human Rights Commission.
        </li>
    </ul>

    <div class="bold-small">@(index++). Diversity training</div>
    <ul class="list">
        <li>
            Bezrukova, K., Spell, C.S., Perry, J., & Jehn, K. (2016). A meta-analytical integration of over 40 years of research on diversity training evaluation. Psychological Bulletin, 142(11), 1227–1274.
        </li>
        <li>
            Dobbin, F., & Kalev, A. (2016). Why diversity programs fail. Harvard Business Review, 94(7/8), 52-60.
        </li>
    </ul>

    <div class="bold-small">@(index++). Leadership development training</div>

    <p>Not available.</p>

    <div class="bold-small">@(index++). Performance self-assessments</div>
    <ul class="list">
        <li>
            Fletcher (1999). The implications of research on gender differences in self-assessment and 360 degree appraisal. Human Resource Management Journal, 9(1), 39-46.
        </li>
        <li>
            Beyer (1990). Gender differences in accuracy of self-evaluations of performance. Journal of Personality and Social Psychology, 59(5), 960-970.
        </li>
    </ul>

    <div class="bold-small">@(index++). Diverse selection panels</div>
    <ul class="list">
        <li>
            De Paola, M., & Scoppa, V. (2015). Gender discrimination and evaluators’ gender: evidence from Italian academia. Economica, 82(325), 162-188.
        </li>
        <li>
            Bagues, M., Sylos-Labini, M., & Zinovyeva, N. (2017). Does the gender composition of scientific committees matter? American Economic Review, 107(4), 1207-38.
        </li>
        <li>
            Abramo, G., D’Angelo, C. A., & Rosati, F. (2015). Selection committees for academic recruitment: does gender matter? Research Evaluation, 24(4), 392-404.
        </li>
        <li>
            Duguid, M. (2011). Female tokens in high-prestige work groups: Catalysts or inhibitors of group diversification? Organizational Behavior and Human Decision Processes, 116(1), 104-115.
        </li>
    </ul>
</div>