@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using GenderPayGap.WebUI.Helpers
@model GenderPayGap.WebUI.Models.Account.ChangePersonalDetailsViewModel

@{
    ViewBag.Title = "Change your personal details - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>();
        @if (User.IsInRole(LoginRoles.GpgAdmin))
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            });
        }
        crumbs.Add(new CrumbViewModel
        {
            Text = "Manage account",
            Href = Url.Action("ManageAccountGet", "ManageAccount")
        });
        crumbs.Add(new CrumbViewModel
        {
            Text = "Personal details"
        });
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @(await Html.GovUkErrorSummary(ViewData.ModelState))
        
        <h1 class="govuk-heading-xl">
            Change your personal details
        </h1>

        <form method="POST" action="@Url.Action("ChangePersonalDetailsPost", "ChangePersonalDetails")">
            @(Html.AntiForgeryToken())

            @(await Html.GovUkTextInputFor(
                m => m.FirstName,
                labelOptions: new LabelViewModel {Text = "First name"},
                autocomplete: "given-name",
                classes: "govuk-input--width-20"
                ))

            @(await Html.GovUkTextInputFor(
                m => m.LastName,
                labelOptions: new LabelViewModel {Text = "Last name"},
                autocomplete: "family-name",
                classes: "govuk-input--width-20"
                ))

            @(await Html.GovUkTextInputFor(
                m => m.JobTitle,
                labelOptions: new LabelViewModel {Text = "Job title"},
                autocomplete: "organization-title",
                classes: "govuk-input--width-20"
                ))

            @(await Html.GovUkTextInputFor(
                m => m.ContactPhoneNumber,
                labelOptions: new LabelViewModel {Text = "Contact phone number"},
                autocomplete: "tel",
                classes: "govuk-input--width-20"
                ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Confirm",
                Classes = "govuk-!-margin-bottom-4",
                PreventDoubleClick = true
            }))

            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageAccountGet", "ManageAccount")">
                    Cancel
                </a>
            </p>
        </form>
    </div>
</div>
