@using GenderPayGap.WebUI.Cookies

<form method="post" action="@Url.Action("CookieConsent", "Cookie")" id="cookies-consent-form">
    @(Html.AntiForgeryToken())
    <div class="govuk-cookie-banner govuk-!-padding-top-2" data-nosnippet role="region" aria-label="Cookies on Gender Pay Gap service">
        <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-details">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Gender Pay Gap service</h2>
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">We use some essential cookies to make this service work.</p>
                        <p class="govuk-body">We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button id="accept-cookies" type="submit" value="accept" name="AdditionalCookies" class="govuk-button" data-module="govuk-button">
                    Accept additional cookies
                </button>
                <button id="reject-cookies" type="submit" value="reject" name="AdditionalCookies" class="govuk-button" data-module="govuk-button">
                    Reject additional cookies
                </button>
                <a class="govuk-link" href="@Url.Action("CookieSettingsGet", "Cookie")">View cookies</a>
            </div>
        </div>
        <div class="govuk-cookie-banner__message govuk-width-container">
            <div id="confirmation-message" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-cookie-banner__content">
                            <p class="govuk-body" id="accepted-message" hidden>You’ve accepted additional cookies. You can <a class="govuk-link" href="@Url.Action("CookieSettingsGet", "Cookie")">change your cookie settings</a> at any time.</p>
                            <p class="govuk-body" id="rejected-message" hidden>You’ve rejected additional cookies. You can <a class="govuk-link" href="@Url.Action("CookieSettingsGet", "Cookie")">change your cookie settings</a> at any time.</p>
                        </div>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button id="hide-button" class="govuk-button" data-module="govuk-button">
                        Hide this message
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    (function() {
        function setCookie(cookieName, cookieValue) {
            document.cookie =
                cookieName +
                "=" +
                encodeURIComponent(JSON.stringify(cookieValue)) +
                "; max-age=31536000; path=/; Secure; SameSite=Lax";
        }
        
        function setEssentialCookies(additionalCookiesAccepted) {
            setCookie('@(CookieHelper.CookieSettingsCookieName)',
                {
                    GoogleAnalyticsGpg: additionalCookiesAccepted,
                    GoogleAnalyticsGovUk: additionalCookiesAccepted,
                    RememberSettings: additionalCookiesAccepted
                });
            setCookie('@(CookieHelper.SeenCookieMessageCookieName)',
                {
                    Version: 1
                });
        }

        function acceptAllCookiesButtonClicked() {
            setEssentialCookies(true);
            document.getElementById('cookies-details').hidden = true;
            document.getElementById('confirmation-message').hidden = false;
            document.getElementById('accepted-message').hidden = false;

            @* Initialise and send Google Analytics *@
            window.initialiseGoogleAnalytics && window.initialiseGoogleAnalytics();
            window.sendGpgPageView && window.sendGpgPageView();
            window.sendGovUkPageView && window.sendGovUkPageView();
        }
        
        function rejectAllCookiesButtonClicked() {
            setEssentialCookies(false);
            document.getElementById('cookies-details').hidden = true;
            document.getElementById('confirmation-message').hidden = false;
            document.getElementById('rejected-message').hidden = false;
        }

        document.getElementById('cookies-consent-form')
            .addEventListener("submit", function(e) {
                @* Don't submit the form / change the page - we can handle setting the cookies in javascript *@
                e.preventDefault();	
            });
         document.getElementById('accept-cookies')
                    .addEventListener("click", acceptAllCookiesButtonClicked);
         document.getElementById('reject-cookies')
                    .addEventListener("click", rejectAllCookiesButtonClicked);

        function hideCookieConfirmationClicked() {
            document.getElementById('cookies-consent-form').hidden = true;
        }

        document.getElementById('hide-button').addEventListener("click", hideCookieConfirmationClicked);

        function getCookie(name) {
            try {
                var nameWithEquals = name + "=";
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i];
                    while (cookie.charAt(0) === ' ') {
                        cookie = cookie.substring(1, cookie.length);
                    }
                    if (cookie.indexOf(nameWithEquals) === 0) {
                        var cookieValueString = cookie.substring(nameWithEquals.length, cookie.length);
                        var cookieValue = JSON.parse(decodeURIComponent(cookieValueString));
                        return cookieValue;
                    }
                }
            } catch (e) { /* If there's an error, return null */
            }
            return null;
        }

        var seenCookieMessage = getCookie('@(CookieHelper.SeenCookieMessageCookieName)');
        if (seenCookieMessage && seenCookieMessage.Version >= @(CookieHelper.CurrentCookieMessageVersion)) {
            document.getElementById('cookies-consent-form').hidden = true;
        }
    })();
</script>
