@using GenderPayGap.WebUI.Controllers.Guidance
@using GenderPayGap.Core.Helpers
@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.AccountingDate)

            @await Html.CustomValidationSummaryAsync()
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've saved a draft of your gender pay gap data for @(ReportingYearsHelper.FormatYearAsReportingPeriod(Model.AccountingDate.Year, "/"))</h1>
            </div>
            <a class="govuk-button" href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")">Continue</a>
        }

        <div>
            <ul class="font-xsmall" style="line-height: 1.75">
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="@Url.Action(nameof(EightWaysGuidanceController.EightWaysOverview), "EightWaysGuidance")">Eight ways to understand your organisation&rsquo;s gender pay gap<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="@Url.Action("Overview", "ActionHub")">Actions to close the gap<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a rel="track" target="_blank" data-track-category="Related Link Clicked" href="/public/assets/pdf/action-plan-guidance.pdf">Four steps to developing a gender pay gap action plan<span class="visually-hidden">(opens in a new window)</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>