@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReturnId)
    @Html.HiddenFor(model => model.OrganisationId)
    @Html.HiddenFor(model => model.EncryptedOrganisationId)
    @Html.HiddenFor(model => model.ShouldProvideLateReason)

    @Html.HiddenFor(model => model.ReportInfo.ReportModifiedDate)
    @Html.HiddenFor(model => model.ReportInfo.ReportingStartDate)

    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.JobTitle)
    @Html.HiddenFor(model => model.LastName)

    @Html.HiddenFor(model => model.ReturnId)
    @Html.HiddenFor(model => model.OrganisationId)
    @Html.HiddenFor(model => model.DiffMeanBonusPercent)
    @Html.HiddenFor(model => model.DiffMeanHourlyPayPercent)
    @Html.HiddenFor(model => model.DiffMedianBonusPercent)
    @Html.HiddenFor(model => model.DiffMedianHourlyPercent)
    @Html.HiddenFor(model => model.FemaleLowerPayBand)
    @Html.HiddenFor(model => model.FemaleMedianBonusPayPercent)
    @Html.HiddenFor(model => model.FemaleMiddlePayBand)
    @Html.HiddenFor(model => model.FemaleUpperPayBand)
    @Html.HiddenFor(model => model.FemaleUpperQuartilePayBand)
    @Html.HiddenFor(model => model.MaleLowerPayBand)
    @Html.HiddenFor(model => model.MaleMedianBonusPayPercent)
    @Html.HiddenFor(model => model.MaleMiddlePayBand)
    @Html.HiddenFor(model => model.MaleUpperPayBand)
    @Html.HiddenFor(model => model.MaleUpperQuartilePayBand)
    @Html.HiddenFor(model => model.AccountingDate)
    @Html.HiddenFor(model => model.SectorType)
    @Html.HiddenFor(model => model.OrganisationSize)
    @Html.HiddenFor(model => model.EHRCResponse)
    @Html.HiddenFor(model => model.LateReason)

    var controller = ViewData["Controller"] as BaseController;

    string backLink;
    if (Model.ReturnUrl.EqualsI("CheckData"))
    {
        backLink = Url.Action("CheckData");
    }
    else
    {
        backLink = Url.Action("OrganisationSize");
    }
    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="@backLink">Back <span class="visuallyhidden"> to the previous step</span></a>

            <h1 class="heading-large">
                Provide a link to your supporting narrative
            </h1>
            @await Html.PartialAsync("ReportingOrgPart", controller.ReportingOrganisation.OrganisationName)
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group @Html.SetErrorClass(model => model.CompanyLinkToGPGInfo, "error")">
                        <label class="form-label" for="CompanyLinkToGPGInfo">
                            Enter the web address of your supporting narrative (URL). <br/>
                            <span class="optional" style="font-size: inherit; color: dimgrey">This must start with http:// or https://</span>
                        </label>
                        @Html.ValidationMessageFor(model => model.CompanyLinkToGPGInfo, "", new {@class = "error-message"})
                        @Html.TextBoxFor(model => model.CompanyLinkToGPGInfo, new {@class = "form-control form-control-3-4"})
                    </div>
                </fieldset>
            </div>
            <div class="panel panel-border-wide">
                <span>If you don&rsquo;t have the URL you can return and add it later.</span>
                <br/>
                <span>You can also update your link for any reporting year, if needed.</span>
            </div>
            <p>
                Adding a supporting narrative helps anyone reading your gender pay gap report understand your employer&rsquo;s view of why a gender pay gap
                is present and what your employer has already done to analyse and
                close it. Your supporting narrative can signal your commitment to
                closing your gender pay gap to your employees and anyone else
                accessing your report
            </p>
            <p>
                <a href="https://www.gov.uk/guidance/the-gender-pay-gap-information-employers-must-report#supporting-narrative" target="_blank" rel="noopener">
                    Read more about supporting narratives
                    <span class="visually-hidden">(opens in a new window)</span>
                </a>
            </p>
            <br/>
            @await Html.PartialAsync("SaveAndCancelButtons", controller.ReportingOrganisation.OrganisationName)
        </div>
        @await Html.PartialAsync("RelatedContent")
    </div>
}
