@using GenderPayGap.Core.Helpers
@using GenderPayGap.WebUI.Controllers.Guidance
@model GenderPayGap.WebUI.BusinessLogic.Models.Submit.ReturnViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.AccountingDate)

            var controller = ViewData["Controller"] as BaseController;
            string encryptedOrganisationId = Encryption.EncryptQuerystring(controller.ReportingOrganisation.OrganisationId.ToString());

            @await Html.CustomValidationSummaryAsync()
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've submitted your gender pay gap data for the @ReportingYearsHelper.FormatYearAsReportingPeriod(Model.ReportInfo.ReportingStartDate.Year) reporting year.</h1>
            </div>
            <p>Your gender pay gap information has now been published on the Gender pay gap service.</p>
            <p>@Html.ActionLink("View your published gender pay gap information", "Report", "Viewing", new {employerIdentifier = Model.EncryptedOrganisationId, year = Model.AccountingDate.Year}, new {id = "btnViewData"})</p>

            <h2 class="heading-medium">Next steps</h2>
            <p>
                You must also publish your gender pay gap report (and
                <a href="https://www.gov.uk/guidance/the-gender-pay-gap-information-employers-must-report#written-statement" target="_blank" rel="noopener">written statement<span class="visually-hidden">(opens in a new window)</span></a> if applicable) in a prominent place on your employer's public facing website.
            </p>
            <h2 class="heading-medium">Understanding your gender pay gap and taking action to close it</h2>
            <p>
                For more information on diagnosing your employer's gender pay gap,
                and how to create an effective action plan, please read our guidance:
            </p>
            <p>
                <a rel="external noopener track" target="_blank" href="@Url.Action(nameof(EightWaysGuidanceController.EightWaysOverview), "EightWaysGuidance")">Eight ways to understand your organisation's gender pay gap<span class="visually-hidden">(opens in a new window)</span></a>
            </p>
            <p>
                <a rel="external noopener track" target="_blank" href="/public/assets/pdf/action-plan-guidance.pdf">Four steps to developing a gender pay gap action plan<span class="visually-hidden">(opens in a new window)</span></a>
            </p>
            <p>
                <a rel="external noopener track" target="_blank" href="@Url.Action("Overview", "ActionHub")">Actions to close the gap<span class="visually-hidden">(opens in a new window)</span></a>
            </p>

            <p>
                <button id="NextStep" type="submit" class="govuk-button govuk-!-margin-top-5 govuk-!-width-one-quarter govuk-!-margin-bottom-0" name="command">Sign out</button>
            </p>
            <p>
                <a href="@Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})">Return to @controller.ReportingOrganisation.OrganisationName</a>
            </p>
            <p>
                <a href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")">Return to Manage Employers</a>
            </p>
        }
    </div>
</div>
