@using GenderPayGap.Database
@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.ChangeOrganisationSicCodesViewModel

@{
    ViewBag.Title = $"Change SIC codes - {Model.Organisation.OrganisationName} - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
{
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "SIC codes history",
                Href = Url.Action("ViewSicCodesHistory", "AdminOrganisationSicCodes", new {id = Model.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change SIC codes"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

@{
    object CurrentState()
    {
        Func<object, object> currentStateHtml = @<text>
            @foreach (SicCode sicCode in Model.SicCodesToAdd)
            {
                <input type="hidden" name="@(nameof(ChangeOrganisationSicCodesViewModel.SicCodeIdsToAdd))" value="@(sicCode.SicCodeId)" />
            }
            @foreach (SicCode sicCode in Model.SicCodesToRemove)
            {
                <input type="hidden" name="@(nameof(ChangeOrganisationSicCodesViewModel.SicCodeIdsToRemove))" value="@(sicCode.SicCodeId)" />
            }
        </text>;

        return currentStateHtml(new object());
    }
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change SIC codes
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>

        @(await Html.GovUkErrorSummary(ViewData.ModelState))


        <h2 class="govuk-heading-m">SIC codes to add</h2>

        @if (Model.SicCodesToAdd.Count > 0)
        {
            <form method="post" action="@Url.Action("ChangeSicCodesPost", "AdminOrganisationSicCodes")">
                @(Html.AntiForgeryToken())
                @(Html.Hidden(nameof(ChangeOrganisationSicCodesViewModel.Action),
                    ManuallyChangeOrganisationSicCodesActions.ManualChangeDoNotAddSicCode))
                @(CurrentState())

                <table class="govuk-table">
                    <thead class="govuk-table__head govuk-visually-hidden">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">SIC code</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (SicCode sicCode in Model.SicCodesToAdd)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <b>@(sicCode.SicCodeId)</b>
                                    @(sicCode.Description)
                                    <br/>
                                    <span class="govuk-body-s">
                                        part of: @(sicCode.SicSection.Description)
                                    </span>
                                </td>
                                <td class="govuk-table__cell">
                                    <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                            style="float: right;"
                                            data-module="govuk-button"
                                            name="@(nameof(ChangeOrganisationSicCodesViewModel.SicCodeIdToChange))"
                                            value="@(sicCode.SicCodeId)">
                                        Don't&nbsp;add<span class="govuk-visually-hidden"> SIC code @(sicCode.SicCodeId)</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
        
        <form method="post" action="@Url.Action("ChangeSicCodesPost", "AdminOrganisationSicCodes")">
            @(Html.AntiForgeryToken())
            @(Html.Hidden(nameof(ChangeOrganisationSicCodesViewModel.Action),
                ManuallyChangeOrganisationSicCodesActions.ManualChangeAddSicCode))
            @(CurrentState())

            @(await Html.GovUkTextInputFor(
                m => m.SicCodeIdToChange,
                labelOptions: new LabelViewModel
                {
                    Text = "New SIC code to add"
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               See <a href="http://resources.companieshouse.gov.uk/sic/" target="_blank" rel="noopener" class="govuk-link">Companies House<span class="govuk-visually-hidden">(opens in a new window)</span></a> for the official list of SIC codes
                            </text>
                },
                classes: "govuk-input--width-10 govuk-!-margin-right-2 govuk-!-margin-bottom-2",
                textInputAppendix: new TextInputAppendixViewModel
                {
                    Html = @<text>
                               <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                       style="width: auto;"
                                       data-module="govuk-button">
                                   Add SIC code
                               </button>
                            </text>
                }
            ))
        </form>


        <h2 class="govuk-heading-m">SIC codes to keep</h2>

        @if (Model.SicCodesToKeep.Count == 0)
        {
            <p class="govuk-body">
                No SIC codes to keep
            </p>
        }
        else
        {
            <form method="post" action="@Url.Action("ChangeSicCodesPost", "AdminOrganisationSicCodes")">
                @(Html.AntiForgeryToken())
                @(Html.Hidden(nameof(ChangeOrganisationSicCodesViewModel.Action),
                    ManuallyChangeOrganisationSicCodesActions.ManualChangeRemoveSicCode))
                @(CurrentState())

                <table class="govuk-table">
                    <thead class="govuk-table__head govuk-visually-hidden">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">SIC code</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (SicCode sicCode in Model.SicCodesToKeep)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <b>@(sicCode.SicCodeId)</b>
                                    @(sicCode.Description)
                                    <br />
                                    <span class="govuk-body-s">
                                        part of: @(sicCode.SicSection.Description)
                                    </span>
                                </td>
                                <td class="govuk-table__cell">
                                    <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                            style="float: right;"
                                            data-module="govuk-button"
                                            name="@(nameof(ChangeOrganisationSicCodesViewModel.SicCodeIdToChange))"
                                            value="@(sicCode.SicCodeId)">
                                        Remove<span class="govuk-visually-hidden"> SIC code @(sicCode.SicCodeId)</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }


        <h2 class="govuk-heading-m">SIC codes to remove</h2>

        @if (Model.SicCodesToRemove.Count == 0)
        {
            <p class="govuk-body">
                No SIC codes to remove
            </p>
        }
        else
        {
            <form method="post" action="@Url.Action("ChangeSicCodesPost", "AdminOrganisationSicCodes")">
                @(Html.AntiForgeryToken())
                @(Html.Hidden(nameof(ChangeOrganisationSicCodesViewModel.Action),
                    ManuallyChangeOrganisationSicCodesActions.ManualChangeKeepSicCode))
                @(CurrentState())

                <table class="govuk-table">
                    <thead class="govuk-table__head govuk-visually-hidden">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">SIC code</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (SicCode sicCode in Model.SicCodesToRemove)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <b>@(sicCode.SicCodeId)</b>
                                    @(sicCode.Description)
                                    <br />
                                    <span class="govuk-body-s">
                                        part of: @(sicCode.SicSection.Description)
                                    </span>
                                </td>
                                <td class="govuk-table__cell">
                                    <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                            style="float: right;"
                                            data-module="govuk-button"
                                            name="@(nameof(ChangeOrganisationSicCodesViewModel.SicCodeIdToChange))"
                                            value="@(sicCode.SicCodeId)">
                                        Keep<span class="govuk-visually-hidden"> SIC code @(sicCode.SicCodeId)</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }

        <form method="post" action="@Url.Action("ChangeSicCodesPost", "AdminOrganisationSicCodes")">
            @(Html.AntiForgeryToken())
            @(Html.Hidden(nameof(ChangeOrganisationSicCodesViewModel.Action),
                ManuallyChangeOrganisationSicCodesActions.ManualChangeContinue))
            @(CurrentState())
            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))
        </form>
            
        <p class="govuk-body">
            <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})"
               class="govuk-link">
                Cancel and return to organisation page
            </a>
        </p>

    </div>
</div>
