@using GenderPayGap.WebUI.Models.Report
@using GenderPayGap.WebUI.Views.Components.StatusMessages
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Report.ReportLinkToWebsiteViewModel

@{
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    string formattedReportingYears = $"{Model.ReportingYear}-{(Model.ReportingYear + 1) % 100}";

    string editOrReportTitle = Model.IsEditingSubmittedReturn
        ? "Edit your gender pay gap"
        : "Report your gender pay gap";

    ViewBag.Title = $"{editOrReportTitle} - reporting year {formattedReportingYears} - {Model.Organisation.OrganisationName} - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Your Organisations",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId = encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"{editOrReportTitle} (reporting year {formattedReportingYears})",
                Href = Url.Action("ReportOverview", "ReportOverview",
                    new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})
            },
            new CrumbViewModel
            {
                Text = $"Link to your gender pay gap information"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @{ await Html.RenderPartialAsync("../Components/StatusMessages/StatusMessages", new StatusMessagesViewModel()); }

        @(Html.GovUkErrorSummary())

        <h1 class="govuk-heading-xl">
            @(editOrReportTitle)
            <br />
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
            <br />
            <span class="govuk-!-font-size-27" style="margin-top: 4px; display: block;">
                for reporting year @(formattedReportingYears)
            </span>
        </h1>

        <form method="post"
              action="@Url.Action("ReportLinkToWebsitePost", "ReportLinkToWebsite",
                          new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})">
            @(Html.AntiForgeryToken())

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Link to your gender pay gap information
                    </h2>
                    <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                        You can publish your gender pay gap narrative on your organisation's website.
                        This can provide context for your figures.
                    </div>
                    <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                        <span class="govuk-!-font-weight-bold">Note:</span>
                        If you don't have the URL to hand you can return and add it later.
                    </div>
                </legend>

                @(Html.GovUkTextAreaFor(
                    m => m.LinkToOrganisationWebsite,
                    rows: 5,
                    labelOptions: new LabelViewModel {Text = "Website address (URL) of your gender pay gap information"},
                    hintOptions: new HintViewModel { Text = "This must start with http:// or https://" },
                    formGroupOptions: new FormGroupViewModel { Classes = "govuk-!-margin-bottom-2" }
                ))

            </fieldset>

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Save",
                Name = nameof(Model.Action),
                Value = nameof(ReportPagesAction.Save),
                Classes = "govuk-!-margin-bottom-6"
            }))
            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Save and continue",
                Name = nameof(Model.Action),
                Value = nameof(ReportPagesAction.SaveAndContinue),
                Classes = "govuk-!-margin-bottom-6"
            }))

        </form>

        <p class="govuk-body">
            <a href="@Url.Action("ReportOverview", "ReportOverview",
                         new {encryptedOrganisationId = encryptedOrganisationId, reportingYear = Model.ReportingYear})"
               class="govuk-link">
                Back to report overview
            </a>
        </p>

    </div>
</div>
