@using GenderPayGap.WebUI.Models.Admin
@model GenderPayGap.WebUI.Models.Admin.DownloadViewModel
@{
    ViewBag.Title = "Administration: Downloads";
    var controller = ViewData["Controller"] as BaseController;
}
<main id="content" role="main">
    <div class="breadcrumbs dynamic-content default-content" style="display: block;">
        <ol>
            <li style="display: block; padding-top: 0.75em; padding-bottom: 0;">
                &lt;
                @Html.ActionLink("Back to administration home", "Home")
            </li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            @using (Html.BeginForm())
            {
                @await Html.CustomValidationSummaryAsync()
                @Html.AntiForgeryToken()
                <div style="float:right;font-size:smaller;">
                    <span>
                        <a href="@Url.Action("Downloads", "Admin", new {v = Guid.NewGuid().ToShortString()})" title="Show more recent content"><span class="visually-hidden">Show more recent content </span>@VirtualDateTime.Now.ToString("d MMM HH:mm")</a>
                    </span>
                </div>

                <h1 class="heading-large" style="margin-top: 0.3em;">
                    <span id="companyname">Administration</span>
                    <span class="heading-secondary">Downloads</span>
                </h1>

                foreach (string type in Model.Downloads.Select(d => d.Type).Distinct())
                {
                    IEnumerable<DownloadViewModel.Download> downloads = Model.Downloads.Where(d => d.Type.EqualsI(type));
                    <h2 class="heading-medium">@type</h2>
                    if (!downloads.Any())
                    {
                        <h3 class="heading-medium">No @type.ToLower() files found</h3>
                    }
                    else
                    {
                        foreach (DownloadViewModel.Download download in downloads)
                        {
                            <div style="border-bottom:1px solid lightgrey;padding:5px 0px">
                                @if (download.Modified != null)
                                {
                                    <div>
                                        <a href="@Url.Action("Read", new {filePath = download.Filepath})">
                                            <b>@download.Title</b>
                                        </a><br/>@download.Description</div>
                                    <div class="info">
                                        &#9642; <a href="@Url.Action("Download", new {filePath = download.Filepath})" target="_blank" style="white-space:nowrap">@download.Filename</a>
                                        &#9642; Records: @download.Count
                                        &#9642; Modified: <span title="@download.Modified.Value.ToShortTimeString()">@download.Modified.Value.ToString("d MMM yy HH:mm")</span>
                                        @if (!string.IsNullOrWhiteSpace(download.EhrcAccessKey))
                                        {
                                            <span>&#9642;</span>
                                            <a href="@download.EhrcAccessKey" target="_blank" style="white-space:nowrap">EHRC Link<span class="govuk-visually-hidden"> for @download.Title</span></a>
                                        }
                                        @if (download.ShowUpdateButton)
                                        {
                                            <button type="submit" style="float: right; cursor: pointer;" class="link-button" id="btnUpdate" name="Command" value="Update:@download.Filepath" title="Updates the data records">
                                                Update<span class="govuk-visually-hidden"> @download.Title</span>
                                            </button>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <span style="font-weight:bold">@download.Title</span>
                                    <br/>
                                    @download.Description
                                    <div class="info">
                                        &#9642; No files found
                                        @if (download.ShowUpdateButton)
                                        {
                                            <button type="submit" style="float: right; cursor: pointer;" class="link-button" id="btnUpdate" name="Command" value="Update:@download.Filepath" title="Updates the data records">
                                                Update<span class="govuk-visually-hidden"> @download.Title</span>
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    }
                }
            }
        </div>

    </div>
</main>