@model GenderPayGap.WebUI.Models.Admin.AdminHomepageViewModel
@{
    ViewBag.Title = "Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<h1 class="govuk-heading-xl">Administration</h1>

<form method="GET" action="@(Url.Action("SearchGet", "AdminSearch"))">
    <div class="govuk-form-group">
        <label class="govuk-label" for="search-query">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Search for organisations and users</h2>
        </label>
        <div id="search-query-hint" class="govuk-hint govuk-!-margin-top-0">
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li class="govuk-hint">
                    <span class="govuk-!-font-weight-bold">Organisations:</span> search by current name, previous name, employer reference or company number
                </li>
                <li class="govuk-hint">
                    <span class="govuk-!-font-weight-bold">Users:</span> search by name or email address
                </li>
            </ul>
        </div>
        <div class="gpg-search-box">
            <input  type="text"
                    name="query"
                    id="search-query"
                    class="govuk-input"
                    aria-describedby="search-query-hint">
            <input type="submit" value="Search" class="gpg-search-button"/>
        </div>
    </div>
</form>


<h2 class="govuk-heading-l">Actions</h2>

<p class="govuk-body">
    <a href="@Url.Action("Impersonate", "AdminImpersonateUser")" class="govuk-link govuk-!-font-weight-bold">Impersonate user</a>
    <br/>
    Login as a user to view their screens.
</p>

<p class="govuk-body">
    <a href="@(Url.Action("ManualChanges"))" class="govuk-link govuk-!-font-weight-bold">Execute manual changes</a>
    <br/>
    Execute various manual tasks on system and data.
</p>


<h2 class="govuk-heading-l">Registrations</h2>

<p class="govuk-body">
    <a href="@(Url.Action("UnconfirmedPins", "AdminUnconfirmedPins"))" class="govuk-link govuk-!-font-weight-bold">Unconfirmed PINs in the post</a>
    <br/>
    PINs in the Post that haven't yet been confirmed.
</p>

<p class="govuk-body">
    <a href="@(Url.Action("PendingRegistrations"))" class="govuk-link govuk-!-font-weight-bold">Pending registrations</a>
    <br/>
    List of registrations which are awaiting manual authorisation.
</p>


<h2 class="govuk-heading-l">Information</h2>

<p class="govuk-body">
    <a href="@Url.Action("Downloads", "AdminDownloads")" class="govuk-link govuk-!-font-weight-bold">Downloads</a>
    <br/>
    Download organisation, registration, user, consent.
</p>

<p class="govuk-body">
    <a href="@Url.Action("ReferenceData", "AdminReferenceData")" class="govuk-link govuk-!-font-weight-bold">
        Reference Data (formerly Uploads)
    </a>
    <br />
    Used to keep the list of SIC codes / SIC sections up to date
</p>

<p class="govuk-body">
    <a href="@Url.Action("DatabaseIntegrityChecks", "AdminDatabaseIntegrityChecks")" class="govuk-link govuk-!-font-weight-bold">Database Integrity Checks</a>
    <br/>
    Integrity checks for collected data.
</p>


<h2 class="govuk-heading-l">Logs</h2>

<p class="govuk-body">
    <a href="@Url.Action("ViewFeedback", "AdminFeedback")" class="govuk-link govuk-!-font-weight-bold">View and download feedback</a>
    <br/>
    View and download feedback submitted through the "Send Feedback" links
    <br/>
    @if (Model.NewFeedbackCount > 0)
    {
        <span class="govuk-!-font-weight-bold">
            @(Model.NewFeedbackCount) new responses
        </span>
        <br/>
    }
    Total feedback submissions: @(Model.FeedbackCount)
    <br/>
    Latest feedback received: @(Model.LatestFeedbackDate?.ToString("d MMM yyyy"))
</p>


<h2 class="govuk-heading-l">Background Jobs</h2>

<p class="govuk-body">
    <a href="/admin/hangfire" class="govuk-link govuk-!-font-weight-bold">Background Jobs dashboard (Hangfire)</a>
    <br />
    A technical dashboard showing background jobs that are queued / running / succeeded / failed.
</p>
