@using GenderPayGap.Database
@model List<GenderPayGap.Database.OrganisationAddress>

@{
    ViewBag.Title = "Manually set the IsUkAddress field on addresses in the OrganisatioNAddresses table";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Address Id</th>
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (OrganisationAddress address in Model)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @(address.AddressId)
            </td>
            <td class="govuk-table__cell">
                @(address.PoBox)<br/>
                @(address.Address1)<br/>
                @(address.Address2)<br/>
                @(address.Address3)<br/>
                @(address.TownCity)<br/>
                @(address.County)<br/>
                @(address.Country)<br/>
                @(address.PostCode)<br/>
            </td>
            <td class="govuk-table__cell">
                <button class="govuk-button" data-module="govuk-button" onclick="setIsUK(@(address.AddressId), true);">
                    UK
                </button>
                <button class="govuk-button" data-module="govuk-button" onclick="setIsUK(@(address.AddressId), false);">
                    Non-UK
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    function setIsUK(addressId, isUk) {
        fetch('/admin/manually-set-isukaddress-ajax?addressId=' + addressId + '&isUk=' + isUk);
    }
</script>