@using GenderPayGap.Core
@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminSearchViewModel

@{
    ViewBag.Title = "Search - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("Home", "Admin")
            },
            new CrumbViewModel
            {
                Text = "Search results"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row admin-search-page">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Administration</span>
        <form method="GET" action="@(Url.Action("SearchGet", "AdminSearch"))" id="search-form">
            <div class="govuk-form-group @(Model.Error != null ? "govuk-form-group--error" : "")">
                <label class="govuk-label" for="search-query">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Search for organisations and users</h1>
                </label>
                <div id="search-query-hint" class="govuk-hint govuk-!-margin-top-0">
                    <ul class="govuk-list govuk-!-margin-bottom-0">
                        <li class="govuk-hint">
                            <span class="govuk-!-font-weight-bold">Organisations:</span> search by current name, previous name, employer reference or company number
                        </li>
                        <li class="govuk-hint">
                            <span class="govuk-!-font-weight-bold">Users:</span> search by name or email address
                        </li>
                    </ul>
                </div>
                @if (Model.Error != null)
                {
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @(Model.Error)
                    </span>
                }
                <div class="admin-search-box">
                    <input type="text"
                           name="query"
                           id="search-query"
                           class="govuk-input @(Model.Error != null ? "govuk-input--error" : "") admin-search-input"
                           value="@(Model.SearchQuery)"
                           aria-describedby="search-query-hint">
                    <input type="submit" value="Search" class="admin-search-button"/>
                </div>

                <div class="admin-search-orderby">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                            <div class="govuk-radios__item" style="padding-left: 0;">
                                <legend class="govuk-body govuk-!-font-weight-bold" style="padding-top: 7px;">
                                    Order:
                                </legend>
                            </div>
                            <div class="govuk-radios__item" style="margin-right: 0;">
                                <input class="govuk-radios__input" id="changed-name" name="orderBy" type="radio" value="relevance"
                                       @(Html.Raw(Model.OrderBy == "relevance" ? "checked" : null))
                                       onchange="submitSearchForm();">
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    By relevance
                                </label>
                            </div>
                            <div class="govuk-radios__item" style="margin-right: 0;">
                                <input class="govuk-radios__input" id="changed-name-2" name="orderBy" type="radio" value="alphabetically"
                                       @(Html.Raw(Model.OrderBy == "alphabetically" ? "checked" : null))
                                       onchange="submitSearchForm();">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    Alphabetically
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>

            </div>
        </form>
        <script>
            function submitSearchForm() {
                document.getElementById('search-form').submit();
            }
        </script>

        @if (Model.SearchResults != null)
        {
            <p class="govuk-body-s">
                Changes made within the last @(Model.SearchResults.SearchCacheUpdatedSecondsAgo) seconds will not be reflected in these results.
            </p>

            <details class="govuk-details" data-module="govuk-details" open>
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        <span class="govuk-!-font-weight-bold govuk-!-font-size-48">
                            @(Model.SearchResults.OrganisationResults.Count)
                        </span>
                        organisations containing
                        <span class="govuk-!-font-weight-bold">
                            @(Model.SearchQuery)
                        </span>
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @if (!Model.SearchResults.OrganisationResults.Any())
                    {
                        <div class="govuk-body">
                            No organisations
                        </div>
                    }
                    else
                    {
                        <table class="govuk-table">
                            <thead class="govuk-table__head govuk-visually-hidden">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">
                                        Organisation
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (AdminSearchResultOrganisationViewModel organisation in Model.SearchResults.OrganisationResults)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="@(Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = organisation.OrganisationId}))"
                                               class="govuk-link">
                                                @organisation.OrganisationName
                                            </a>

                                            @foreach (string previousName in organisation.OrganisationPreviousNames)
                                            {
                                                <br/>
                                                @:previously @previousName
                                            }

                                            @if (organisation.EmployerRef != null)
                                            {
                                                <br/>
                                                @:Employer ref: <b>@(organisation.EmployerRef)</b>
                                            }
                                            @if (organisation.CompanyNumber != null)
                                            {
                                                <br/>
                                                @:Company number: <b>@(organisation.CompanyNumber)</b>
                                            }
                                            @if (organisation.Status != OrganisationStatuses.Active)
                                            {
                                                <br/>
                                                <span class="govuk-!-font-weight-bold">(@(organisation.Status))</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </details>

            <details class="govuk-details" data-module="govuk-details" open>
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        <span class="govuk-!-font-weight-bold govuk-!-font-size-48">
                            @(Model.SearchResults.UserResults.Count)
                        </span>
                        users containing
                        <span class="govuk-!-font-weight-bold">
                            @(Model.SearchQuery)
                        </span>
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @if (!Model.SearchResults.UserResults.Any())
                    {
                        <div class="govuk-body">
                            No users
                        </div>
                    }
                    else
                    {
                        <table class="govuk-table">
                            <thead class="govuk-visually-hidden">
                                <tr>
                                    <th scope="col">
                                        User
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (AdminSearchResultUserViewModel user in Model.SearchResults.UserResults)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = user.UserId})"
                                               class="govuk-link">
                                                @user.UserFullName
                                            </a>
                                            <br/>
                                            @user.UserEmailAddress

                                            @if (user.Status != UserStatuses.Active)
                                            {
                                                <br/>
                                                <span class="govuk-!-font-weight-bold">(@(user.Status))</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </details>
        }

    </div>
</div>
