@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Http
@model GenderPayGap.Database.UserOrganisation

@{
    ViewBag.Title = "Send PIN Warning - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        Uri referrer = Context.Request.GetTypedHeaders().Referer;
        string unconfirmedPinsPage = Url.Action("UnconfirmedPins", "AdminUnconfirmedPins", null, "https");
        string viewOrganisationPage = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.OrganisationId}, "https");
        string viewUserPage = Url.Action("ViewUser", "AdminViewUser", new {id = Model.UserId}, "https");

        var crumbs = new List<CrumbViewModel>();
        crumbs.Add(new CrumbViewModel
        {
            Text = "Admin",
            Href = Url.Action("AdminHomePage", "AdminHomepage")
        });

        if (referrer != null && referrer.AbsoluteUri.StartsWith(unconfirmedPinsPage))
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = "Unconfirmed PINs",
                Href = unconfirmedPinsPage
            });
        }
        if (referrer != null && referrer.AbsoluteUri.StartsWith(viewOrganisationPage))
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = viewOrganisationPage
            });
        }
        if (referrer != null && referrer.AbsoluteUri.StartsWith(viewUserPage))
        {
            crumbs.Add(new CrumbViewModel
            {
                Text = Model.User.Fullname,
                Href = viewUserPage
            });
        }

        crumbs.Add(new CrumbViewModel
        {
            Text = "Send PIN"
        });

        @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
        {
            Crumbs = crumbs
        }))
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Send PIN via email
        </h1>

        <p class="govuk-body">
            This will send an email to
            <b>@(Model.User.Fullname)</b>
            from
            <b>@(Model.Organisation.OrganisationName)</b>
            containing their PIN.
        </p>

        <p class="govuk-body">
            Do you wish to continue?
        </p>

        <form method="POST" action="@Url.Action("SendPin", "AdminUnconfirmedPins")">
            @Html.AntiForgeryToken()
            <input type="hidden" name="userId" value="@(Model.User.UserId)" />
            <input type="hidden" name="organisationId" value="@(Model.Organisation.OrganisationId)" />
            <input type="submit" class="govuk-button govuk-!-margin-bottom-4" data-module="govuk-button" value="Send PIN" />
        </form>

        <p class="govuk-body">
            <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})"
               class="govuk-link">
                Cancel and return to organisation page
            </a>
        </p>

    </div>
</div>