@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminReturnLateFlagViewModel

@{
    ViewBag.Title = "Change late flag - Administration - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.Return.Organisation.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Return.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change late flag"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change late flag
            <br/>
            <span class="govuk-!-font-size-27">
                for @(Model.Return.Organisation.OrganisationName)
            </span>
        </h1>

        @(Html.GovUkErrorSummary())

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reporting year</th>
                    <td class="govuk-table__cell">@(Model.Return.GetReportingPeriod())</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Current late flag</th>
                    <td class="govuk-table__cell">@(Model.Return.IsLateSubmission ? "Late" : "Not late")</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New late flag</th>
                    <td class="govuk-table__cell">@(Model.NewLateFlag.Value ? "Late" : "Not late")</td>
                </tr>
            </tbody>
        </table>

        <form method="POST" action="@Url.Action("ChangeLateFlag", "AdminReturnLateFlag", new {id = Model.Return.ReturnId})">
            @(Html.AntiForgeryToken())
            @(Html.HiddenFor(m => m.NewLateFlag))
            <div class="govuk-form-group">

                @Html.GovUkCharacterCountFor(
                    m => m.Reason,
                    labelOptions: new LabelViewModel
                    {
                        Text = "What is the reason for this change?",
                        Classes = "govuk-label--m"
                    },
                    formGroupOptions: new FormGroupViewModel
                    {
                        Classes = "govuk-!-margin-top-6"
                    })

                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Confirm",
                    Classes = "govuk-!-margin-bottom-4"
                }))

                <p class="govuk-body">
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Return.Organisation.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                </p>

            </div>
        </form>
    </div>
</div>
