@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Admin.AdminBulkMarkFeedbackAsSpamViewModel

@{
    ViewBag.Title = "Bulk mark feedback as spam - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = "Feedback",
                Href = Url.Action("ViewFeedback", "AdminFeedback")
            },
            new CrumbViewModel
            {
                Text = "Bulk mark feedback as spam"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @await Html.GovUkErrorSummary(ViewData.ModelState)
        
        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Bulk mark feedback as spam
        </h1>

        <form method="POST" action="@Url.Action("BulkMarkFeedbackAsSpamPost", "AdminFeedback")">
            @(Html.AntiForgeryToken())

            @await Html.GovUkTextAreaFor(
                m => m.FeedbackIdsToMarkAsSpam,
                rows: 20,
                labelOptions: new LabelViewModel
                {
                    Text = "Feedback IDs to mark as spam",
                    Classes = "govuk-label--m"
                },
                hintOptions: new HintViewModel
                {
                    Text = "Put each ID on a separate line, with no other formating (e.g. no commas)"
                })

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Classes = "govuk-!-margin-bottom-4"
            }))

            <p class="govuk-body">
                <a href="@Url.Action("AdminHomePage", "AdminHomepage")"
                   class="govuk-link">
                    Cancel and return to admin homepage
                </a>
            </p>
        </form>

    </div>
</div>
