@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.RemoveUserFromOrganisation.RemoveUserFromOrganisationViewModel
@{
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
    ViewBag.Title = "Remove organisation reason - Gender pay gap service";
    string encryptedOrganisationId = Encryption.EncryptQuerystring(Model.Organisation.OrganisationId.ToString());
    bool userRemovedSelf = Model.UserToRemove.UserId == Model.LoggedInUser.UserId;
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Employers",
                Href = Url.Action("ManageOrganisationsGet", "ManageOrganisations")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ManageOrganisationGet", "ManageOrganisations", new {encryptedOrganisationId})
            },
            new CrumbViewModel
            {
                Text = $"Remove user ({Model.UserToRemove.Fullname})"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                User successfully removed
            </h1>
        </div>

        @if (userRemovedSelf)
        {
            <p class="govuk-body govuk-!-font-weight-bold">
                You have successfully removed yourself from reporting Gender Pay Gap information for @Model.Organisation.OrganisationName.
            </p>
        }
        else
        {
            <p class="govuk-body govuk-!-font-weight-bold">
                You have successfully removed @Model.UserToRemove.Fullname from reporting Gender Pay Gap information for @Model.Organisation.OrganisationName.
            </p>
        }

        <p class="govuk-body">
            This has not deleted the person’s user account, but they will no longer be
            able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>report new gender pay gap information for this employer</li>
            <li>edit or review draft gender pay gap information for this employer</li>
            <li>edit and re-submit existing gender pay gap information for this employer</li>
            <li>change whether this employer is required to report their gender pay gap information</li>
            <li>remove other users that are registered to this employer on the gender pay gap service</li>
        </ul>
        <p class="govuk-body">
            If this was done in error you will need to return to Manage Employers, and
            request to add this employer to your user account.
        </p>

        <div class="govuk-form-group">
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageOrganisationsGet", "ManageOrganisations")">
                    Return to Manage Employers
                </a>
            </p>
        </div>
        
    </div>
</div>