@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change your password - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Manage Account",
                Href = Url.Action("ManageAccountGet", "ManageAccount")
            },
            new CrumbViewModel
            {
                Text = "Change Password"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @(Html.GovUkErrorSummary())
        
        <h1 class="govuk-heading-xl">
            Change your password
        </h1>

        <form method="POST" action="@Url.Action("ChangePasswordPost", "ChangePassword")">
            @(Html.AntiForgeryToken())

            @(Html.GovUkTextInputFor(
                m => m.CurrentPassword,
                type: "password",
                labelOptions: new LabelViewModel {Text = "Current password"},
                autocomplete: "current-password",
                classes: "govuk-input--width-20"
                ))

            @(Html.GovUkTextInputFor(
                m => m.NewPassword,
                type: "password",
                labelOptions: new LabelViewModel {Text = "New password"},
                classes: "govuk-input--width-20"
                ))

            @(Html.GovUkTextInputFor(
                m => m.ConfirmNewPassword,
                type: "password",
                labelOptions: new LabelViewModel {Text = "Confirm new password"},
                classes: "govuk-input--width-20"
                ))

            @(Html.GovUkButton(
                new ButtonViewModel
                {
                    Text = "Confirm",
                    Classes = "govuk-!-margin-bottom-4"
                }
                ))

            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("ManageAccountGet", "ManageAccount")">
                    Cancel
                </a>
            </p>
        </form>
    </div>
</div>

