@using GenderPayGap.Core
@using GenderPayGap.Core.Helpers
@using GenderPayGap.Database
@using GenderPayGap.WebUI.Models.Admin
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GenderPayGap.WebUI.Models.Admin.AdminChangeOrganisationStatusViewModel

@{
    ViewBag.Title = "Change status - Administration - Gender pay gap service";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Admin",
                Href = Url.Action("AdminHomePage", "AdminHomepage")
            },
            new CrumbViewModel
            {
                Text = Model.Organisation.OrganisationName,
                Href = Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Status history",
                Href = Url.Action("ViewStatusHistory", "AdminOrganisationStatus", new {id = Model.Organisation.OrganisationId})
            },
            new CrumbViewModel
            {
                Text = "Change status"
            }
        };
    }

    @(await Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-xl">Administration</span>
        <h1 class="govuk-heading-xl">
            Change status
            <br/>
            <span class="govuk-!-font-size-27">
                for @(Model.Organisation.OrganisationName)
            </span>
        </h1>
        
    </div>
</div>

<form method="POST" action="@Url.Action("ChangeStatusPost", "AdminOrganisationStatus", new {id = Model.Organisation.OrganisationId})">
    @(Html.AntiForgeryToken())

    <input type="hidden" name="@(nameof(AdminChangeOrganisationStatusViewModel.Action))" value="@(ChangeUserStatusViewModelActions.ConfirmStatusChange)"/>
    @(Html.HiddenFor(m => m.NewStatus))
    @(Html.HiddenFor(m => m.Reason))

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <h2 class="govuk-heading-l">
                Check the changes
            </h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Organisation name</th>
                        <td class="govuk-table__cell">@(Model.Organisation.OrganisationName)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Current status</th>
                        <td class="govuk-table__cell">@(Model.Organisation.Status)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">New status</th>
                        <td class="govuk-table__cell">@(Model.NewStatus)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Reason</th>
                        <td class="govuk-table__cell">@(Model.Reason)</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

    @if (Model.Years.Any(y => y.MarkAsOutOfScope))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                
                <h3 class="govuk-heading-m govuk-!-margin-top-3">
                    Reporting years to mark as Out Of Scope
                </h3>
                
                <table class="govuk-table" style="width: fit-content;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Reporting year</th>
                            <th scope="col" class="govuk-table__header">Current scope</th>
                            <th scope="col" class="govuk-table__header">Has reported</th>
                            <th scope="col" class="govuk-table__header">Change of scope?</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (int i = 0; i < Model.Years.Count; i++)
                        {
                            AdminChangeOrganisationStatusReportingYearViewModel year = Model.Years[i];

                            @Html.HiddenFor(m => m.Years[i].ReportingYear)
                            @Html.HiddenFor(m => m.Years[i].MarkAsOutOfScope)

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @(ReportingYearsHelper.FormatYearAsReportingPeriod(year.ReportingYear))
                                </td>
                                <td class="govuk-table__cell">
                                    @(year.CurrentScope.IsInScopeVariant() ? "✅" : "❌")
                                    @(year.CurrentScope)
                                </td>
                                <td class="govuk-table__cell">
                                    @(year.HasReported ? "✅ Reported" : "❌ Not reported")
                                </td>
                                <td class="govuk-table__cell">
                                    @(year.MarkAsOutOfScope ? "Change to “Out Of Scope”" : "No change")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            @if (Model.Organisation.Status == OrganisationStatuses.Active || Model.NewStatus == OrganisationStatuses.Active)
            {
                <h3 class="govuk-heading-m govuk-!-margin-top-3">
                    These users will be
                    @if (Model.NewStatus == OrganisationStatuses.Active)
                    {
                        @: readded to 
                    }
                    else
                    {
                        @: removed from 
                    }
                    the organisation
                </h3>

                @if ((Model.NewStatus == OrganisationStatuses.Active && !Model.InactiveUserOrganisations.Any()) ||
                     (Model.NewStatus != OrganisationStatuses.Active && !Model.Organisation.UserOrganisations.Any()))
                {
                    <div class="govuk-body">
                        No
                        @(Model.NewStatus == OrganisationStatuses.Active ? "inactive" : "active")
                        users
                    </div>
                }
                else
                {
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">User</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">

                            @if (Model.NewStatus == OrganisationStatuses.Active)
                            {
                                @foreach (InactiveUserOrganisation userOrganisation in Model.InactiveUserOrganisations)
                                {
                                    User user = userOrganisation.User;
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = user.UserId})"
                                               class="govuk-link">
                                                @(user.Fullname)
                                            </a>
                                            <br/>
                                            @(user.EmailAddress)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @if (userOrganisation.IsAwaitingActivationPIN())
                                            {
                                                @:Awaiting activation PIN
                                            }
                                            else if (userOrganisation.IsAwaitingRegistrationApproval())
                                            {
                                                @:Awaiting registration approval
                                            }
                                            else
                                            {
                                                @:Registration complete
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @foreach (UserOrganisation userOrganisation in Model.Organisation.UserOrganisations)
                                {
                                    User user = userOrganisation.User;
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="@Url.Action("ViewUser", "AdminViewUser", new {id = user.UserId})"
                                               class="govuk-link">
                                                @(user.Fullname)
                                            </a>
                                            <br/>
                                            @(user.EmailAddress)
                                        </td>
                                        <td class="govuk-table__cell">
                                            @if (userOrganisation.IsAwaitingActivationPIN())
                                            {
                                                @:Awaiting activation PIN
                                            }
                                            else if (userOrganisation.IsAwaitingRegistrationApproval())
                                            {
                                                @:Awaiting registration approval
                                            }
                                            else
                                            {
                                                @:Registration complete
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            }
            <div class="govuk-form-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Confirm",
                    Classes = "govuk-!-margin-bottom-4"
                }))

                <p class="govuk-body">
                    <a href="@Url.Action("ViewOrganisation", "AdminViewOrganisation", new {id = Model.Organisation.OrganisationId})"
                       class="govuk-link">
                        Cancel and return to organisation page
                    </a>
                </p>
            </div>

        </div>
    </div>

</form>
