@using GenderPayGap.Core
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GenderPayGap.WebUI.Models.Account.PasswordResetViewModel

@{
    ViewBag.Title = "Reset password - Gender pay gap service";
    Layout = "~/Views/GovUkFrontend/GovUkFrontendLayout.cshtml";
}

@section BeforeMain {
    @{
        var crumbs = new List<CrumbViewModel>
        {
            new CrumbViewModel
            {
                Text = "Sign In",
                Href = Url.Action("LoginGet", "Login")
            },
            new CrumbViewModel
            {
                Text = "Reset Password"
            }
        };
    }

    @(Html.GovUkBreadcrumbs(new BreadcrumbsViewModel
    {
        Crumbs = crumbs
    }))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.GovUkErrorSummary()
        
        <h1 class="govuk-heading-xl">
            Reset your password
        </h1>
        
        <p class="govuk-body">We'll send you a link by email so you can reset your password.</p>
        
        <form method="POST" action="@Url.Action("PasswordResetPost", "PasswordReset")">
            @(Html.AntiForgeryToken())
        
            @(Html.GovUkTextInputFor(
                m => m.EmailAddress,
                labelOptions: new LabelViewModel {Text = "Enter your email address"},
                type: "email",
                autocomplete: "email",
                classes: "govuk-input--width-20"
                ))

            @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Submit",
                    Classes = "govuk-!-margin-bottom-4"
                }))
            
            <p class="govuk-body">
                <a class="govuk-link" href="@Url.Action("LoginGet", "Login")">
                    Cancel
                </a>
            </p>
        </form>
    </div>
</div>

